
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--gTk {
  padding: 0rem 2.2rem 0rem 2.1rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  border-bottom: solid 0.1rem #e9e8f3;
  box-sizing: border-box;
  position: relative;
  display: flex;
  background-color: #ffffff;

  .item-52-MJz {
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 5.8116rem;
    width: 2.7884rem;
    height: 2.7884rem;
    position: relative;
    object-fit: contain;
  }
  .icon-awesome-chevron-right-1-UPc {
    width: 0.7998rem;
    height: 1.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 3rem 0rem;
  }
  .item--PWa {
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 0.9rem;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .milo--G4a {
    margin-bottom: 2.1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #a3a3a3;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-zamq-YXt {
    margin: 0rem 0.1rem 1.2rem 0.2rem;
    width: calc(100% - 0.3rem);
    height: 10.8rem;
    position: relative;
    flex-shrink: 0;

    .group-24-Tuk {
      height: 4.8rem;
      position: absolute;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 1.7rem 2rem 1.8rem 1.5rem;
      width: 34.4rem;
      left: 0;
      top: 0;
      display: flex;
      background-color: #ffffff;

      .item--mfY {
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 24rem;
        font-size: 1rem;
      }
      .icon-awesome-chevron-right-sia {
        margin-top: 0.1rem;
        width: 0.5998rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-25-a7C {
      width: 34.4rem;
      position: absolute;
      top: 6rem;
      display: flex;
      padding: 1rem 2rem 0.9rem 1.4rem;
      height: 4.8rem;
      left: 0;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
      background-color: #ffffff;
      border-radius: 0.5rem;
      box-sizing: border-box;

      .group-28-GEv {
        margin: 0rem 1.13rem 0.049rem 0rem;
        width: 1.4704rem;
        height: 2.451rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-uqo8-nUA {
        margin-right: 19rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--LEn {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--2NW {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #959595;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .icon-awesome-chevron-right-8RY {
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 0.5998rem;
      }
    }
    .frame-EUa {
      width: 4.245rem;
      height: 6.35rem;
      position: absolute;
      left: 8.8rem;
      top: 3.7rem;
      overflow: hidden;
    }
    .frame-ZWr {
      left: 15.8rem;
      top: 0.9rem;
      overflow: hidden;
      width: 3.809rem;
      height: 6.35rem;
      position: absolute;
    }
  }
  .group-26-VvJ {
    box-sizing: border-box;
    padding: 1rem 2rem 0.9rem 1.4rem;
    width: calc(100% - 0.3rem);
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    margin: 0rem 0.1rem 5.4rem 0.2rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
    height: 4.8rem;

    .group-27-neW {
      flex-shrink: 0;
      margin: 0rem 1.041rem 0.168rem 0rem;
      width: 1.5589rem;
      height: 2.3316rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-hkke-7gn {
      flex-shrink: 0;
      margin-right: 19.6rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      .item--4rv {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
      .item--a4a {
        font-weight: 700;
        line-height: 1.2575;
        color: #959595;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
      }
    }
    .icon-awesome-chevron-right-HUn {
      margin-bottom: 0.1rem;
      width: 0.5998rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .line-3-nwL {
    height: 0.1rem;
    background-color: #e9e8f3;
    flex-shrink: 0;
    margin: 0rem 0.1rem 1.8rem 0.2rem;
    width: calc(100% - 0.3rem);
  }
  .auto-group-mk9q-KAa {
    margin: 0rem 2.8rem 17.3rem 0.1rem;
    width: calc(100% - 2.9rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-3g34-q8v {
      margin: 0.4rem 0.4rem 0rem 0rem;
      width: 1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .passport-of-south-korea-iran-north-korea-chian-myanmar-the-us-and-canada-cannot-be-used-for-identification-LrN {
      flex-shrink: 0;
      max-width: 30.4rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.8649999619;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
  }
  .auto-group-mddc-cJ6 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 6.3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    background-color: #00358a;
    height: 4.6rem;
    font-size: 1.5rem;
    line-height: 1.2575;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--szi {
    width: 100%;
    font-size: 1rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    text-align: center;
    font-weight: 700;
    line-height: 1.2575;
    white-space: nowrap;
    flex-shrink: 0;
  }
}
