
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--aLA {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;

  .auto-group-bwie-sKG {
    width: 39rem;
    height: 57.8rem;
    position: absolute;
    left: 0;
    top: 6.3rem;

    .rectangle-5-y7Q {
      top: 0;
      background-color: #ffffff;
      width: 39rem;
      height: 57.7rem;
      position: absolute;
      left: 0;
    }
    .group-2-6xi {
      left: 0;
      top: 51.1rem;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0.9rem 2.1rem;
      width: 39rem;
      height: 6.7rem;
      position: absolute;
      display: flex;
      align-items: center;

      .auto-group-9e2n-PB8 {
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabpointon-uvA {
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--RtW {
          align-items: center;
          justify-content: center;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
        }
      }
      .auto-group-4kww-XRk {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.1rem;

        .tabwalleton-TqC {
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--QEe {
          align-items: center;
          justify-content: center;
          font-weight: 700;
          color: #00358a;
          flex-shrink: 0;
          margin-right: 0.1rem;
          display: flex;
          font-size: 0.8rem;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-dt6v-K6i {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.2rem;
        height: 100%;
        align-items: center;
        display: flex;

        .tabmarketon-GGr {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.5rem;
        }
        .item--oGn {
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          font-weight: 700;
          margin-left: 0.1rem;
          display: flex;
          justify-content: center;
          font-size: 0.8rem;
        }
      }
      .auto-group-q2u2-5zz {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabviewmoreon-Sae {
          margin-bottom: 0.2rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--Nz6 {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          margin-left: 0.2rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
        }
      }
    }
    .rectangle-6-egi {
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
      top: 2.3rem;
      background-color: #00358a;
    }
    .item-39-xBc {
      top: 3.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.653rem;
      height: 3rem;
      position: absolute;
      left: 32.1653rem;
    }
    .item--4VY {
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 9.3rem;
      left: 6.45rem;
      top: 5.9rem;
      display: flex;
      white-space: nowrap;
      height: 1.1rem;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      color: #ffffff;
      font-weight: 700;
    }
    .item--uFG {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      line-height: 1.2575;
      white-space: nowrap;
      position: absolute;
      top: 3.85rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      width: 2.9rem;
      height: 1.6rem;
      left: 5.15rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .rectangle-11-PAS {
      border-radius: 0 0 0.8rem 0.8rem;
      height: 23.1rem;
      position: absolute;
      left: 2.1rem;
      border: solid 0.1rem #ebebeb;
      background-color: #ffffff;
      width: 34.8rem;
      top: 8.5rem;
      box-sizing: border-box;
    }
    .mlo-266-krw-srJ {
      position: absolute;
      align-items: center;
      font-size: 0.8rem;
      width: 5.8rem;
      color: #707070;
      white-space: nowrap;
      height: 1.1rem;
      top: 9.9rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      left: 5.05rem;
      justify-content: center;
    }
    .item--xsk {
      width: 2.5rem;
      justify-content: center;
      display: flex;
      align-items: center;
      font-weight: 700;
      line-height: 1.2575;
      height: 1.3rem;
      position: absolute;
      left: 29.75rem;
      white-space: nowrap;
      top: 9.85rem;
      font-size: 1rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .icon-awesome-chevron-right-1-rTL {
      position: absolute;
      left: 34.2rem;
      top: 10.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
      height: 1rem;
    }
    .line-1-aPL {
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 12.4rem;
    }
    .line-2-WGz {
      left: 4.2rem;
      top: 27.2rem;
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
    }
    .item-0-qKG {
      width: 1.6rem;
      height: 3.8rem;
      font-size: 3rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 4.2rem;
      top: 13.9rem;
      font-weight: 700;
      color: #000000;
    }
    .milo-w7Q {
      left: 6.9rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      line-height: 1.2575;
      width: 4.1rem;
      top: 15.1rem;
    }
    .usd-S4A {
      width: 4rem;
      height: 1.6rem;
      top: 18.4rem;
      font-size: 1.2rem;
      line-height: 1.2575;
      white-space: nowrap;
      position: absolute;
      left: 4.2rem;
      font-weight: 700;
      color: #6f6f6f;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .rectangle-22-9DU {
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 21.9rem;
      background-color: #dedede;
      border-radius: 0.5rem;
    }
    .rectangle-23-3Zk {
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
      top: 21.9rem;
      background-color: #1d1d1d;
      border-radius: 0.5rem;
    }
    .item--mVk {
      height: 1.3rem;
      line-height: 1.2575;
      color: #000000;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 7rem;
      position: absolute;
      left: 15.95rem;
      top: 28.7rem;
      text-align: center;
      font-size: 1rem;
      white-space: nowrap;
    }
  }
  .auto-group-kthg-dXx {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.5rem 2.1rem 1.7rem 2.1rem;
    width: 39rem;
    height: 5.8rem;

    .enjoy-your-traveling-2-9FQ {
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: 2rem;
      width: 5.6rem;
      height: 100%;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      margin-right: 29.2rem;
      position: relative;
      font-weight: 700;
    }
  }
  .item--Dm4 {
    height: 1.6rem;
    position: absolute;
    justify-content: center;
    color: #000000;
    width: 5.3rem;
    left: 8.9rem;
    align-items: center;
    font-weight: 700;
    white-space: nowrap;
    top: 29.35rem;
    font-size: 1.2rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    display: flex;
    line-height: 1.2575;
  }
  .item--gee {
    color: #ffffff;
    height: 1.6rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    font-weight: 700;
    align-items: center;
    white-space: nowrap;
    left: 26.1rem;
    position: absolute;
    top: 29.35rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: 2.2rem;
  }
}
