
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--jut {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;

  .rectangle-4-LYJ {
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 39rem;
    height: 5.8rem;
    position: absolute;
  }
  .item-170-GB4 {
    top: 1.1rem;
    overflow: hidden;
    width: 4.3942rem;
    height: 3.5611rem;
    position: absolute;
    left: 31.4rem;

    .item-162-y5U {
      display: flex;
      align-items: center;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:8bf1001372a9dfee7402e43a5b9e168e5264142a');
      box-sizing: border-box;
      padding: 0.099rem 0.101rem 0.102rem 0.099rem;
      width: 100%;
      height: 100%;

      .auto-group-zekj-TmL {
        flex-shrink: 0;
        margin-right: 0.002rem;
        width: 4.1884rem;
        height: 3.3594rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .item-931-n2v {
        width: 0.004rem;
        height: 0.0047rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1871rem;
      }
      .item-162-y5U-bg {
        width: 4.3942rem;
        height: 3.5611rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:8bf1001372a9dfee7402e43a5b9e168e5264142a');
      }
    }
  }
  .enjoy-your-traveling-1-Q4J {
    align-items: center;
    font-size: 2rem;
    white-space: nowrap;
    display: flex;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    justify-content: center;
    position: absolute;
    left: 6rem;
    line-height: 1.2575;
    overflow: hidden;
    color: #000000;
    width: 5.1rem;
    height: 2.6rem;
    top: 1.5rem;
  }
  .rectangle-5-eUS {
    width: 39rem;
    height: 53.9rem;
    position: absolute;
    left: 0;
    top: 10.1rem;
    background-color: #ffffff;
  }
  .rectangle-3-ASn {
    width: 39rem;
    height: 3.3rem;
    position: absolute;
    left: 0;
    top: 6.3rem;
    background-color: #1c9bcb;
  }
  .rectangle-6-tdg {
    border-radius: 0.8rem;
    width: 34.8rem;
    height: 5.2rem;
    position: absolute;
    left: 2.1rem;
    top: 12.1rem;
    background-color: #00358a;
  }
  .rectangle-7-DR4 {
    left: 2.1rem;
    top: 22.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
  }
  .rectangle-13-v4a {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 2.1rem;
    top: 34.9rem;
  }
  .rectangle-17-ci6 {
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 2.1rem;
    top: 47rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
  }
  .rectangle-11-uhC {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 20rem;
    top: 22.8rem;
  }
  .rectangle-14-cbc {
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 20rem;
    top: 34.9rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
  }
  .rectangle-18-vcJ {
    left: 20rem;
    top: 47rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
  }
  .rectangle-10-qzA {
    top: 30.2rem;
    border: solid 0.1rem #efefef;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 6.4rem;
    height: 2.1rem;
    position: absolute;
    left: 10.8rem;
    box-sizing: border-box;
  }
  .rectangle-15-YNn {
    top: 42.3rem;
    border: solid 0.1rem #efefef;
    border-radius: 5rem;
    position: absolute;
    left: 10.8rem;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 6.4rem;
    height: 2.1rem;
  }
  .rectangle-19-Sj4 {
    top: 54.4rem;
    background-color: #ffffff;
    border-radius: 5rem;
    border: solid 0.1rem #efefef;
    box-sizing: border-box;
    width: 6.4rem;
    height: 2.1rem;
    position: absolute;
    left: 10.8rem;
  }
  .rectangle-12-xBc {
    height: 2.1rem;
    top: 30.2rem;
    border-radius: 5rem;
    width: 6.4rem;
    position: absolute;
    left: 28.7rem;
    border: solid 0.1rem #efefef;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .rectangle-16-rnn {
    position: absolute;
    border: solid 0.1rem #efefef;
    background-color: #ffffff;
    width: 6.4rem;
    left: 28.7rem;
    top: 42.3rem;
    box-sizing: border-box;
    border-radius: 5rem;
    height: 2.1rem;
  }
  .rectangle-20-mPx {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5rem;
    height: 2.1rem;
    position: absolute;
    left: 28.7rem;
    width: 6.4rem;
    top: 54.4rem;
    border: solid 0.1rem #efefef;
  }
  .item-39-fVL {
    width: 1.9595rem;
    height: 2.2158rem;
    position: absolute;
    left: 4rem;
    top: 13.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--ykv {
    width: 15.9rem;
    height: 1.3rem;
    position: absolute;
    left: 5.95rem;
    top: 7.3rem;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    text-align: center;
    line-height: 1.2575;
  }
  .item--cJ6 {
    position: absolute;
    left: 7.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    width: 2.5rem;
    height: 1.3rem;
    top: 14.1rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--6yx {
    width: 6.5rem;
    top: 20.1rem;
    text-align: center;
    font-size: 1.4rem;
    white-space: nowrap;
    height: 1.8rem;
    position: absolute;
    left: 4.85rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item-0-8-NAn {
    width: 8.4rem;
    height: 1.6rem;
    position: absolute;
    left: 26.7rem;
    top: 20.1rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    align-items: baseline;
    text-align: center;
    font-weight: 700;
    line-height: 1.2575;
    display: flex;

    .item-0-8-NAn-sub-0 {
    }
    .item-0-8-NAn-sub-1 {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #b3b3b3;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
  }
  .item-0-qc6 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    top: 13.3rem;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    width: 1.1rem;
    height: 2.6rem;
    left: 27.5rem;
  }
  .milo-LYr {
    width: 2.3rem;
    height: 1.3rem;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    left: 29.7rem;
    top: 14.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .image-2-3TG {
    position: absolute;
    left: 31.1rem;
    top: 6.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7rem;
    height: 2.2rem;
  }
  .icon-awesome-chevron-right-1-yLv {
    object-fit: contain;
    vertical-align: top;
    width: 0.9725rem;
    height: 1.603rem;
    position: absolute;
    left: 34rem;
    top: 13.9rem;
  }
  .item-53-1-H6i {
    height: 2.7884rem;
    position: absolute;
    left: 2.1001rem;
    top: 1.5001rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.7884rem;
  }
  .airasiacomlogo-npA {
    width: 6.9338rem;
    height: 1.5188rem;
    position: absolute;
    left: 4.0021rem;
    top: 24.5001rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-9-vfU {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 15.4rem;
    top: 22.8rem;
    background-color: #e20000;
  }
  .n-1-s4v {
    overflow: hidden;
    color: #ffffff;
    width: 0.7rem;
    height: 1.3rem;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    justify-content: center;
    font-size: 1rem;
    line-height: 1.2575;
    white-space: nowrap;
    position: absolute;
    left: 15.9rem;
    top: 23rem;
    display: flex;
    align-items: center;
  }
  .mll--Lz6 {
    width: 5.1rem;
    height: 1.1rem;
    top: 27.3rem;
    font-size: 0.8rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 5.3rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2575;
  }
  .mll--diJ {
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    width: 5.1rem;
    position: absolute;
    left: 5.3rem;
    text-align: center;
    font-size: 0.8rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.1rem;
    top: 39.4rem;
    white-space: nowrap;
  }
  .mll--hTG {
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 5.1rem;
    height: 1.1rem;
    top: 51.5rem;
    text-align: center;
    line-height: 1.2575;
    position: absolute;
    left: 5.3rem;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .mll--ZEa {
    width: 5.1rem;
    height: 1.1rem;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    left: 23.2rem;
    top: 27.3rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .item-5--nt2 {
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.1rem;
    text-align: center;
    font-size: 0.8rem;
    top: 39.4rem;
    font-weight: 400;
    white-space: nowrap;
    width: 6.3rem;
    position: absolute;
    left: 23.35rem;
  }
  .item-5--EV8 {
    width: 6.3rem;
    height: 1.1rem;
    left: 23.35rem;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 51.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--v74 {
    white-space: nowrap;
    width: 2rem;
    position: absolute;
    left: 13.2rem;
    font-size: 0.8rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    color: #000000;
    height: 1.1rem;
    top: 30.7rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2575;
  }
  .item--1eJ {
    top: 42.8rem;
    font-weight: 400;
    line-height: 1.2575;
    white-space: nowrap;
    left: 13.2rem;
    height: 1.1rem;
    position: absolute;
    text-align: center;
    font-size: 0.8rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2rem;
  }
  .item--K9C {
    top: 54.9rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    height: 1.1rem;
    position: absolute;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2rem;
    left: 12.5rem;
  }
  .item--1ni {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    width: 2rem;
    height: 1.1rem;
    position: absolute;
    left: 31.1rem;
    top: 30.7rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    color: #000000;
    white-space: nowrap;
  }
  .item--WjU {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    left: 31.1rem;
    top: 42.8rem;
    white-space: nowrap;
    width: 2rem;
    height: 1.1rem;
    color: #000000;
  }
  .item--R5k {
    left: 30.4rem;
    top: 54.9rem;
    font-size: 0.8rem;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    height: 1.1rem;
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2rem;
    font-weight: 400;
  }
  .home-ya-logo-2-Kgv {
    left: 21.9rem;
    top: 24.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.8788rem;
    height: 1.6971rem;
    position: absolute;
  }
  .shinsegae-duty-free-vector-logo-THL {
    height: 1.774rem;
    position: absolute;
    left: 4.0002rem;
    top: 36.6996rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.1574rem;
  }
  .biwordmark-mYv {
    left: 21.9rem;
    top: 36.8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 7.7669rem;
    height: 1.5813rem;
    position: absolute;

    .item-15-Tge {
      margin-right: 0.096rem;
      width: 1.0277rem;
      height: 1.5813rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-24-C8S {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.0959rem;
      width: 1.0277rem;
      height: 1.5813rem;
    }
    .item-25-tmx {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.096rem;
      width: 1.0277rem;
      height: 1.5813rem;
      object-fit: contain;
    }
    .item-5-pfc {
      margin-right: 0.0959rem;
      width: 1.0277rem;
      height: 1.5813rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-6-9Sz {
      margin-right: 0.096rem;
      width: 1.0277rem;
      height: 1.5813rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-7-5Le {
      height: 1.5813rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.0932rem;
      width: 1.0277rem;
    }
    .item-23-Qdp {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 1.0277rem;
      height: 1.5813rem;
    }
  }
  .ca74316a78cd47a19efd91fbbebbb8d5-1-jvz {
    vertical-align: top;
    width: 7.8rem;
    height: 2.7rem;
    position: absolute;
    left: 3.9rem;
    top: 48.2rem;
    object-fit: cover;
  }
  .cubi2012-1-FeS {
    position: absolute;
    left: 21.7rem;
    top: 48.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.6rem;
    height: 1.8rem;
  }
  .rectangle-22-BHC {
    position: absolute;
    left: 0;
    top: 52.9rem;
    background-color: #e9e8f3;
    width: 39rem;
    height: 4.4rem;
  }
  .item-41-W4a {
    height: 1.7646rem;
    position: absolute;
    left: 18.2rem;
    top: 54.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5607rem;
  }
  .airasiacommonogram-2Hp {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 2.1rem;
    top: 54.2rem;
    overflow: hidden;

    .airasiacommonogram-kjc {
      width: 1.8rem;
      height: 1.8rem;
      position: relative;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:4f424f75ead7fded5801c29b46e07c08eb6d27e3');
    }
  }
  .item--GCA {
    white-space: nowrap;
    width: 3.4rem;
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    left: 5.45rem;
    top: 54.4rem;
    text-align: center;
    line-height: 1.2575;
  }
  .item--MDc {
    width: 2.5rem;
    height: 1.3rem;
    position: absolute;
    top: 54.4rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    left: 21.75rem;
    font-size: 1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-23-3s8 {
    top: 53.9rem;
    background-color: #232323;
    border-radius: 5rem;
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    left: 31.9rem;
  }
  .item--aMG {
    left: 33.75rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    top: 54.4rem;
  }
  .item-10-1-Tfx {
    position: absolute;
    left: 14.24rem;
    top: 54.5558rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2231rem;
    height: 0.9835rem;
  }
  .icon-awesome-caret-down-1-BM4 {
    vertical-align: top;
    width: 0.5951rem;
    height: 0.3723rem;
    position: absolute;
    left: 10.8996rem;
    top: 54.9rem;
    object-fit: contain;
  }
  .rectangle-21-uXx {
    position: absolute;
    left: 0;
    top: 57.4rem;
    box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 39rem;
    height: 6.7rem;
  }
  .tabpointon-2Mg {
    position: absolute;
    left: 2.1rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.6rem;
    height: 3.5809rem;
  }
  .tabwalleton-kYa {
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
    height: 3.6rem;
    position: absolute;
    left: 12rem;
    top: 58.2rem;
  }
  .tabmarketon-Gmp {
    position: absolute;
    left: 22.6rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
    height: 3.6rem;
  }
  .tabviewmoreon-Qd8 {
    height: 3.6rem;
    position: absolute;
    left: 33.3rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.6rem;
  }
  .item--Xxe {
    line-height: 1.2575;
    color: #00358a;
    width: 1.5rem;
    height: 1.1rem;
    position: absolute;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    left: 3.15rem;
    top: 62rem;
    text-align: center;
    font-size: 0.8rem;
  }
  .item--e1g {
    height: 1.1rem;
    position: absolute;
    top: 62rem;
    text-align: center;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 1rem;
    left: 13.2rem;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2575;
  }
  .item--Ycr {
    text-align: center;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    height: 1.1rem;
    position: absolute;
    top: 62rem;
    font-size: 0.8rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 1rem;
    left: 23.9rem;
  }
  .item--eft {
    width: 1.5rem;
    left: 34.45rem;
    top: 62rem;
    text-align: center;
    font-size: 0.8rem;
    height: 1.1rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-28-9ce {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5099999905);
    width: 39rem;
    height: 64rem;
    position: absolute;
  }
  .rectangle-24-taE {
    width: 39rem;
    height: 30.1rem;
    position: absolute;
    left: 0;
    top: 33.9rem;
    background-color: #f7f7f7;
    border-radius: 2rem 2rem 0 0;
  }
  .item--ohC {
    display: flex;
    width: 19.5rem;
    left: 2.1rem;
    top: 36.9rem;
    color: #000000;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    align-items: baseline;
    height: 2.6rem;
    position: absolute;
    font-size: 2rem;
    font-weight: 700;

    .item--ohC-sub-0 {
    }
    .item--ohC-sub-1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #00358a;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--ohC-sub-2 {
    }
  }
  .item--FxW {
    top: 40.2rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    width: 31.1rem;
    height: 1.6rem;
    position: absolute;
    left: 2.1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    font-size: 1.23rem;
    white-space: nowrap;
  }
  .rectangle-29-G6v {
    border-radius: 2rem;
    width: 34.4rem;
    height: 11.1rem;
    position: absolute;
    left: 2.3rem;
    top: 45.1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
  }
  .item--Axz {
    font-size: 1rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    line-height: 1.2575;
    width: 4rem;
    height: 1.3rem;
    position: absolute;
    left: 3.9rem;
    top: 46.7rem;
    font-weight: 700;
  }
  .item-3--fer {
    position: absolute;
    left: 3.9rem;
    top: 50.3rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 7.9rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2575;
    white-space: nowrap;
    height: 1.3rem;
  }
  .item--YTk {
    height: 1.3rem;
    top: 53.1rem;
    font-size: 1rem;
    color: #000000;
    white-space: nowrap;
    width: 7.3rem;
    left: 3.9rem;
    font-weight: 400;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
  }
  .line-3-Qkr {
    width: 34.4rem;
    height: 0.1rem;
    position: absolute;
    left: 2.3rem;
    top: 49.2rem;
    background-color: #e9e8f3;
  }
  .group-4-LuQ {
    background-color: #ffffff;
    left: 27.2rem;
    top: 50.3rem;
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;
    width: 4.5rem;
    text-align: center;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    justify-content: center;
    border: solid 0.1rem #e6e6e6;
    height: 1.7rem;
    position: absolute;
    font-size: 0.8rem;
    border-radius: 5rem;
    font-weight: 400;
    line-height: 1.2575;
    align-items: center;
  }
  .group-3-nFc {
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 52.9rem;
    font-size: 0.8rem;
    border-radius: 5rem;
    height: 1.7rem;
    position: absolute;
    left: 27.2rem;
    text-align: center;
    font-weight: 400;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    border: solid 0.1rem #e6e6e6;
    box-sizing: border-box;
    width: 4.5rem;
    background-color: #ffffff;
  }
  .rectangle-32-2ve {
    top: 57.8rem;
    background-color: #00358a;
    border-radius: 0.8rem;
    width: 34.6rem;
    height: 4.6rem;
    position: absolute;
    left: 2.3rem;
  }
  .item--Ye6 {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    width: 3.7rem;
    height: 1.9rem;
    left: 17.7rem;
    top: 59.1rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .icon-circle-check-oa2 {
    left: 33.7rem;
    top: 46.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.1465rem;
    height: 1.1465rem;
    position: absolute;
  }
  .icon-circle-check-gdp {
    top: 50.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.1465rem;
    height: 1.1465rem;
    position: absolute;
    left: 33.7rem;
  }
  .icon-circle-check-1g6 {
    vertical-align: top;
    width: 1.1465rem;
    height: 1.1465rem;
    position: absolute;
    left: 33.7rem;
    top: 53.1rem;
    object-fit: contain;
  }
}
