
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--uGE {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;

  .item-52-Mtv {
    width: 2.7884rem;
    height: 2.7884rem;
    position: absolute;
    left: 2.1rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-gsue-Gkz {
    height: 72.7rem;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: solid 0.1rem #e9e8f3;
    box-sizing: border-box;
    width: 39rem;

    .item--946 {
      white-space: nowrap;
      height: 1.3rem;
      position: absolute;
      left: 15.95rem;
      text-align: center;
      font-size: 1rem;
      line-height: 1.2575;
      width: 7rem;
      top: 69.8rem;
      font-weight: 700;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .rectangle-4-xGS {
      top: 0;
      background-color: #ffffff;
      width: 39rem;
      height: 5.8rem;
      position: absolute;
      left: 0;
    }
    .rectangle-5-VnA {
      background-color: #ffffff;
      width: 39rem;
      height: 53.9rem;
      position: absolute;
      left: 0;
      top: 10.1rem;
    }
    .rectangle-3-qLE {
      position: absolute;
      left: 0;
      top: 6.3rem;
      background-color: #1c9bcb;
      width: 39rem;
      height: 3.3rem;
    }
    .rectangle-6-mjg {
      background-color: #00358a;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
      top: 12.1rem;
    }
    .rectangle-24-gbk {
      position: absolute;
      left: 2.1rem;
      top: 43.4rem;
      background-color: #009fb8;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
    }
    .item-39-oAa {
      position: absolute;
      left: 32.1653rem;
      top: 13.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.653rem;
      height: 3rem;
    }
    .item--KPp {
      left: 6.2rem;
      display: flex;
      justify-content: center;
      top: 7.35rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2575;
      position: absolute;
      align-items: center;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 17.8rem;
      height: 1.3rem;
      white-space: nowrap;
    }
    .item--UR8 {
      height: 1.1rem;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.3rem;
      top: 15.7rem;
      font-size: 0.8rem;
      line-height: 1.2575;
      left: 6.45rem;
      color: #ffffff;
      display: flex;
      font-weight: 700;
    }
    .item--Wsc {
      color: #ffffff;
      width: 9.3rem;
      position: absolute;
      left: 4.3rem;
      top: 47rem;
      font-size: 0.8rem;
      white-space: nowrap;
      height: 1.1rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--9va {
      font-weight: 700;
      align-items: center;
      height: 1.6rem;
      font-size: 1.2rem;
      line-height: 1.2575;
      white-space: nowrap;
      width: 2.9rem;
      left: 5.15rem;
      justify-content: center;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      display: flex;
      top: 13.65rem;
    }
    .item--Ex2 {
      justify-content: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.6rem;
      left: 5.15rem;
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      color: #ffffff;
      width: 2.9rem;
      position: absolute;
      top: 44.95rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .rectangle-11-hai {
      top: 18.3rem;
      border: solid 0.1rem #ebebeb;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0 0 0.8rem 0.8rem;
      width: 34.8rem;
      height: 23.1rem;
      position: absolute;
      left: 2.1rem;
    }
    .rectangle-25-ADQ {
      background-color: #ffffff;
      border-radius: 0 0 0.8rem 0.8rem;
      height: 23.1rem;
      position: absolute;
      left: 2.1rem;
      top: 49.6rem;
      border: solid 0.1rem #ebebeb;
      box-sizing: border-box;
      width: 34.8rem;
    }
    .mll-266-krw-4Zg {
      position: absolute;
      top: 19.7rem;
      align-items: center;
      font-weight: 700;
      color: #707070;
      white-space: nowrap;
      justify-content: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 5.7rem;
      height: 1.1rem;
      left: 5.05rem;
      display: flex;
      font-size: 0.8rem;
      line-height: 1.2575;
    }
    .lzm-64krw-xf4 {
      width: 5.1rem;
      position: absolute;
      left: 4.3rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.1rem;
      top: 51rem;
      display: flex;
      font-size: 0.8rem;
      color: #707070;
      white-space: nowrap;
    }
    .item--Tri {
      top: 19.65rem;
      display: flex;
      align-items: center;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 2.5rem;
      justify-content: center;
      font-weight: 700;
      white-space: nowrap;
      height: 1.3rem;
      position: absolute;
      left: 29.75rem;
      font-size: 1rem;
      color: #000000;
    }
    .item--9jY {
      width: 2.5rem;
      display: flex;
      font-size: 1rem;
      white-space: nowrap;
      position: absolute;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.3rem;
      left: 29.75rem;
      top: 50.95rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .icon-awesome-chevron-right-1-F1t {
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 19.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
    }
    .icon-awesome-chevron-right-2-7Zt {
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 51.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-1-3Ce {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 22.2rem;
      background-color: #e9e8f3;
    }
    .line-3-y6J {
      position: absolute;
      left: 4.2rem;
      top: 53.5rem;
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
    }
    .line-2-WM8 {
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 37rem;
      background-color: #e9e8f3;
      width: 30.6rem;
    }
    .item-0-Ryt {
      font-weight: 700;
      line-height: 1.2575;
      width: 1.6rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 23.7rem;
      font-size: 3rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-0-99C {
      position: absolute;
      left: 4.2rem;
      top: 55rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 1.6rem;
      height: 3.8rem;
      font-size: 3rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
    }
    .mlk-T9t {
      height: 2.3rem;
      position: absolute;
      top: 24.9rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      width: 3.5rem;
      left: 6.9rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .lzm-NXk {
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      width: 3.3rem;
      font-size: 1.8rem;
      left: 6.9rem;
      top: 56.2rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
    }
    .usd-fmk {
      width: 4rem;
      position: absolute;
      top: 28.2rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.6rem;
      left: 4.2rem;
      color: #6f6f6f;
      white-space: nowrap;
    }
    .usd-jWi {
      width: 4rem;
      height: 1.6rem;
      position: absolute;
      font-weight: 700;
      color: #6f6f6f;
      left: 4.2rem;
      top: 59.5rem;
      font-size: 1.2rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-22-3nJ {
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 31.7rem;
      background-color: #dedede;
      border-radius: 0.5rem;
    }
    .rectangle-26-yfx {
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 63rem;
      background-color: #dedede;
      border-radius: 0.5rem;
    }
    .rectangle-23-71U {
      border-radius: 0.5rem;
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
      top: 31.7rem;
      background-color: #1d1d1d;
    }
    .rectangle-27-RXx {
      background-color: #1d1d1d;
      border-radius: 0.5rem;
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
      top: 63rem;
    }
    .item--8xA {
      font-size: 1rem;
      font-weight: 700;
      white-space: nowrap;
      text-align: center;
      height: 1.3rem;
      position: absolute;
      left: 15.95rem;
      top: 38.5rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 7rem;
    }
    .group-2-Qug {
      width: 39rem;
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0.9rem 2.1rem;
      height: 6.7rem;
      top: 57.4rem;

      .auto-group-schg-eZ8 {
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabpointon-bDU {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
        }
        .item--7xW {
          display: flex;
          justify-content: center;
          font-size: 0.8rem;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-weight: 700;
          line-height: 1.2575;
          white-space: nowrap;
        }
      }
      .auto-group-mjhc-dfx {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.1rem;
        height: 100%;
        align-items: center;

        .tabwalleton-yzi {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item--ixJ {
          margin-right: 0.1rem;
          display: flex;
          color: #00358a;
          font-weight: 700;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
        }
      }
      .auto-group-quug-3Dt {
        margin-right: 7.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabmarketon-PoY {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.5rem;
        }
        .item--YAe {
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 0.8rem;
          font-weight: 700;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          margin-left: 0.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .auto-group-n2gj-RkE {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .tabviewmoreon-y14 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.6rem;
          height: 3.6rem;
        }
        .item--6La {
          align-items: center;
          font-size: 0.8rem;
          line-height: 1.2575;
          margin-left: 0.2rem;
          display: flex;
          justify-content: center;
          font-weight: 700;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .item--AbL {
      top: 32.85rem;
      justify-content: center;
      line-height: 1.2575;
      color: #000000;
      height: 1.6rem;
      font-size: 1.2rem;
      font-weight: 700;
      display: flex;
      position: absolute;
      left: 8.9rem;
      align-items: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
    }
    .item--EbC {
      font-size: 1.2rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      top: 32.85rem;
      white-space: nowrap;
      height: 1.6rem;
      left: 26.1rem;
      color: #ffffff;
      position: absolute;
      line-height: 1.2575;
    }
    .rectangle-35-vU2 {
      width: 39rem;
      height: 64rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5099999905);
    }
    .rectangle-36-FWJ {
      position: absolute;
      left: 0;
      top: 18.2rem;
      background-color: #f7f7f7;
      border-radius: 2rem 2rem 0 0;
      width: 39rem;
      height: 45.8rem;
    }
    .item--NL2 {
      width: 23.1rem;
      left: 2.1rem;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 5.1rem;
      position: absolute;
      top: 21.4rem;

      .item--NL2-sub-0 {
      }
      .item--NL2-sub-1 {
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
      }
      .item--NL2-sub-2 {
      }
    }
    .item--hv2 {
      position: absolute;
      font-size: 1.23rem;
      width: 21.4rem;
      height: 3.1rem;
      left: 3.6rem;
      top: 27.7rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .x45366ca984ca00ec0c0c510c0-24fb90d288a7c3acb-5Qn {
      font-size: 1.23rem;
      font-weight: 400;
      line-height: 1.2575;
      width: 16.2rem;
      height: 3.1rem;
      top: 52.1rem;
      text-align: center;
      position: absolute;
      left: 11rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .rectangle-37-WFC {
      top: 57.8rem;
      background-color: #00358a;
      border-radius: 0.8rem;
      width: 16.5rem;
      height: 4.6rem;
      position: absolute;
      left: 2.3rem;
    }
    .rectangle-38-qYN {
      width: 16.5rem;
      height: 4.6rem;
      position: absolute;
      left: 19.6rem;
      top: 57.8rem;
      background-color: #00358a;
      border-radius: 0.8rem;
    }
    .item--AKk {
      left: 8.8rem;
      top: 59.1rem;
      font-size: 1.5rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      width: 3.7rem;
      text-align: center;
    }
    .item--TJr {
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 3.7rem;
      position: absolute;
      top: 59.1rem;
      text-align: center;
      height: 1.9rem;
      left: 26rem;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .itqr-1-m4e {
      width: 17.8rem;
      height: 17.8rem;
      position: absolute;
      left: 10.2rem;
      top: 32.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .vector-GXC {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 2.2rem;
      top: 28rem;
      object-fit: contain;
      vertical-align: top;
    }
    .wallet-Q7c {
      left: 2.1rem;
      top: 1.5rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 5.6rem;
      height: 2.6rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .item--TLn {
    line-height: 1.2575;
    color: #000000;
    height: 1.6rem;
    left: 8.9rem;
    justify-content: center;
    font-size: 1.2rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 64.15rem;
    width: 5.3rem;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .item--hF8 {
    display: flex;
    align-items: center;
    line-height: 1.2575;
    width: 2.2rem;
    left: 26.1rem;
    justify-content: center;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.6rem;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 700;
    top: 64.15rem;
    white-space: nowrap;
  }
}
