
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--JuD {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #efefef;

  .auto-group-7srt-Bi7 {
    border-bottom: solid 0.1rem #e9e8f3;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 72.7rem;
    position: relative;

    .item--T9q {
      width: 7rem;
      position: absolute;
      text-align: center;
      font-weight: 700;
      line-height: 1.2575;
      height: 1.3rem;
      left: 15.95rem;
      top: 69.8rem;
      font-size: 1rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-4-uGj {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      width: 39rem;
      height: 5.8rem;
    }
    .rectangle-5-FbV {
      width: 39rem;
      height: 53.9rem;
      position: absolute;
      left: 0;
      top: 10.1rem;
      background-color: #ffffff;
    }
    .rectangle-3-1Km {
      position: absolute;
      left: 0;
      top: 6.3rem;
      background-color: #1c9bcb;
      width: 39rem;
      height: 3.3rem;
    }
    .rectangle-6-ATZ {
      left: 2.1rem;
      top: 12.1rem;
      background-color: #00358a;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
    }
    .rectangle-24-6c7 {
      background-color: #009fb8;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
      top: 43.4rem;
    }
    .item-39-31Z {
      width: 2.653rem;
      height: 3rem;
      position: absolute;
      left: 32.1653rem;
      top: 13.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--KUs {
      top: 7.35rem;
      justify-content: center;
      left: 6.2rem;
      display: flex;
      font-size: 1rem;
      line-height: 1.2575;
      height: 1.3rem;
      position: absolute;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      color: #ffffff;
      width: 17.8rem;
      font-weight: 700;
    }
    .item--Xaw {
      display: flex;
      font-size: 0.8rem;
      width: 9.3rem;
      top: 15.7rem;
      justify-content: center;
      font-weight: 700;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.1rem;
      position: absolute;
      left: 6.45rem;
      align-items: center;
      line-height: 1.2575;
    }
    .item--yC3 {
      display: flex;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 9.3rem;
      height: 1.1rem;
      top: 47rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      left: 4.3rem;
      font-size: 0.8rem;
    }
    .item--qzw {
      height: 1.6rem;
      top: 13.65rem;
      justify-content: center;
      font-size: 1.2rem;
      color: #ffffff;
      line-height: 1.2575;
      white-space: nowrap;
      width: 2.9rem;
      display: flex;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      left: 5.15rem;
      align-items: center;
    }
    .item--vWb {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 2.9rem;
      height: 1.6rem;
      left: 5.15rem;
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
      align-items: center;
      color: #ffffff;
      position: absolute;
      top: 44.95rem;
    }
    .rectangle-11-ar3 {
      width: 34.8rem;
      height: 23.1rem;
      position: absolute;
      left: 2.1rem;
      border: solid 0.1rem #ebebeb;
      background-color: #ffffff;
      top: 18.3rem;
      box-sizing: border-box;
      border-radius: 0 0 0.8rem 0.8rem;
    }
    .rectangle-25-HEf {
      border: solid 0.1rem #ebebeb;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 34.8rem;
      position: absolute;
      top: 49.6rem;
      height: 23.1rem;
      left: 2.1rem;
      border-radius: 0 0 0.8rem 0.8rem;
    }
    .mll-266-krw-mvX {
      height: 1.1rem;
      font-size: 0.8rem;
      font-weight: 700;
      justify-content: center;
      color: #707070;
      white-space: nowrap;
      position: absolute;
      top: 19.7rem;
      display: flex;
      align-items: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 5.7rem;
      left: 5.05rem;
      line-height: 1.2575;
    }
    .lzm-64krw-Hdy {
      height: 1.1rem;
      top: 51rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.1rem;
      position: absolute;
      left: 4.3rem;
      display: flex;
      font-size: 0.8rem;
      color: #707070;
    }
    .item--1ps {
      left: 29.75rem;
      top: 19.65rem;
      display: flex;
      justify-content: center;
      font-weight: 700;
      width: 2.5rem;
      height: 1.3rem;
      position: absolute;
      font-size: 1rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      line-height: 1.2575;
    }
    .item--Kaf {
      top: 50.95rem;
      display: flex;
      align-items: center;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 2.5rem;
      left: 29.75rem;
      justify-content: center;
      position: absolute;
      white-space: nowrap;
      height: 1.3rem;
      font-size: 1rem;
      font-weight: 700;
      color: #000000;
    }
    .icon-awesome-chevron-right-1-PKd {
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 19.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-awesome-chevron-right-2-XAw {
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 51.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-1-F6w {
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 22.2rem;
    }
    .line-3-Azb {
      top: 53.5rem;
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
    }
    .line-2-8Aj {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 37rem;
      background-color: #e9e8f3;
    }
    .item-0-EjZ {
      color: #000000;
      left: 4.2rem;
      top: 23.7rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.6rem;
      height: 3.8rem;
      position: absolute;
    }
    .item-0-x9m {
      height: 3.8rem;
      left: 4.2rem;
      top: 55rem;
      font-size: 3rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 1.6rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      white-space: nowrap;
    }
    .mlk-sGj {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 2.3rem;
      position: absolute;
      top: 24.9rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      width: 3.5rem;
      left: 6.9rem;
      font-size: 1.8rem;
      line-height: 1.2575;
    }
    .lzm-BoD {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      position: absolute;
      top: 56.2rem;
      left: 6.9rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.3rem;
      height: 2.3rem;
    }
    .usd-KeX {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      top: 28.2rem;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.2575;
      color: #6f6f6f;
      white-space: nowrap;
      width: 4rem;
      height: 1.6rem;
      left: 4.2rem;
    }
    .usd-EmV {
      color: #6f6f6f;
      position: absolute;
      top: 59.5rem;
      line-height: 1.2575;
      font-size: 1.2rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 4rem;
      height: 1.6rem;
      left: 4.2rem;
    }
    .rectangle-35-9dZ {
      width: 39rem;
      height: 64rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5099999905);
    }
    .rectangle-36-gtP {
      border-radius: 2rem 2rem 0 0;
      width: 39rem;
      height: 45.8rem;
      position: absolute;
      left: 0;
      top: 18.2rem;
      background-color: #f7f7f7;
    }
    .item--pzb {
      height: 5.1rem;
      position: absolute;
      font-size: 2rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 23.1rem;
      left: 2.1rem;
      top: 21.4rem;
      font-weight: 700;

      .item--pzb-sub-0 {
      }
      .item--pzb-sub-1 {
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        font-size: 2rem;
      }
      .item--pzb-sub-2 {
      }
    }
    .item--ES3 {
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      top: 27.7rem;
      left: 3.6rem;
      font-size: 1.23rem;
      width: 21.4rem;
      height: 3.1rem;
    }
    .x45366ca984ca00ec0c0c510c0-24fb90d288a7c3acb-CXH {
      left: 11rem;
      font-size: 1.23rem;
      font-weight: 400;
      color: #000000;
      text-align: center;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 16.2rem;
      height: 3.1rem;
      position: absolute;
      top: 52.1rem;
    }
    .rectangle-37-fvf {
      left: 2.3rem;
      top: 57.8rem;
      background-color: #00358a;
      border-radius: 0.8rem;
      width: 16.5rem;
      height: 4.6rem;
      position: absolute;
    }
    .rectangle-38-o1H {
      background-color: #00358a;
      border-radius: 0.8rem;
      width: 16.5rem;
      height: 4.6rem;
      position: absolute;
      left: 19.6rem;
      top: 57.8rem;
    }
    .item--wNP {
      top: 59.1rem;
      font-size: 1.5rem;
      line-height: 1.2575;
      color: #ffffff;
      white-space: nowrap;
      width: 3.7rem;
      height: 1.9rem;
      position: absolute;
      left: 8.8rem;
      text-align: center;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--rVM {
      font-size: 1.5rem;
      white-space: nowrap;
      width: 3.7rem;
      left: 26rem;
      top: 59.1rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.9rem;
      position: absolute;
      text-align: center;
    }
    .itqr-1-wmh {
      left: 10.2rem;
      top: 32.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 17.8rem;
      height: 17.8rem;
      position: absolute;
    }
    .vector-s9Z {
      height: 1rem;
      position: absolute;
      left: 2.2rem;
      top: 28rem;
      object-fit: contain;
      vertical-align: top;
      width: 1rem;
    }
    .wallet-aJs {
      top: 1.5rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      width: 5.6rem;
      position: absolute;
      left: 2.1rem;
      height: 2.6rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .item-52-pyu {
    flex-shrink: 0;
    margin: 0rem 0rem 5.812rem 2.1rem;
    width: 2.7884rem;
    height: 2.7884rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
}
