
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--oez {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;

  .auto-group-epii-hVU {
    box-sizing: border-box;
    padding: 1.3rem 17.2rem 2.4rem 2.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.5rem;

    .icon-awesome-chevron-right-1-1WA {
      width: 0.7998rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 14.4rem 0rem 0rem;
    }
    .item--K14 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
  }
  .auto-group-b5by-pCi {
    width: 100%;
    height: 57.7rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-cyv8-A1g {
      font-size: 1.2rem;
      color: #cecece;
      white-space: nowrap;
      border: solid 0.1rem #eaeaea;
      border-radius: 0.6rem;
      width: 34.7rem;
      left: 2.1rem;
      top: 5.6rem;
      background-color: #ffffff;
      padding: 1.15rem 1.4rem 1.05rem 1.4rem;
      height: 3.8rem;
      font-weight: 700;
      box-sizing: border-box;
      position: absolute;
      display: flex;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .auto-group-vvfg-NNe {
      width: 11.2rem;
      height: 1.1rem;
      position: absolute;
      left: 2.3rem;
      top: 13.3rem;
      display: flex;
      align-items: center;

      .item--JGJ {
        display: flex;
        font-weight: 400;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.3rem;
        font-size: 0.8rem;
        line-height: 1.2575;
        color: #929292;
      }
      .item--1gW {
        color: #929292;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2575;
      }
    }
    .auto-group-2s4i-tVQ {
      top: 14.8rem;
      display: flex;
      align-items: center;
      width: 10rem;
      height: 1.1rem;
      position: absolute;
      left: 2.3rem;

      .item--cgJ {
        margin-right: 0.3rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        display: flex;
        font-size: 0.8rem;
        color: #929292;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--vgz {
        color: #929292;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2575;
      }
    }
    .auto-group-fbhc-R7x {
      position: absolute;
      left: 2.3rem;
      top: 16.3rem;
      display: flex;
      align-items: center;
      width: 9.4rem;
      height: 1.1rem;

      .item--kAE {
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 0.3rem;
        display: flex;
        font-size: 0.8rem;
        font-weight: 400;
        color: #929292;
        line-height: 1.2575;
        flex-shrink: 0;
      }
      .item-7--4wc {
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #929292;
      }
    }
    .line-3-y2z {
      position: absolute;
      left: 2.3rem;
      top: 11.5rem;
      background-color: #e9e8f3;
      width: 34.4rem;
      height: 0.1rem;
    }
    .auto-group-qinv-79C {
      display: flex;
      justify-content: center;
      height: 4.6rem;
      position: absolute;
      white-space: nowrap;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 34.7rem;
      top: 51.1rem;
      line-height: 1.2575;
      font-weight: 700;
      border-radius: 0.8rem;
      color: #ffffff;
      align-items: center;
      background-color: #00358a;
      left: 2.1rem;
      text-align: center;
      font-size: 1.5rem;
    }
    .item--a2n {
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      position: absolute;
      left: 2.1rem;
      top: 2.1rem;
      font-weight: 700;
      color: #000000;
      align-items: baseline;
      width: 16.7rem;
      height: 1.9rem;
      font-size: 1.5rem;

      .item--a2n-sub-0 {
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 700;
      }
      .item--a2n-sub-1 {
      }
    }
  }
}
