
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--sSA {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #efefef;

  .auto-group-wl26-c8r {
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 1.5rem 2.1rem 1.7rem 2.1rem;
    width: 100%;
    height: 5.8rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .enjoy-your-traveling-4-xc2 {
      height: 100%;
      font-weight: 700;
      white-space: nowrap;
      display: flex;
      overflow: hidden;
      position: relative;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      align-items: center;
      margin-right: 29.9rem;
      font-size: 2rem;
      line-height: 1.2575;
      color: #000000;
      width: 4.9rem;
      justify-content: center;
    }
  }
  .auto-group-gcvq-EZY {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-mahg-a7c {
      width: 100%;
      row-gap: 1.6rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.9rem 2.1rem 33.6rem 2.1rem;

      .item--ggS {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--1Cv {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--82e {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--emg {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--Mvz {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
    }
    .auto-group-xewn-fgn {
      padding: 1rem 2.1rem 0.8rem 2.1rem;
      width: 100%;
      height: 6.7rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);

      .auto-group-qjis-yhU {
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabpointon-XU6 {
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--qza {
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.9rem;
          font-size: 0.8rem;
        }
      }
      .auto-group-wg7t-Amx {
        margin-right: 7.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabwalleton-uzS {
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--qdC {
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
        }
      }
      .auto-group-hpuz-xhp {
        margin-right: 7.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabmarketon-iBC {
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--rYJ {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-fnfc-Baa {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .tabviewmoreon-LTU {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.6rem;
        }
        .item--Upa {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #00358a;
        }
      }
    }
  }
}
