
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--zJs {
  overflow: hidden;
  background-color: #efefef;
  width: 100%;
  height: 64.1rem;
  position: relative;

  .rectangle-4-hMh {
    width: 39rem;
    height: 5.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
  }
  .item-170-295 {
    position: absolute;
    left: 31.4rem;
    top: 1.1rem;
    overflow: hidden;
    width: 4.3942rem;
    height: 3.5611rem;

    .item-162-9Dh {
      height: 100%;
      display: flex;
      align-items: center;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:8bf1001372a9dfee7402e43a5b9e168e5264142a');
      box-sizing: border-box;
      padding: 0.099rem 0.101rem 0.102rem 0.099rem;
      width: 100%;

      .auto-group-892f-22b {
        flex-shrink: 0;
        margin-right: 0.002rem;
        width: 4.1884rem;
        height: 3.3594rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .item-931-Xzw {
        flex-shrink: 0;
        margin-top: 0.1871rem;
        width: 0.004rem;
        height: 0.0047rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-162-9Dh-bg {
        height: 3.5611rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:8bf1001372a9dfee7402e43a5b9e168e5264142a');
        width: 4.3942rem;
      }
    }
  }
  .enjoy-your-traveling-1-Myy {
    width: 5.1rem;
    overflow: hidden;
    line-height: 1.2575;
    left: 6rem;
    top: 1.5rem;
    font-size: 2rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 2.6rem;
    color: #000000;
    white-space: nowrap;
    display: flex;
    position: absolute;
    font-weight: 700;
    align-items: center;
    justify-content: center;
  }
  .rectangle-5-psZ {
    left: 0;
    top: 10.1rem;
    background-color: #ffffff;
    width: 39rem;
    height: 53.9rem;
    position: absolute;
  }
  .rectangle-3-Lqu {
    position: absolute;
    left: 0;
    top: 6.3rem;
    background-color: #1c9bcb;
    width: 39rem;
    height: 3.3rem;
  }
  .rectangle-6-6KH {
    width: 34.8rem;
    height: 5.2rem;
    position: absolute;
    left: 2.1rem;
    top: 12.1rem;
    background-color: #00358a;
    border-radius: 0.8rem;
  }
  .rectangle-7-EAb {
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 2.1rem;
    top: 22.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
  }
  .rectangle-13-LjR {
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 2.1rem;
    top: 34.9rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
  }
  .rectangle-17-Epo {
    height: 11.1rem;
    position: absolute;
    left: 2.1rem;
    top: 47rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
  }
  .rectangle-11-jWf {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 20rem;
    top: 22.8rem;
  }
  .rectangle-14-cqM {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
    position: absolute;
    left: 20rem;
    top: 34.9rem;
  }
  .rectangle-18-j9H {
    position: absolute;
    left: 20rem;
    top: 47rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 16.9rem;
    height: 11.1rem;
  }
  .rectangle-10-qi7 {
    left: 10.8rem;
    top: 30.2rem;
    border: solid 0.1rem #efefef;
    width: 6.4rem;
    height: 2.1rem;
    background-color: #ffffff;
    border-radius: 5rem;
    position: absolute;
    box-sizing: border-box;
  }
  .rectangle-15-MgT {
    left: 10.8rem;
    top: 42.3rem;
    border: solid 0.1rem #efefef;
    background-color: #ffffff;
    width: 6.4rem;
    height: 2.1rem;
    position: absolute;
    box-sizing: border-box;
    border-radius: 5rem;
  }
  .rectangle-19-tAb {
    width: 6.4rem;
    height: 2.1rem;
    position: absolute;
    left: 10.8rem;
    top: 54.4rem;
    border: solid 0.1rem #efefef;
    background-color: #ffffff;
    border-radius: 5rem;
    box-sizing: border-box;
  }
  .rectangle-12-bKu {
    border-radius: 5rem;
    position: absolute;
    top: 30.2rem;
    border: solid 0.1rem #efefef;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 6.4rem;
    height: 2.1rem;
    left: 28.7rem;
  }
  .rectangle-16-XDZ {
    height: 2.1rem;
    position: absolute;
    left: 28.7rem;
    border: solid 0.1rem #efefef;
    border-radius: 5rem;
    width: 6.4rem;
    top: 42.3rem;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .rectangle-20-T7D {
    height: 2.1rem;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 6.4rem;
    position: absolute;
    left: 28.7rem;
    top: 54.4rem;
    border: solid 0.1rem #efefef;
    border-radius: 5rem;
  }
  .item-39-k6K {
    position: absolute;
    left: 4rem;
    top: 13.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.9595rem;
    height: 2.2158rem;
  }
  .item--fDH {
    white-space: nowrap;
    width: 15.9rem;
    height: 1.3rem;
    left: 5.95rem;
    text-align: center;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    top: 7.3rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
  }
  .item--Bqq {
    position: absolute;
    text-align: center;
    line-height: 1.2575;
    color: #ffffff;
    white-space: nowrap;
    width: 2.5rem;
    height: 1.3rem;
    left: 7.75rem;
    top: 14.1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--u19 {
    height: 1.8rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    width: 6.5rem;
    left: 4.85rem;
    top: 20.1rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-0-8-zHV {
    line-height: 1.2575;
    width: 8.4rem;
    top: 20.1rem;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    align-items: baseline;
    height: 1.6rem;
    left: 26.7rem;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    display: flex;

    .item-0-8-zHV-sub-0 {
    }
    .item-0-8-zHV-sub-1 {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #b3b3b3;
    }
  }
  .item-0-qqq {
    position: absolute;
    left: 27.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    width: 1.1rem;
    height: 2.6rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    top: 13.3rem;
    text-align: center;
  }
  .milo-84F {
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    top: 14.2rem;
    height: 1.3rem;
    position: absolute;
    left: 29.7rem;
    text-align: center;
    line-height: 1.2575;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2.3rem;
  }
  .image-2-2QX {
    position: absolute;
    left: 31.1rem;
    top: 6.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7rem;
    height: 2.2rem;
  }
  .icon-awesome-chevron-right-1-ZvF {
    width: 0.9725rem;
    height: 1.603rem;
    position: absolute;
    left: 34rem;
    top: 13.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item-53-1-TVq {
    width: 2.7884rem;
    height: 2.7884rem;
    position: absolute;
    left: 2.1001rem;
    top: 1.5001rem;
    object-fit: contain;
    vertical-align: top;
  }
  .airasiacomlogo-vuD {
    object-fit: contain;
    vertical-align: top;
    width: 6.9338rem;
    height: 1.5188rem;
    position: absolute;
    left: 4.0021rem;
    top: 24.5001rem;
  }
  .rectangle-9-T8T {
    position: absolute;
    left: 15.4rem;
    top: 22.8rem;
    background-color: #e20000;
    width: 1.8rem;
    height: 1.8rem;
  }
  .n-1-ZxB {
    font-size: 1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    display: flex;
    align-items: center;
    height: 1.3rem;
    overflow: hidden;
    font-weight: 700;
    color: #ffffff;
    width: 0.7rem;
    position: absolute;
    left: 15.9rem;
    top: 23rem;
    line-height: 1.2575;
    white-space: nowrap;
    justify-content: center;
  }
  .mll--4P9 {
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 5.1rem;
    left: 5.3rem;
    top: 27.3rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    height: 1.1rem;
    white-space: nowrap;
  }
  .mll--LrT {
    height: 1.1rem;
    position: absolute;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    line-height: 1.2575;
    width: 5.1rem;
    left: 5.3rem;
    top: 39.4rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .mll--2zB {
    left: 5.3rem;
    top: 51.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    height: 1.1rem;
    font-size: 0.8rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 5.1rem;
  }
  .mll--A4o {
    width: 5.1rem;
    height: 1.1rem;
    position: absolute;
    left: 23.2rem;
    top: 27.3rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2575;
    white-space: nowrap;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item-5--5hZ {
    width: 6.3rem;
    height: 1.1rem;
    font-size: 0.8rem;
    line-height: 1.2575;
    position: absolute;
    left: 23.35rem;
    top: 39.4rem;
    text-align: center;
    font-weight: 400;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-5--mqH {
    font-weight: 400;
    width: 6.3rem;
    height: 1.1rem;
    position: absolute;
    left: 23.35rem;
    top: 51.5rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--H2w {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 2rem;
    height: 1.1rem;
    position: absolute;
    left: 13.2rem;
    top: 30.7rem;
    color: #000000;
  }
  .item--YzT {
    width: 2rem;
    top: 42.8rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2575;
    color: #000000;
    height: 1.1rem;
    position: absolute;
    left: 13.2rem;
    font-weight: 400;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--5Ub {
    width: 2rem;
    left: 12.5rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.1rem;
    position: absolute;
    top: 54.9rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
  }
  .item--PEP {
    height: 1.1rem;
    top: 30.7rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2rem;
    position: absolute;
    left: 31.1rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .item--VYK {
    line-height: 1.2575;
    width: 2rem;
    position: absolute;
    top: 42.8rem;
    text-align: center;
    font-size: 0.8rem;
    white-space: nowrap;
    height: 1.1rem;
    left: 31.1rem;
    font-weight: 400;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--1mZ {
    color: #000000;
    white-space: nowrap;
    width: 2rem;
    height: 1.1rem;
    position: absolute;
    top: 54.9rem;
    line-height: 1.2575;
    left: 30.4rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .home-ya-logo-2-wfD {
    vertical-align: top;
    width: 5.8788rem;
    height: 1.6971rem;
    position: absolute;
    left: 21.9rem;
    top: 24.6rem;
    object-fit: contain;
  }
  .shinsegae-duty-free-vector-logo-TdZ {
    width: 7.1574rem;
    height: 1.774rem;
    position: absolute;
    left: 4.0002rem;
    top: 36.6996rem;
    object-fit: contain;
    vertical-align: top;
  }
  .biwordmark-zNb {
    display: flex;
    align-items: center;
    width: 7.7669rem;
    height: 1.5813rem;
    position: absolute;
    left: 21.9rem;
    top: 36.8rem;
    overflow: hidden;

    .item-15-i3h {
      flex-shrink: 0;
      margin-right: 0.096rem;
      width: 1.0277rem;
      height: 1.5813rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item-24-Ryh {
      height: 1.5813rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.0959rem;
      width: 1.0277rem;
    }
    .item-25-wSF {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.096rem;
      width: 1.0277rem;
      height: 1.5813rem;
      object-fit: contain;
    }
    .item-5-HFD {
      height: 1.5813rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.0959rem;
      width: 1.0277rem;
    }
    .item-6-Qaj {
      flex-shrink: 0;
      margin-right: 0.096rem;
      width: 1.0277rem;
      height: 1.5813rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .item-7-x6T {
      flex-shrink: 0;
      margin-right: 0.0932rem;
      width: 1.0277rem;
      height: 1.5813rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .item-23-PSf {
      vertical-align: top;
      flex-shrink: 0;
      width: 1.0277rem;
      height: 1.5813rem;
      object-fit: contain;
    }
  }
  .ca74316a78cd47a19efd91fbbebbb8d5-1-Lco {
    object-fit: cover;
    vertical-align: top;
    width: 7.8rem;
    height: 2.7rem;
    position: absolute;
    left: 3.9rem;
    top: 48.2rem;
  }
  .cubi2012-1-f9H {
    height: 1.8rem;
    position: absolute;
    left: 21.7rem;
    top: 48.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.6rem;
  }
  .rectangle-22-my1 {
    width: 39rem;
    height: 4.4rem;
    position: absolute;
    left: 0;
    top: 52.9rem;
    background-color: #e9e8f3;
  }
  .item-41-UsR {
    left: 18.2rem;
    top: 54.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5607rem;
    height: 1.7646rem;
    position: absolute;
  }
  .airasiacommonogram-cyd {
    position: absolute;
    left: 2.1rem;
    top: 54.2rem;
    overflow: hidden;
    width: 1.8rem;
    height: 1.8rem;

    .airasiacommonogram-AVM {
      height: 1.8rem;
      position: relative;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:4f424f75ead7fded5801c29b46e07c08eb6d27e3');
      width: 1.8rem;
    }
  }
  .item--687 {
    height: 1.3rem;
    position: absolute;
    top: 54.4rem;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    width: 3.4rem;
    left: 5.45rem;
    text-align: center;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--bqZ {
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    white-space: nowrap;
    width: 2.5rem;
    left: 21.75rem;
    top: 54.4rem;
    text-align: center;
  }
  .rectangle-23-tZm {
    border-radius: 5rem;
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    left: 31.9rem;
    top: 53.9rem;
    background-color: #232323;
  }
  .item--owd {
    font-size: 1rem;
    font-weight: 700;
    width: 1.3rem;
    height: 1.3rem;
    left: 33.75rem;
    line-height: 1.2575;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 54.4rem;
    text-align: center;
  }
  .item-10-1-ty5 {
    position: absolute;
    left: 14.24rem;
    top: 54.5558rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2231rem;
    height: 0.9835rem;
  }
  .icon-awesome-caret-down-1-dfm {
    vertical-align: top;
    width: 0.5951rem;
    height: 0.3723rem;
    position: absolute;
    left: 10.8996rem;
    top: 54.9rem;
    object-fit: contain;
  }
  .rectangle-21-mmy {
    width: 39rem;
    height: 6.7rem;
    position: absolute;
    left: 0;
    top: 57.4rem;
    box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .tabpointon-u7V {
    width: 3.6rem;
    height: 3.5809rem;
    position: absolute;
    left: 2.1rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .tabwalleton-CsH {
    left: 12rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
    height: 3.6rem;
    position: absolute;
  }
  .tabmarketon-MVH {
    width: 3.5rem;
    height: 3.6rem;
    position: absolute;
    left: 22.6rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .tabviewmoreon-UZu {
    height: 3.6rem;
    position: absolute;
    left: 33.3rem;
    top: 58.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.6rem;
  }
  .item--QCf {
    line-height: 1.2575;
    color: #00358a;
    width: 1.5rem;
    height: 1.1rem;
    left: 3.15rem;
    font-size: 0.8rem;
    font-weight: 700;
    position: absolute;
    top: 62rem;
    text-align: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--X2P {
    text-align: center;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.1rem;
    position: absolute;
    left: 13.2rem;
    line-height: 1.2575;
    color: #000000;
    width: 1rem;
    top: 62rem;
    font-size: 0.8rem;
  }
  .item--r4f {
    text-align: center;
    font-weight: 700;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    line-height: 1.2575;
    white-space: nowrap;
    width: 1rem;
    height: 1.1rem;
    position: absolute;
    left: 23.9rem;
    top: 62rem;
    font-size: 0.8rem;
  }
  .item--Zjm {
    position: absolute;
    left: 34.45rem;
    top: 62rem;
    font-size: 0.8rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    height: 1.1rem;
  }
  .rectangle-28-tX9 {
    width: 39rem;
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5099999905);
  }
  .rectangle-24-Pyh {
    background-color: #f7f7f7;
    border-radius: 2rem 2rem 0 0;
    width: 39rem;
    height: 30.1rem;
    position: absolute;
    left: 0;
    top: 33.9rem;
  }
  .item--vTq {
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    width: 19.5rem;
    left: 2.1rem;
    top: 36.9rem;
    font-size: 2rem;
    align-items: baseline;
    height: 2.6rem;
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    display: flex;

    .item--vTq-sub-0 {
    }
    .item--vTq-sub-1 {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #00358a;
    }
    .item--vTq-sub-2 {
    }
  }
  .item--phd {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.6rem;
    font-size: 1.23rem;
    font-weight: 400;
    top: 40.2rem;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    width: 31.1rem;
    position: absolute;
    left: 2.1rem;
  }
  .rectangle-29-p5M {
    left: 2.3rem;
    top: 45.1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    border-radius: 2rem;
    width: 34.4rem;
    height: 11.1rem;
    position: absolute;
  }
  .item--XEf {
    left: 3.9rem;
    font-size: 1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 4rem;
    height: 1.3rem;
    position: absolute;
    color: #000000;
    top: 46.7rem;
    font-weight: 700;
    line-height: 1.2575;
  }
  .item-3--oCB {
    line-height: 1.2575;
    height: 1.3rem;
    position: absolute;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.9rem;
    left: 3.9rem;
    top: 50.3rem;
  }
  .item--6SB {
    white-space: nowrap;
    line-height: 1.2575;
    width: 7.3rem;
    height: 1.3rem;
    position: absolute;
    left: 3.9rem;
    top: 53.1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .line-3-a6T {
    width: 34.4rem;
    height: 0.1rem;
    position: absolute;
    left: 2.3rem;
    top: 49.2rem;
    background-color: #e9e8f3;
  }
  .group-4-t79 {
    height: 1.7rem;
    left: 27.2rem;
    font-size: 0.8rem;
    background-color: #ffffff;
    border-radius: 5rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    position: absolute;
    text-align: center;
    font-weight: 400;
    display: flex;
    box-sizing: border-box;
    top: 50.3rem;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    border: solid 0.1rem #e6e6e6;
  }
  .group-3-kv3 {
    align-items: center;
    width: 4.5rem;
    top: 52.9rem;
    font-size: 0.8rem;
    line-height: 1.2575;
    color: #000000;
    border-radius: 5rem;
    height: 1.7rem;
    left: 27.2rem;
    font-weight: 400;
    justify-content: center;
    border: solid 0.1rem #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    text-align: center;
    display: flex;
  }
  .rectangle-32-nLw {
    background-color: #00358a;
    border-radius: 0.8rem;
    width: 34.6rem;
    height: 4.6rem;
    position: absolute;
    left: 2.3rem;
    top: 57.8rem;
  }
  .item--ikP {
    height: 1.9rem;
    position: absolute;
    left: 17.7rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.7rem;
    top: 59.1rem;
    text-align: center;
    color: #ffffff;
  }
  .icon-circle-check-Dx3 {
    width: 1.1465rem;
    height: 1.1465rem;
    position: absolute;
    left: 33.7rem;
    top: 46.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .icon-circle-check-YUX {
    width: 1.1465rem;
    height: 1.1465rem;
    position: absolute;
    left: 33.7rem;
    top: 50.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .icon-circle-check-gqd {
    height: 1.1465rem;
    position: absolute;
    left: 33.7rem;
    top: 53.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.1465rem;
  }
}
