
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--kUA {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;

  .item-52-BpN {
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 2.7884rem;
    height: 2.7884rem;
    position: absolute;
    left: 2.1rem;
  }
  .auto-group-9s5t-uVU {
    line-height: 1.2575;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 5.8rem 16.05rem 0rem 15.95rem;
    height: 0.1rem;
    font-size: 1rem;
    top: 64rem;
    font-weight: 700;
    border-bottom: solid 0.1rem #e9e8f3;
    width: 39rem;
    position: absolute;
    left: 0;
    text-align: center;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .auto-group-qhmk-iSv {
    left: 0;
    top: 0;
    width: 39rem;
    height: 64rem;
    position: absolute;

    .rectangle-5-zfL {
      left: 0;
      top: 10.1rem;
      background-color: #ffffff;
      width: 39rem;
      height: 53.9rem;
      position: absolute;
    }
    .item--j78 {
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      left: 8.9rem;
      top: 32.85rem;
      display: flex;
      font-weight: 700;
      width: 5.3rem;
      align-items: center;
      font-size: 1.2rem;
      color: #000000;
      height: 1.6rem;
      justify-content: center;
      white-space: nowrap;
    }
    .item--Bjp {
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      top: 32.85rem;
      font-size: 1.2rem;
      line-height: 1.2575;
      height: 1.6rem;
      align-items: center;
      position: absolute;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      color: #ffffff;
      width: 2.2rem;
      left: 26.1rem;
    }
    .rectangle-4-Exz {
      background-color: #ffffff;
      width: 39rem;
      height: 5.8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .rectangle-3-amx {
      width: 39rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 6.3rem;
      background-color: #1c9bcb;
    }
    .rectangle-6-7Wz {
      position: absolute;
      left: 2.1rem;
      top: 12.1rem;
      background-color: #00358a;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
    }
    .rectangle-24-dVL {
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
      top: 43.4rem;
      background-color: #009fb8;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
    }
    .item-39-YcJ {
      vertical-align: top;
      width: 2.653rem;
      height: 3rem;
      position: absolute;
      left: 32.1653rem;
      top: 13.7rem;
      object-fit: contain;
    }
    .item--GYJ {
      white-space: nowrap;
      line-height: 1.2575;
      position: absolute;
      left: 6.2rem;
      top: 7.35rem;
      display: flex;
      justify-content: center;
      height: 1.3rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-size: 1rem;
      align-items: center;
      color: #ffffff;
      width: 17.8rem;
    }
    .item--GAv {
      left: 6.45rem;
      display: flex;
      justify-content: center;
      font-size: 0.8rem;
      width: 9.3rem;
      font-weight: 700;
      color: #ffffff;
      top: 15.7rem;
      white-space: nowrap;
      height: 1.1rem;
      align-items: center;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
    }
    .item--swQ {
      height: 1.1rem;
      font-size: 0.8rem;
      font-weight: 700;
      white-space: nowrap;
      display: flex;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 9.3rem;
      position: absolute;
      left: 4.3rem;
      top: 47rem;
    }
    .item--vug {
      position: absolute;
      justify-content: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2575;
      height: 1.6rem;
      left: 5.15rem;
      top: 13.65rem;
      white-space: nowrap;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 2.9rem;
    }
    .item--cnW {
      position: absolute;
      left: 5.15rem;
      top: 44.95rem;
      justify-content: center;
      font-weight: 700;
      height: 1.6rem;
      display: flex;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.9rem;
      align-items: center;
      font-size: 1.2rem;
      line-height: 1.2575;
      color: #ffffff;
    }
    .rectangle-11-7jG {
      box-sizing: border-box;
      width: 34.8rem;
      height: 23.1rem;
      left: 2.1rem;
      background-color: #ffffff;
      border-radius: 0 0 0.8rem 0.8rem;
      position: absolute;
      top: 18.3rem;
      border: solid 0.1rem #ebebeb;
    }
    .milo-266-krw-pNn {
      font-weight: 700;
      color: #707070;
      position: absolute;
      justify-content: center;
      line-height: 1.2575;
      white-space: nowrap;
      top: 19.7rem;
      display: flex;
      align-items: center;
      width: 6.1rem;
      left: 4.9rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.1rem;
      font-size: 0.8rem;
    }
    .lzm-64krw-raN {
      height: 1.1rem;
      top: 51rem;
      font-size: 0.8rem;
      font-weight: 700;
      color: #707070;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.1rem;
      position: absolute;
      left: 4.3rem;
      display: flex;
      line-height: 1.2575;
    }
    .item--ZDt {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 2.5rem;
      display: flex;
      align-items: center;
      color: #000000;
      height: 1.3rem;
      left: 29.75rem;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.2575;
      white-space: nowrap;
      position: absolute;
      top: 19.65rem;
      justify-content: center;
    }
    .item--3uk {
      position: absolute;
      top: 50.95rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-size: 1rem;
      width: 2.5rem;
      height: 1.3rem;
      left: 29.75rem;
      justify-content: center;
      font-weight: 700;
      display: flex;
      align-items: center;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .icon-awesome-chevron-right-1-wkE {
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 19.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-awesome-chevron-right-2-s86 {
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 51.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-1-Ps8 {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 22.2rem;
      background-color: #e9e8f3;
    }
    .line-3-QXL {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 53.5rem;
      background-color: #e9e8f3;
    }
    .line-2-Hr2 {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 37rem;
      background-color: #e9e8f3;
    }
    .item-0-2Yi {
      width: 1.6rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
      top: 23.7rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .milo-XVU {
      height: 2.3rem;
      position: absolute;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.1rem;
      left: 6.9rem;
      top: 24.9rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .usd-ScS {
      width: 4rem;
      top: 28.2rem;
      font-size: 1.2rem;
      line-height: 1.2575;
      color: #6f6f6f;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.6rem;
      position: absolute;
      left: 4.2rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .rectangle-22-ZBG {
      position: absolute;
      left: 4.2rem;
      top: 31.7rem;
      background-color: #dedede;
      border-radius: 0.5rem;
      width: 14.7rem;
      height: 3.8rem;
    }
    .rectangle-23-UZ8 {
      border-radius: 0.5rem;
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
      top: 31.7rem;
      background-color: #1d1d1d;
    }
    .item--QBt {
      font-size: 1rem;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      left: 15.95rem;
      top: 38.5rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 7rem;
      height: 1.3rem;
    }
    .rectangle-39-RMt {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5099999905);
      width: 39rem;
      height: 64rem;
    }
    .rectangle-40-MWS {
      width: 39rem;
      height: 35.9rem;
      position: absolute;
      left: 0;
      top: 28.1rem;
      background-color: #f7f7f7;
      border-radius: 2rem 2rem 0 0;
    }
    .icon-awesome-chevron-right-3-HQ6 {
      left: 33.9rem;
      top: 37.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.6rem;
      height: 1rem;
      position: absolute;
    }
    .item--p98 {
      line-height: 1.2575;
      color: #000000;
      left: 2.1rem;
      height: 5.1rem;
      position: absolute;
      top: 31.3rem;
      font-size: 2rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 23.1rem;

      .item--p98-sub-0 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--p98-sub-1 {
      }
    }
    .item--SJv {
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 21.1rem;
      position: absolute;
      left: 3.6rem;
      top: 37.6rem;
      font-weight: 400;
      line-height: 1.2575;
      height: 4.7rem;
      font-size: 1.23rem;
    }
    .rectangle-41-MKQ {
      top: 45.5rem;
      background-color: #00358a;
      border-radius: 0.8rem;
      width: 34rem;
      height: 4.6rem;
      position: absolute;
      left: 2.1rem;
    }
    .rectangle-42-g6n {
      left: 2.1rem;
      top: 51.2rem;
      background-color: #ff5b00;
      border-radius: 0.8rem;
      width: 34rem;
      height: 4.6rem;
      position: absolute;
    }
    .rectangle-43-Cav {
      width: 34rem;
      height: 4.6rem;
      position: absolute;
      left: 2.1rem;
      top: 56.9rem;
      background-color: #0047ff;
      border-radius: 0.8rem;
    }
    .item--8Dg {
      color: #ffffff;
      height: 1.9rem;
      top: 46.8rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      white-space: nowrap;
      width: 6.9rem;
      position: absolute;
      left: 23.9rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--1YN {
      left: 26.7rem;
      white-space: nowrap;
      top: 52.5rem;
      text-align: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2575;
      width: 6rem;
      height: 1.9rem;
      position: absolute;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--guQ {
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 6.9rem;
      position: absolute;
      left: 25.8rem;
      top: 58.2rem;
      text-align: right;
      height: 1.9rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
    }
    .group-9-ytW {
      left: 3.7rem;
      top: 47.1748rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.25rem;
      height: 1.2023rem;
      position: absolute;
    }
    .icon-awesome-chevron-right-siz {
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 33.9rem;
      top: 47.3rem;
    }
    .layer-1-nLA {
      top: 52.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.37rem;
      height: 1.8458rem;
      position: absolute;
      left: 3.6rem;
    }
    .vector-iUi {
      width: 6.5969rem;
      height: 1.3429rem;
      position: absolute;
      left: 3.5817rem;
      top: 58.4057rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-awesome-chevron-right-4Hg {
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 33.9rem;
      top: 53rem;
    }
    .icon-awesome-chevron-right-BdC {
      height: 1rem;
      position: absolute;
      left: 33.9rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
    }
    .vector-7mk {
      vertical-align: top;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 2.2rem;
      top: 37.9rem;
      object-fit: contain;
    }
    .wallet-rUS {
      position: absolute;
      left: 2.1rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      width: 5.6rem;
      height: 2.6rem;
      top: 1.5rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
    }
  }
  .item--wVt {
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
    left: 8.9rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    top: 64.15rem;
    align-items: center;
    justify-content: center;
    width: 5.3rem;
    font-weight: 700;
    line-height: 1.2575;
    display: flex;
  }
  .item--crv {
    height: 1.6rem;
    top: 64.15rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    display: flex;
    width: 2.2rem;
    justify-content: center;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 26.1rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
