
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--hdc {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #efefef;

  .auto-group-vm86-2vn {
    box-sizing: border-box;
    padding: 1.5rem 2.1rem 1.7rem 2.1rem;
    width: 100%;
    height: 5.8rem;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.5rem;

    .enjoy-your-traveling-3-MTG {
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      justify-content: center;
      margin-right: 28.6rem;
      width: 6.2rem;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1.2575;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      font-size: 2rem;
      font-weight: 700;
    }
  }
  .auto-group-cfz4-2JW {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.8rem 0rem 0.1rem 0rem;

    .auto-group-ywzn-8sL {
      margin: 0rem 2.1rem 41.9rem 2.1rem;
      width: calc(100% - 4.2rem);
      display: flex;
      border-radius: 0.8rem;
      flex-shrink: 0;
      justify-content: center;
      white-space: nowrap;
      height: 7.2rem;
      align-items: center;
      line-height: 1.2575;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      background-color: rgba(34, 34, 45, 0.5);
    }
    .auto-group-aqna-ajL {
      box-sizing: border-box;
      width: 100%;
      height: 6.7rem;
      align-items: center;
      flex-shrink: 0;
      padding: 1rem 2.1rem 0.8rem 2.1rem;
      display: flex;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .auto-group-p92a-hJA {
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabpointon-qfG {
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--MtW {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.9rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-fuq8-gQz {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.1rem;
        height: 100%;

        .tabwalleton-EBc {
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--9Ja {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-mrkn-ULr {
        margin-right: 7.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabmarketon-chx {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
        }
        .item--MfY {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #00358a;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .auto-group-sn9p-5rS {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabviewmoreon-dd4 {
          margin-bottom: 0.2rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--mjG {
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
    }
  }
}
