
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--EST {
  border-bottom: solid 0.1rem #e9e8f3;
  box-sizing: border-box;
  background-color: #efefef;
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;

  .item--Hfd {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    left: 15.95rem;
    line-height: 1.2575;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    width: 7rem;
    position: absolute;
    top: 69.8rem;
    text-align: center;
  }
  .rectangle-4-wVH {
    height: 5.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 39rem;
  }
  .rectangle-5-gxf {
    width: 39rem;
    height: 53.9rem;
    position: absolute;
    left: 0;
    top: 10.1rem;
    background-color: #ffffff;
  }
  .rectangle-3-bZq {
    position: absolute;
    left: 0;
    top: 6.3rem;
    background-color: #1c9bcb;
    width: 39rem;
    height: 3.3rem;
  }
  .rectangle-6-XyH {
    border-radius: 0.8rem 0.8rem 0 0;
    width: 34.8rem;
    height: 6.2rem;
    position: absolute;
    left: 2.1rem;
    top: 12.1rem;
    background-color: #00358a;
  }
  .rectangle-24-sGT {
    width: 34.8rem;
    height: 6.2rem;
    position: absolute;
    left: 2.1rem;
    top: 43.4rem;
    background-color: #009fb8;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .item-39-PVh {
    object-fit: contain;
    vertical-align: top;
    width: 2.653rem;
    height: 3rem;
    position: absolute;
    left: 32.1653rem;
    top: 13.7rem;
  }
  .item--7gb {
    font-weight: 700;
    white-space: nowrap;
    width: 17.8rem;
    top: 7.35rem;
    color: #ffffff;
    left: 6.2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 1.3rem;
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    justify-content: center;
    line-height: 1.2575;
  }
  .item--wfd {
    align-items: center;
    top: 15.7rem;
    display: flex;
    white-space: nowrap;
    width: 9.3rem;
    height: 1.1rem;
    position: absolute;
    font-size: 0.8rem;
    color: #ffffff;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    left: 6.45rem;
    justify-content: center;
    font-weight: 700;
  }
  .item--aTh {
    width: 9.3rem;
    top: 47rem;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    white-space: nowrap;
    height: 1.1rem;
    position: absolute;
    left: 4.3rem;
    line-height: 1.2575;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--tco {
    width: 2.9rem;
    position: absolute;
    top: 13.65rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    align-items: center;
    white-space: nowrap;
    height: 1.6rem;
    left: 5.15rem;
    font-size: 1.2rem;
    color: #ffffff;
  }
  .item--xMm {
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    height: 1.6rem;
    font-size: 1.2rem;
    top: 44.95rem;
    display: flex;
    align-items: center;
    width: 2.9rem;
    left: 5.15rem;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .rectangle-11-DHh {
    width: 34.8rem;
    position: absolute;
    top: 18.3rem;
    background-color: #ffffff;
    border-radius: 0 0 0.8rem 0.8rem;
    height: 23.1rem;
    left: 2.1rem;
    border: solid 0.1rem #ebebeb;
    box-sizing: border-box;
  }
  .rectangle-25-gwy {
    width: 34.8rem;
    height: 23.1rem;
    position: absolute;
    left: 2.1rem;
    border-radius: 0 0 0.8rem 0.8rem;
    top: 49.6rem;
    border: solid 0.1rem #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .milo-266-krw-B83 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #707070;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.1rem;
    left: 4.9rem;
    top: 19.7rem;
    line-height: 1.2575;
    width: 6.1rem;
    font-size: 0.8rem;
  }
  .lzm-64krw-tYF {
    height: 1.1rem;
    left: 4.3rem;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.1rem;
    position: absolute;
    top: 51rem;
    line-height: 1.2575;
    color: #707070;
  }
  .item--o9R {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 700;
    position: absolute;
    left: 29.75rem;
    display: flex;
    align-items: center;
    color: #000000;
    width: 2.5rem;
    top: 19.65rem;
    justify-content: center;
    line-height: 1.2575;
  }
  .item--WJj {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    font-weight: 700;
    line-height: 1.2575;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    top: 50.95rem;
    font-size: 1rem;
    color: #000000;
    width: 2.5rem;
    height: 1.3rem;
    left: 29.75rem;
  }
  .icon-awesome-chevron-right-1-1FV {
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 34.2rem;
    top: 19.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .icon-awesome-chevron-right-2-L2s {
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 34.2rem;
    top: 51.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .line-1-4zT {
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
    top: 22.2rem;
    background-color: #e9e8f3;
    width: 30.6rem;
  }
  .line-3-PWw {
    top: 53.5rem;
    background-color: #e9e8f3;
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
  }
  .line-2-Lh5 {
    top: 37rem;
    background-color: #e9e8f3;
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
  }
  .item-0-HsD {
    position: absolute;
    font-weight: 700;
    line-height: 1.2575;
    white-space: nowrap;
    width: 1.6rem;
    height: 3.8rem;
    left: 4.2rem;
    top: 23.7rem;
    font-size: 3rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item-0-pMM {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
    font-size: 3rem;
    color: #000000;
    white-space: nowrap;
    width: 1.6rem;
    top: 55rem;
    font-weight: 700;
    line-height: 1.2575;
  }
  .milo-Gj9 {
    width: 4.1rem;
    height: 2.3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 6.9rem;
    top: 24.9rem;
    line-height: 1.2575;
  }
  .lzm-8WT {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.3rem;
    height: 2.3rem;
    left: 6.9rem;
    top: 56.2rem;
    line-height: 1.2575;
  }
  .usd-G6s {
    position: absolute;
    left: 4.2rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.6rem;
    top: 28.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #6f6f6f;
    width: 4rem;
  }
  .usd-mpK {
    width: 4rem;
    left: 4.2rem;
    top: 59.5rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #6f6f6f;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.6rem;
    position: absolute;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  .rectangle-22-JpF {
    background-color: #dedede;
    border-radius: 0.5rem;
    width: 14.7rem;
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
    top: 31.7rem;
  }
  .rectangle-26-rKy {
    width: 14.7rem;
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
    top: 63rem;
    background-color: #dedede;
    border-radius: 0.5rem;
  }
  .rectangle-23-yfV {
    width: 14.6rem;
    height: 3.8rem;
    position: absolute;
    left: 20rem;
    top: 31.7rem;
    background-color: #1d1d1d;
    border-radius: 0.5rem;
  }
  .rectangle-27-KjM {
    width: 14.6rem;
    height: 3.8rem;
    position: absolute;
    left: 20rem;
    top: 63rem;
    background-color: #1d1d1d;
    border-radius: 0.5rem;
  }
  .item--Geb {
    top: 38.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    left: 15.95rem;
    white-space: nowrap;
    color: #000000;
    width: 7rem;
    position: absolute;
  }
  .group-2-8B1 {
    box-sizing: border-box;
    padding: 0.9rem 2.1rem;
    position: absolute;
    top: 57.4rem;
    width: 39rem;
    height: 6.7rem;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    .auto-group-gk95-nmM {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 6.3rem;
      height: 100%;
      align-items: center;

      .tabpointon-Lns {
        margin-bottom: 0.2191rem;
        width: 3.6rem;
        height: 3.5809rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--faF {
        align-items: center;
        font-weight: 700;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-ehpu-nPy {
      margin-right: 7.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .tabwalleton-LgP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 3.5rem;
        height: 3.6rem;
      }
      .item--46b {
        margin-right: 0.1rem;
        font-size: 0.8rem;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2575;
        color: #00358a;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }
    }
    .auto-group-wdif-mFu {
      flex-shrink: 0;
      margin-right: 7.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .tabmarketon-7qZ {
        width: 3.5rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
      }
      .item--GiT {
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        justify-content: center;
        font-size: 0.8rem;
        align-items: center;
        font-weight: 700;
        margin-left: 0.1rem;
        display: flex;
      }
    }
    .auto-group-nyxd-bkj {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .tabviewmoreon-jc3 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 3.6rem;
        height: 3.6rem;
      }
      .item--gXH {
        flex-shrink: 0;
        margin-left: 0.2rem;
        display: flex;
        font-size: 0.8rem;
        line-height: 1.2575;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
    }
  }
  .item--n4X {
    width: 5.3rem;
    height: 1.6rem;
    align-items: center;
    left: 8.9rem;
    display: flex;
    justify-content: center;
    line-height: 1.2575;
    position: absolute;
    top: 32.75rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
  }
  .item--UT9 {
    top: 32.75rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    height: 1.6rem;
    left: 26.2rem;
    align-items: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    line-height: 1.2575;
    font-weight: 700;
    color: #ffffff;
    width: 2.2rem;
    font-size: 1.2rem;
  }
  .rectangle-28-xt7 {
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5099999905);
    width: 39rem;
  }
  .rectangle-34-icP {
    position: absolute;
    left: 0;
    top: 41.3rem;
    background-color: #f7f7f7;
    border-radius: 2rem 2rem 0 0;
    width: 39rem;
    height: 22.7rem;
  }
  .item--6N3 {
    width: 22.3rem;
    height: 5.1rem;
    top: 44.5rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    left: 2.1rem;
    font-size: 2rem;
    color: #000000;

    .item--6N3-sub-0 {
    }
    .item--6N3-sub-1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #00358a;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--6N3-sub-2 {
    }
  }
  .item--iGw {
    width: 21.4rem;
    left: 3.6rem;
    top: 50.8rem;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 3.1rem;
    position: absolute;
    font-size: 1.23rem;
    font-weight: 400;
  }
  .rectangle-32-JF9 {
    left: 2.3rem;
    top: 57.8rem;
    background-color: #00358a;
    border-radius: 0.8rem;
    width: 34.6rem;
    height: 4.6rem;
    position: absolute;
  }
  .item--qVy {
    font-weight: 700;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 6.2rem;
    height: 1.9rem;
    position: absolute;
    font-size: 1.5rem;
    white-space: nowrap;
    left: 16.5rem;
    top: 59.1rem;
    text-align: center;
    line-height: 1.2575;
  }
  .frame-tz3 {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 14.1rem;
    top: 46.6rem;
    overflow: hidden;
  }
  .vector-DWX {
    left: 2.2rem;
    top: 51.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    position: absolute;
  }
  .wallet-Yoh {
    height: 2.6rem;
    position: absolute;
    left: 2.1rem;
    top: 1.5rem;
    font-weight: 700;
    line-height: 1.2575;
    width: 5.6rem;
    font-size: 2rem;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
}
