
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--HT8 {
  background-color: #efefef;
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;

  .rectangle-5-jK8 {
    top: 10.1rem;
    background-color: #ffffff;
    width: 39rem;
    height: 53.9rem;
    position: absolute;
    left: 0;
  }
  .rectangle-4-GK4 {
    width: 39rem;
    height: 5.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
  }
  .rectangle-3-DEJ {
    width: 39rem;
    height: 3.3rem;
    position: absolute;
    left: 0;
    top: 6.3rem;
    background-color: #1c9bcb;
  }
  .rectangle-6-9te {
    width: 34.8rem;
    height: 6.2rem;
    position: absolute;
    left: 2.1rem;
    top: 12.1rem;
    background-color: #00358a;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .rectangle-24-iaN {
    background-color: #009fb8;
    border-radius: 0.8rem 0.8rem 0 0;
    width: 34.8rem;
    height: 6.2rem;
    position: absolute;
    left: 2.1rem;
    top: 43.4rem;
  }
  .item-39-qez {
    object-fit: contain;
    vertical-align: top;
    width: 2.653rem;
    height: 3rem;
    position: absolute;
    left: 32.1653rem;
    top: 13.7rem;
  }
  .item--MtE {
    left: 6.2rem;
    justify-content: center;
    font-size: 1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 17.8rem;
    top: 7.35rem;
    color: #ffffff;
    height: 1.3rem;
    display: flex;
    align-items: center;
    line-height: 1.2575;
    white-space: nowrap;
    position: absolute;
    font-weight: 700;
  }
  .item--A4z {
    position: absolute;
    justify-content: center;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.1rem;
    left: 6.45rem;
    font-size: 0.8rem;
    width: 9.3rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 700;
    white-space: nowrap;
    top: 15.7rem;
  }
  .item--ote {
    width: 9.3rem;
    top: 47rem;
    line-height: 1.2575;
    color: #ffffff;
    white-space: nowrap;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.1rem;
    position: absolute;
    left: 4.3rem;
    display: flex;
    font-size: 0.8rem;
  }
  .item--rrv {
    font-size: 1.2rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    justify-content: center;
    color: #ffffff;
    height: 1.6rem;
    top: 13.65rem;
    align-items: center;
    font-weight: 700;
    position: absolute;
    left: 5.15rem;
    display: flex;
    white-space: nowrap;
    width: 2.9rem;
  }
  .item--9r2 {
    display: flex;
    white-space: nowrap;
    width: 2.9rem;
    align-items: center;
    height: 1.6rem;
    top: 44.95rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    position: absolute;
    left: 5.15rem;
    justify-content: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .rectangle-11-S4S {
    width: 34.8rem;
    border: solid 0.1rem #ebebeb;
    border-radius: 0 0 0.8rem 0.8rem;
    height: 23.1rem;
    position: absolute;
    left: 2.1rem;
    top: 18.3rem;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .milo-266-krw-Ktv {
    display: flex;
    line-height: 1.2575;
    height: 1.1rem;
    top: 19.7rem;
    color: #707070;
    white-space: nowrap;
    width: 6.1rem;
    left: 4.9rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    position: absolute;
    justify-content: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .lzm-64krw-ct2 {
    white-space: nowrap;
    height: 1.1rem;
    position: absolute;
    left: 4.3rem;
    display: flex;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 5.1rem;
    top: 51rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: #707070;
  }
  .item--iw4 {
    height: 1.3rem;
    font-size: 1rem;
    top: 19.65rem;
    justify-content: center;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2.5rem;
    position: absolute;
    display: flex;
    white-space: nowrap;
    left: 29.75rem;
    align-items: center;
    font-weight: 700;
    line-height: 1.2575;
  }
  .item--DN2 {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    align-items: center;
    line-height: 1.2575;
    display: flex;
    position: absolute;
    left: 29.75rem;
    justify-content: center;
    font-weight: 700;
    width: 2.5rem;
    height: 1.3rem;
    color: #000000;
    white-space: nowrap;
    top: 50.95rem;
    font-size: 1rem;
  }
  .icon-awesome-chevron-right-1-uVk {
    object-fit: contain;
    vertical-align: top;
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 34.2rem;
    top: 19.9rem;
  }
  .icon-awesome-chevron-right-2-p6v {
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 34.2rem;
    top: 51.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .line-1-Lqx {
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
    top: 22.2rem;
    background-color: #e9e8f3;
  }
  .line-3-sqt {
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
    top: 53.5rem;
    background-color: #e9e8f3;
    width: 30.6rem;
  }
  .line-2-pWE {
    left: 4.2rem;
    top: 37rem;
    background-color: #e9e8f3;
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
  }
  .item-0-A4J {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 1.6rem;
    position: absolute;
    left: 4.2rem;
    top: 23.7rem;
    font-size: 3rem;
    font-weight: 700;
    height: 3.8rem;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
  }
  .milo-4fU {
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 2.3rem;
    top: 24.9rem;
    font-size: 1.8rem;
    white-space: nowrap;
    width: 4.1rem;
    position: absolute;
    left: 6.9rem;
  }
  .usd-AyQ {
    width: 4rem;
    left: 4.2rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.6rem;
    position: absolute;
    top: 28.2rem;
    font-size: 1.2rem;
    color: #6f6f6f;
    white-space: nowrap;
  }
  .rectangle-22-gwk {
    top: 31.7rem;
    background-color: #dedede;
    border-radius: 0.5rem;
    width: 14.7rem;
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
  }
  .rectangle-23-c4i {
    position: absolute;
    left: 20rem;
    top: 31.7rem;
    background-color: #1d1d1d;
    border-radius: 0.5rem;
    width: 14.6rem;
    height: 3.8rem;
  }
  .item--jf8 {
    width: 7rem;
    height: 1.3rem;
    left: 15.95rem;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 38.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .rectangle-39-pga {
    background-color: rgba(0, 0, 0, 0.5099999905);
    width: 39rem;
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rectangle-40-NCJ {
    width: 39rem;
    height: 35.9rem;
    position: absolute;
    left: 0;
    top: 28.1rem;
    background-color: #f7f7f7;
    border-radius: 2rem 2rem 0 0;
  }
  .icon-awesome-chevron-right-3-HaA {
    width: 0.6rem;
    height: 1rem;
    position: absolute;
    left: 33.9rem;
    top: 37.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--p4J {
    left: 2.1rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    width: 23.1rem;
    height: 5.1rem;
    position: absolute;
    top: 31.3rem;

    .item--p4J-sub-0 {
      font-weight: 700;
      line-height: 1.2575;
      color: #00358a;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-size: 2rem;
    }
    .item--p4J-sub-1 {
    }
  }
  .item--G4i {
    width: 21.1rem;
    height: 4.7rem;
    position: absolute;
    left: 3.6rem;
    font-size: 1.23rem;
    top: 37.6rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .rectangle-41-qGE {
    border-radius: 0.8rem;
    width: 34rem;
    height: 4.6rem;
    position: absolute;
    left: 2.1rem;
    top: 45.5rem;
    background-color: #00358a;
  }
  .rectangle-42-N1G {
    border-radius: 0.8rem;
    width: 34rem;
    height: 4.6rem;
    position: absolute;
    left: 2.1rem;
    top: 51.2rem;
    background-color: #ff5b00;
  }
  .rectangle-43-Vbg {
    top: 56.9rem;
    background-color: #0047ff;
    border-radius: 0.8rem;
    width: 34rem;
    height: 4.6rem;
    position: absolute;
    left: 2.1rem;
  }
  .item--DGn {
    font-size: 1.5rem;
    color: #ffffff;
    width: 6.9rem;
    height: 1.9rem;
    position: absolute;
    left: 23.9rem;
    text-align: center;
    top: 46.8rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--hSr {
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    height: 1.9rem;
    left: 26.7rem;
    top: 52.5rem;
    text-align: right;
    font-size: 1.5rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 6rem;
    position: absolute;
  }
  .item--PqU {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.9rem;
    height: 1.9rem;
    left: 25.8rem;
    top: 58.2rem;
    text-align: right;
    line-height: 1.2575;
  }
  .group-9-V7p {
    object-fit: contain;
    vertical-align: top;
    width: 5.25rem;
    height: 1.2023rem;
    position: absolute;
    left: 3.7rem;
    top: 47.1748rem;
  }
  .icon-awesome-chevron-right-D3p {
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 33.9rem;
    top: 47.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .layer-1-jXx {
    width: 7.37rem;
    height: 1.8458rem;
    position: absolute;
    left: 3.6rem;
    top: 52.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-GGz {
    width: 6.5969rem;
    height: 1.3428rem;
    position: absolute;
    left: 3.5817rem;
    top: 58.4057rem;
    object-fit: contain;
    vertical-align: top;
  }
  .icon-awesome-chevron-right-oGv {
    height: 1rem;
    position: absolute;
    left: 33.9rem;
    top: 53rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5998rem;
  }
  .icon-awesome-chevron-right-8a6 {
    top: 58.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 33.9rem;
  }
  .vector-eoL {
    left: 2.2rem;
    top: 37.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    position: absolute;
  }
  .wallet-zcJ {
    white-space: nowrap;
    width: 5.6rem;
    height: 2.6rem;
    left: 2.1rem;
    top: 1.5rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
  }
}
