
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--kns {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  padding-bottom: 0.1rem;
  width: 100%;
  flex-direction: column;
  background-color: #efefef;

  .auto-group-5uax-TBV {
    padding: 1.3rem 15.45rem 2.4rem 2.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;

    .icon-awesome-chevron-right-1-nDm {
      margin: 0.1rem 12.65rem 0rem 0rem;
      width: 0.7998rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--hrX {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
    }
  }
  .auto-group-xfxu-zaj {
    width: 100%;
    height: 57.7rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-ezpj-WZ5 {
      position: absolute;
      color: #ffffff;
      align-items: center;
      top: 51.1rem;
      white-space: nowrap;
      background-color: #00358a;
      border-radius: 0.8rem;
      display: flex;
      width: 34.7rem;
      left: 2.1rem;
      text-align: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      justify-content: center;
      height: 4.6rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .auto-group-blhm-YEs {
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 1.4rem;
      display: flex;
      align-items: center;

      .auto-group-cnet-HCT {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 23.1rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;

        .airasiacommonogram-zsZ {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          position: relative;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:4f424f75ead7fded5801c29b46e07c08eb6d27e3');
          flex-shrink: 0;
        }
        .item--WL7 {
          font-size: 1.2rem;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          display: flex;
          font-weight: 700;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-y2ab-aqm {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--jCs {
          text-align: center;
          line-height: 1.2575;
          color: #6c6c6c;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          width: 2.5rem;
          position: absolute;
          left: 1.45rem;
          top: 0.4rem;
          white-space: nowrap;
          height: 1.3rem;
          font-size: 1rem;
          font-weight: 400;
        }
        .rectangle-22-1RH {
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
      }
    }
    .auto-group-mvdh-8Vu {
      position: absolute;
      left: 2.1rem;
      top: 6.1rem;
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;

      .auto-group-di63-g1d {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 24.6rem 0.1rem 0rem;

        .frame-cvs {
          margin-right: 0.7997rem;
          width: 1.8003rem;
          height: 1.8003rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--9R1 {
          white-space: nowrap;
          margin-bottom: 0.1003rem;
          font-size: 1.2rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
        }
      }
      .auto-group-gakr-Fyq {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--Q63 {
          width: 2.5rem;
          top: 0.4rem;
          color: #6c6c6c;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          line-height: 1.2575;
          white-space: nowrap;
          height: 1.3rem;
          position: absolute;
          left: 1.45rem;
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
        }
        .rectangle-48-iMd {
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
        }
      }
    }
    .auto-group-g2sr-em5 {
      top: 10.8rem;
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;

      .auto-group-3tej-CGo {
        box-sizing: border-box;
        padding: 0.3rem 22.4rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-29-wkB {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--Vmh {
          white-space: nowrap;
          font-size: 1.2rem;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          display: flex;
          font-weight: 700;
        }
      }
      .auto-group-myky-Cg7 {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--95Z {
          left: 1.45rem;
          top: 0.4rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2575;
          color: #6c6c6c;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.5rem;
          height: 1.3rem;
          position: absolute;
          font-size: 1rem;
        }
        .rectangle-49-2QF {
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
        }
      }
    }
    .auto-group-ecaj-MxK {
      top: 15.5rem;
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;

      .auto-group-lr2p-egX {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 23.9rem;
        height: 100%;

        .auto-group-v71h-zEb {
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.4rem 0rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item--heo {
          display: flex;
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1.2rem;
          font-weight: 700;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .auto-group-nsfm-1fV {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--ycK {
          width: 2.5rem;
          left: 1.45rem;
          text-align: center;
          line-height: 1.2575;
          color: #6c6c6c;
          height: 1.3rem;
          position: absolute;
          top: 0.4rem;
          font-size: 1rem;
          font-weight: 400;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-50-H7D {
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
        }
      }
    }
    .auto-group-ouif-orF {
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 20.2rem;
      display: flex;

      .auto-group-sxuj-jE7 {
        box-sizing: border-box;
        padding: 0.3rem 23.9rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ccxf-4GP {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--k9D {
          font-size: 1.2rem;
          line-height: 1.2575;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          display: flex;
          white-space: nowrap;
          font-weight: 700;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .auto-group-pmkt-5BV {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--SGw {
          width: 2.5rem;
          height: 1.3rem;
          white-space: nowrap;
          color: #6c6c6c;
          position: absolute;
          left: 1.45rem;
          top: 0.4rem;
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
        .rectangle-51-Y55 {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
        }
      }
    }
    .auto-group-82rv-TSw {
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 25rem;
      display: flex;
      align-items: center;

      .auto-group-w47h-P5h {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 25.3rem 0.2rem 0rem;
        height: 100%;
        display: flex;

        .auto-group-6jao-uZq {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cu-4Sj {
          display: flex;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1.2rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .auto-group-kuep-bxT {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--y3u {
          font-weight: 400;
          line-height: 1.2575;
          color: #dcdbe9;
          width: 2.5rem;
          height: 1.3rem;
          position: absolute;
          font-size: 1rem;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          left: 1.45rem;
          top: 0.4rem;
          text-align: center;
        }
        .rectangle-55-GYo {
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
      }
    }
    .line-4-a3h {
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 4.9rem;
    }
    .line-5-Wxw {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 9.6rem;
      background-color: #e9e8f3;
    }
    .line-6-fL3 {
      position: absolute;
      left: 2.1rem;
      top: 14.3rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
    }
    .line-7-cWB {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 19rem;
      background-color: #e9e8f3;
    }
    .line-8-7C3 {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 23.7rem;
      background-color: #e9e8f3;
    }
    .line-9-Fp3 {
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 28.4rem;
    }
  }
}
