
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--dpB {
  padding-bottom: 0.1rem;
  width: 100%;
  align-items: center;
  background-color: #efefef;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-lkgf-mQb {
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 1.5rem 2.1rem 1.7rem 2.1rem;
    width: 100%;
    height: 5.8rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .enjoy-your-traveling-3-Z5Z {
      font-weight: 700;
      overflow: hidden;
      font-size: 2rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      margin-right: 28.6rem;
      white-space: nowrap;
      height: 100%;
      position: relative;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6.2rem;
    }
  }
  .auto-group-xdaw-dbD {
    box-sizing: border-box;
    padding: 1.8rem 0rem 0.1rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-kvt3-h5H {
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      flex-shrink: 0;
      height: 7.2rem;
      white-space: nowrap;
      border-radius: 0.8rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      background-color: rgba(34, 34, 45, 0.5);
      margin: 0rem 2.1rem 41.9rem 2.1rem;
      width: calc(100% - 4.2rem);
      display: flex;
      font-weight: 700;
      color: #ffffff;
    }
    .auto-group-t2d5-ADm {
      padding: 1rem 2.1rem 0.8rem 2.1rem;
      width: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 6.7rem;
      display: flex;
      align-items: center;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .auto-group-yy5d-ghu {
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabpointon-e8w {
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--P6X {
          margin-right: 0.9rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-5uv5-hsu {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.1rem;
        height: 100%;
        align-items: center;
        display: flex;

        .tabwalleton-SqV {
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--Nz3 {
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
        }
      }
      .auto-group-9pyw-KPV {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.2rem;

        .tabmarketon-fiF {
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .item--RSX {
          margin-right: 0.5rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #00358a;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-vmys-XEf {
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .tabviewmoreon-HUj {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
        }
        .item--cG7 {
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
        }
      }
    }
  }
}
