
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--sFg {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;

  .auto-group-qk58-mrr {
    padding: 1.3rem 19rem 2.4rem 2.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;

    .icon-awesome-chevron-right-1-5ce {
      width: 0.7998rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 14.2rem 0rem 0rem;
    }
    .item--Z22 {
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2575;
    }
  }
  .item-52-3C6 {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 5.812rem 2.1rem;
    width: 2.7884rem;
    height: 2.7884rem;
  }
  .auto-group-olje-iJE {
    width: 100%;
    height: 57.7rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-zeie-DVt {
      display: flex;
      align-items: center;
      width: 34.7998rem;
      height: 1.6rem;
      position: absolute;
      left: 2.1rem;
      top: 1.65rem;

      .item--WUz {
        margin-right: 31.3rem;
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .icon-awesome-chevron-right-2-xbt {
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 0.5998rem;
      }
    }
    .auto-group-zxd8-tEe {
      display: flex;
      align-items: center;
      width: 34.8rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 5.2rem;

      .auto-group-xoue-1q4 {
        box-sizing: border-box;
        padding: 0.35rem 1.2rem 0.25rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--kXk {
          margin-right: 25.1rem;
          font-weight: 400;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          display: flex;
          font-size: 1.2rem;
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .ooo-fei {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-ttqn-zS6 {
        flex-shrink: 0;
        width: 3.9rem;
        height: 100%;
        position: relative;

        .item--YTc {
          height: 1.3rem;
          position: absolute;
          left: 1.35rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          width: 1.3rem;
          top: 0.4rem;
          text-align: center;
          white-space: nowrap;
        }
        .rectangle-6-dV4 {
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3.9rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
        }
      }
    }
    .auto-group-326w-k3t {
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 13rem;
      display: flex;

      .otp--4qG {
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        margin: 0.1rem 23.7rem 0rem 0rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.2rem;
      }
      .auto-group-rjmc-AtJ {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--7oY {
          height: 1.3rem;
          text-align: center;
          font-weight: 400;
          width: 2.5rem;
          left: 1.45rem;
          top: 0.4rem;
          font-size: 1rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .rectangle-22-DLn {
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
        }
      }
    }
    .auto-group-gkc6-RBx {
      width: 34.7998rem;
      height: 1.6rem;
      position: absolute;
      left: 2.1rem;
      top: 9.45rem;
      display: flex;
      align-items: center;

      .item--Lpi {
        line-height: 1.2575;
        flex-shrink: 0;
        margin-right: 28.4rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .icon-awesome-chevron-right-4-3z2 {
        margin-bottom: 0.1rem;
        width: 0.5998rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-yh2s-ysg {
      position: absolute;
      left: 2.1rem;
      top: 17.25rem;
      display: flex;
      align-items: center;
      width: 34.7998rem;
      height: 1.6rem;

      .pin--7U6 {
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 28.8rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        display: flex;
        font-size: 1.2rem;
      }
      .icon-awesome-chevron-right-6-p7c {
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 0.5998rem;
      }
    }
    .auto-group-1bop-wCE {
      width: 34.8rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 20.8rem;
      display: flex;
      align-items: center;

      .item--esL {
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 24.3rem 0rem 0rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .auto-group-aits-k9g {
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 4.7rem;
      }
    }
    .auto-group-ou6v-gZ8 {
      left: 2.1rem;
      top: 25rem;
      display: flex;
      align-items: center;
      width: 34.8rem;
      height: 2.2rem;
      position: absolute;

      .item--Qzv {
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        margin: 0.1rem 24.3rem 0rem 0rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-abss-uRt {
        width: 4.7rem;
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-l9tx-FVk {
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 29.2rem;
      display: flex;
      align-items: center;
      width: 34.8rem;

      .item--BeJ {
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        margin: 0.1rem 25rem 0rem 0rem;
        display: flex;
        font-size: 1.2rem;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-auwe-HSS {
        width: 4.7rem;
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-1-EMg {
      position: absolute;
      left: 2.1rem;
      top: 4.4rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
    }
    .line-2-y4N {
      left: 2.1rem;
      top: 8.3rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-3-tx2 {
      left: 2.1rem;
      top: 12.2rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-4-Rwx {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 16.1rem;
      background-color: #e9e8f3;
    }
    .line-5-mF8 {
      top: 20rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
    }
    .line-6-JF4 {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 23.9rem;
      background-color: #e9e8f3;
    }
    .line-7-do8 {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 28.1rem;
      background-color: #e9e8f3;
    }
    .line-8-ksk {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 32.3rem;
      background-color: #e9e8f3;
    }
  }
}
