
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--aWK {
  width: 100%;
  height: 186.9rem;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;

  .milo--fXm {
    height: 5.1rem;
    position: absolute;
    left: 35.4rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 34.8rem;
    top: 12.4rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
  }
  .rectangle-47-vib {
    background-color: #00358a;
    border-radius: 0.8rem;
    width: 120.3rem;
    height: 16rem;
    position: absolute;
    left: 35.4rem;
    top: 203.8rem;
  }
  .item--fAP {
    line-height: 1.2575;
    height: 5.1rem;
    position: absolute;
    left: 36.1rem;
    top: 38.4rem;
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    width: 17.5rem;
    white-space: nowrap;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--KVq {
    white-space: nowrap;
    position: absolute;
    left: 36.1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    width: 17.5rem;
    height: 5.1rem;
    top: 75.5rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .milo--cUw {
    width: 50.2rem;
    height: 3.8rem;
    left: 35.4rem;
    font-weight: 700;
    color: #a3a3a3;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    position: absolute;
    top: 22.5rem;
    font-size: 3rem;
    line-height: 1.2575;
    white-space: nowrap;
  }
  .auto-group-6fps-7Ao {
    padding: 3.5rem 80.3rem 3.8rem 3.5rem;
    height: 17.3rem;
    position: absolute;
    left: 36.1rem;
    top: 47.1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    width: 119.3rem;

    .auto-group-wjk3-22s {
      margin-right: 3.5rem;
      box-sizing: border-box;
      padding: 2.408rem 3.459rem 2.045rem 3.427rem;
      height: 100%;
      background-color: #dae5f6;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .group-23-9tB {
        width: 3.8135rem;
        height: 5.547rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-xu8j-6Hd {
      margin: 0.3rem 0rem 0.9rem 0rem;
      height: calc(100% - 1.2rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--2h5 {
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        font-size: 3rem;
      }
      .item--KRH {
        color: #929292;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2575;
      }
    }
  }
  .auto-group-vavm-CV5 {
    top: 84.2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 3.5rem 3.5rem 3.4rem 3.5rem;
    width: 119.3rem;
    height: 45.4rem;
    left: 36.1rem;
    border-radius: 0.5rem;
    position: absolute;

    .auto-group-opf1-64f {
      margin: 0rem 84.7rem 3.8rem 0rem;
      width: calc(100% - 84.7rem);
      height: 10rem;
      display: flex;
      align-items: center;

      .auto-group-pz6o-CtP {
        box-sizing: border-box;
        padding: 1.71rem 2.86rem 1.797rem 2.734rem;
        height: 100%;
        background-color: #dae5f6;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 3.5rem;

        .group-22-vpP {
          height: 6.4925rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 5.1058rem;
        }
      }
      .auto-group-ax3d-3u1 {
        flex-shrink: 0;
        margin: 0.3rem 0rem 0.9rem 0rem;
        height: calc(100% - 1.2rem);
        display: flex;
        flex-direction: column;

        .item--wzP {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
        .item--HHZ {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #929292;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
    }
    .auto-group-crpu-c4w {
      width: calc(100% - 65.9rem);
      height: 10.1rem;
      display: flex;
      align-items: center;
      margin: 0rem 65.9rem 4.5rem 0rem;

      .auto-group-pzfd-YUP {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 3.5rem;
        box-sizing: border-box;
        padding: 2.125rem 2.606rem 2.269rem 2.387rem;
        height: 100%;
        background-color: #dae5f6;

        .group-4xX {
          width: 5.7065rem;
          height: 5.7064rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-cip1-PV1 {
        margin: 0.4rem 0rem 1rem 0rem;
        height: calc(100% - 1.4rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--WpX {
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .item--3ZZ {
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #929292;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-prod-wew {
      display: flex;
      align-items: center;
      margin-right: 80.7rem;
      width: calc(100% - 80.7rem);
      height: 10.1rem;

      .auto-group-aaak-gcX {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 3.5rem;
        box-sizing: border-box;
        padding: 2.779rem 2.638rem 2.987rem 2.387rem;
        height: 100%;
        background-color: #dae5f6;

        .group-20-bUb {
          width: 5.6752rem;
          height: 4.334rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-gwwf-Lh5 {
        margin: 0.4rem 0rem 1rem 0rem;
        height: calc(100% - 1.4rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--qtj {
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          font-size: 3rem;
        }
        .qr--n3H {
          font-weight: 700;
          line-height: 1.2575;
          color: #929292;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
        }
      }
    }
  }
  .auto-group-ztkr-5HH {
    width: 121.2rem;
    left: 35.4rem;
    text-align: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    justify-content: center;
    height: 11.4rem;
    line-height: 1.2575;
    background-color: #00358a;
    border-radius: 0.8rem;
    top: 158.9rem;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
}
