
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--KuU {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  border-bottom: solid 0.1rem #e9e8f3;
  box-sizing: border-box;
  background-color: #efefef;

  .item--NMx {
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    left: 15.95rem;
    top: 69.8rem;
    text-align: center;
    line-height: 1.2575;
    color: #000000;
    width: 7rem;
    height: 1.3rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-4-1vi {
    height: 5.8rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 39rem;
  }
  .rectangle-5-xb4 {
    position: absolute;
    left: 0;
    top: 10.1rem;
    background-color: #ffffff;
    width: 39rem;
    height: 53.9rem;
  }
  .rectangle-3-h2r {
    width: 39rem;
    height: 3.3rem;
    position: absolute;
    left: 0;
    top: 6.3rem;
    background-color: #1c9bcb;
  }
  .rectangle-6-E2n {
    left: 2.1rem;
    top: 12.1rem;
    background-color: #00358a;
    border-radius: 0.8rem 0.8rem 0 0;
    width: 34.8rem;
    height: 6.2rem;
    position: absolute;
  }
  .rectangle-24-99k {
    top: 43.4rem;
    background-color: #009fb8;
    border-radius: 0.8rem 0.8rem 0 0;
    width: 34.8rem;
    height: 6.2rem;
    position: absolute;
    left: 2.1rem;
  }
  .item-39-Tw8 {
    width: 2.653rem;
    height: 3rem;
    position: absolute;
    left: 32.1653rem;
    top: 13.7rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--P46 {
    font-weight: 700;
    position: absolute;
    left: 6.2rem;
    top: 7.35rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    line-height: 1.2575;
    justify-content: center;
    color: #ffffff;
    white-space: nowrap;
    width: 17.8rem;
  }
  .item--PiJ {
    left: 6.45rem;
    top: 15.7rem;
    font-size: 0.8rem;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 9.3rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    white-space: nowrap;
    height: 1.1rem;
    display: flex;
    line-height: 1.2575;
  }
  .item--dce {
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 9.3rem;
    height: 1.1rem;
    left: 4.3rem;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2575;
    white-space: nowrap;
    position: absolute;
    top: 47rem;
    display: flex;
  }
  .item--UtA {
    left: 5.15rem;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2.9rem;
    top: 13.65rem;
    position: absolute;
    align-items: center;
    white-space: nowrap;
    height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
  }
  .item--Z8v {
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    top: 44.95rem;
    display: flex;
    color: #ffffff;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    left: 5.15rem;
    line-height: 1.2575;
    width: 2.9rem;
    height: 1.6rem;
    position: absolute;
    font-size: 1.2rem;
  }
  .rectangle-11-Rwp {
    height: 23.1rem;
    left: 2.1rem;
    border-radius: 0 0 0.8rem 0.8rem;
    width: 34.8rem;
    position: absolute;
    top: 18.3rem;
    border: solid 0.1rem #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .rectangle-25-WiN {
    position: absolute;
    background-color: #ffffff;
    border-radius: 0 0 0.8rem 0.8rem;
    top: 49.6rem;
    border: solid 0.1rem #ebebeb;
    box-sizing: border-box;
    width: 34.8rem;
    height: 23.1rem;
    left: 2.1rem;
  }
  .milo-266-krw-QYr {
    height: 1.1rem;
    top: 19.7rem;
    justify-content: center;
    font-size: 0.8rem;
    color: #707070;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 6.1rem;
    position: absolute;
    left: 4.9rem;
  }
  .lzm-64krw-W66 {
    width: 5.1rem;
    height: 1.1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 4.3rem;
    top: 51rem;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #707070;
  }
  .item--1Hk {
    top: 19.65rem;
    display: flex;
    left: 29.75rem;
    font-size: 1rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    align-items: center;
    color: #000000;
    width: 2.5rem;
    position: absolute;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2575;
    white-space: nowrap;
  }
  .item--JGr {
    left: 29.75rem;
    top: 50.95rem;
    font-weight: 700;
    color: #000000;
    align-items: center;
    line-height: 1.2575;
    height: 1.3rem;
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2.5rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    white-space: nowrap;
  }
  .icon-awesome-chevron-right-1-nxi {
    top: 19.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 34.2rem;
  }
  .icon-awesome-chevron-right-2-7k6 {
    object-fit: contain;
    vertical-align: top;
    width: 0.5998rem;
    height: 1rem;
    position: absolute;
    left: 34.2rem;
    top: 51.2rem;
  }
  .line-1-F5c {
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
    top: 22.2rem;
    background-color: #e9e8f3;
  }
  .line-3-yXQ {
    background-color: #e9e8f3;
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
    top: 53.5rem;
  }
  .line-2-JZg {
    width: 30.6rem;
    height: 0.1rem;
    position: absolute;
    left: 4.2rem;
    top: 37rem;
    background-color: #e9e8f3;
  }
  .item-0-3XG {
    color: #000000;
    width: 1.6rem;
    font-size: 3rem;
    font-weight: 700;
    top: 23.7rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
  }
  .item-0-kRg {
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
    top: 55rem;
    color: #000000;
    white-space: nowrap;
    width: 1.6rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .milo-SpJ {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 2.3rem;
    position: absolute;
    top: 24.9rem;
    white-space: nowrap;
    width: 4.1rem;
    left: 6.9rem;
    color: #000000;
  }
  .lzm-Len {
    width: 3.3rem;
    position: absolute;
    left: 6.9rem;
    top: 56.2rem;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.3rem;
    font-size: 1.8rem;
    line-height: 1.2575;
    color: #000000;
  }
  .usd-3p6 {
    width: 4rem;
    left: 4.2rem;
    font-size: 1.2rem;
    line-height: 1.2575;
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
    top: 28.2rem;
    font-weight: 700;
    color: #6f6f6f;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .usd-Mpn {
    left: 4.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #6f6f6f;
    width: 4rem;
    position: absolute;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.6rem;
    top: 59.5rem;
  }
  .rectangle-22-t42 {
    background-color: #dedede;
    border-radius: 0.5rem;
    width: 14.7rem;
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
    top: 31.7rem;
  }
  .rectangle-26-1PY {
    height: 3.8rem;
    position: absolute;
    left: 4.2rem;
    top: 63rem;
    background-color: #dedede;
    border-radius: 0.5rem;
    width: 14.7rem;
  }
  .rectangle-23-wHC {
    width: 14.6rem;
    height: 3.8rem;
    position: absolute;
    left: 20rem;
    top: 31.7rem;
    background-color: #1d1d1d;
    border-radius: 0.5rem;
  }
  .rectangle-27-sAr {
    left: 20rem;
    top: 63rem;
    background-color: #1d1d1d;
    border-radius: 0.5rem;
    width: 14.6rem;
    height: 3.8rem;
    position: absolute;
  }
  .item--CD8 {
    width: 7rem;
    position: absolute;
    font-weight: 700;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    height: 1.3rem;
    left: 15.95rem;
    top: 38.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2575;
    white-space: nowrap;
  }
  .group-2-522 {
    left: 0;
    top: 57.4rem;
    align-items: center;
    height: 6.7rem;
    position: absolute;
    width: 39rem;
    display: flex;
    box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.9rem 2.1rem;

    .auto-group-vkwj-Nmp {
      margin-right: 6.3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .tabpointon-X8v {
        height: 3.5809rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2191rem;
        width: 3.6rem;
      }
      .item--3sx {
        justify-content: center;
        font-weight: 700;
        line-height: 1.2575;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-vt6i-ABt {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 7.1rem;
      height: 100%;

      .tabwalleton-Vzr {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 3.5rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item--qop {
        font-weight: 700;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        line-height: 1.2575;
      }
    }
    .auto-group-xmt6-9pW {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 7.2rem;
      height: 100%;

      .tabmarketon-JhQ {
        margin-bottom: 0.2rem;
        width: 3.5rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--F6r {
        margin-left: 0.1rem;
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.2575;
        white-space: nowrap;
        align-items: center;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-hkpp-9T8 {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .tabviewmoreon-6tA {
        margin-bottom: 0.2rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--3Hc {
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        flex-shrink: 0;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2575;
        font-size: 0.8rem;
        color: #000000;
        white-space: nowrap;
        margin-left: 0.2rem;
        display: flex;
        align-items: center;
      }
    }
  }
  .item--KF8 {
    color: #000000;
    width: 5.3rem;
    height: 1.6rem;
    justify-content: center;
    line-height: 1.2575;
    position: absolute;
    font-weight: 700;
    white-space: nowrap;
    left: 8.9rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    top: 32.75rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .item--z6N {
    position: absolute;
    display: flex;
    color: #ffffff;
    left: 26.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    top: 32.75rem;
    justify-content: center;
    white-space: nowrap;
    width: 2.2rem;
    height: 1.6rem;
    align-items: center;
  }
  .rectangle-28-ewc {
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5099999905);
    width: 39rem;
  }
  .rectangle-34-o3p {
    left: 0;
    top: 41.3rem;
    background-color: #f7f7f7;
    border-radius: 2rem 2rem 0 0;
    width: 39rem;
    height: 22.7rem;
    position: absolute;
  }
  .item--tb4 {
    width: 22.3rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    height: 5.1rem;
    position: absolute;
    left: 2.1rem;
    top: 44.5rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';

    .item--tb4-sub-0 {
    }
    .item--tb4-sub-1 {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #00358a;
    }
    .item--tb4-sub-2 {
    }
  }
  .item--7s8 {
    position: absolute;
    left: 3.6rem;
    top: 50.8rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    height: 3.1rem;
    font-size: 1.23rem;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 21.4rem;
  }
  .rectangle-32-tWW {
    left: 2.3rem;
    top: 57.8rem;
    background-color: #00358a;
    border-radius: 0.8rem;
    width: 34.6rem;
    height: 4.6rem;
    position: absolute;
  }
  .item--chQ {
    white-space: nowrap;
    width: 6.2rem;
    position: absolute;
    left: 16.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2575;
    height: 1.9rem;
    top: 59.1rem;
    font-weight: 700;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  }
  .frame-Jq8 {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 14.1rem;
    top: 46.6rem;
    overflow: hidden;
  }
  .vector-SAe {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 2.2rem;
    top: 51.1rem;
    object-fit: contain;
    vertical-align: top;
  }
  .wallet-Na6 {
    top: 1.5rem;
    line-height: 1.2575;
    white-space: nowrap;
    height: 2.6rem;
    left: 2.1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 5.6rem;
    position: absolute;
  }
}
