
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--WkP {
  background-color: #efefef;
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;

  .item-52-qGs {
    height: 2.7884rem;
    position: absolute;
    left: 2.1rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 2.7884rem;
  }
  .auto-group-wnin-YSB {
    box-sizing: border-box;
    width: 39rem;
    height: 72.7rem;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: solid 0.1rem #e9e8f3;

    .item--26T {
      width: 7rem;
      height: 1.3rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 15.95rem;
      top: 69.8rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      color: #000000;
    }
    .rectangle-4-5aX {
      height: 5.8rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      width: 39rem;
    }
    .rectangle-5-DRq {
      width: 39rem;
      height: 53.9rem;
      position: absolute;
      left: 0;
      top: 10.1rem;
      background-color: #ffffff;
    }
    .rectangle-3-A6B {
      top: 6.3rem;
      background-color: #1c9bcb;
      width: 39rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
    }
    .rectangle-6-JiB {
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
      top: 12.1rem;
      background-color: #00358a;
      border-radius: 0.8rem 0.8rem 0 0;
    }
    .rectangle-24-dEf {
      left: 2.1rem;
      top: 43.4rem;
      background-color: #009fb8;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
    }
    .item-39-YsR {
      width: 2.653rem;
      height: 3rem;
      position: absolute;
      left: 32.1653rem;
      top: 13.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--H4K {
      position: absolute;
      left: 6.2rem;
      top: 7.35rem;
      justify-content: center;
      font-size: 1rem;
      color: #ffffff;
      white-space: nowrap;
      height: 1.3rem;
      display: flex;
      align-items: center;
      font-weight: 700;
      width: 17.8rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--gMM {
      width: 9.3rem;
      position: absolute;
      top: 15.7rem;
      align-items: center;
      font-size: 0.8rem;
      white-space: nowrap;
      height: 1.1rem;
      display: flex;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      left: 6.45rem;
      justify-content: center;
      font-weight: 700;
      line-height: 1.2575;
    }
    .item--iYw {
      height: 1.1rem;
      position: absolute;
      left: 4.3rem;
      top: 47rem;
      display: flex;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 9.3rem;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .item--NNb {
      justify-content: center;
      width: 2.9rem;
      left: 5.15rem;
      align-items: center;
      white-space: nowrap;
      top: 13.65rem;
      display: flex;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      font-weight: 700;
      color: #ffffff;
      height: 1.6rem;
      position: absolute;
      font-size: 1.2rem;
    }
    .item--T99 {
      font-size: 1.2rem;
      line-height: 1.2575;
      position: absolute;
      justify-content: center;
      white-space: nowrap;
      width: 2.9rem;
      font-weight: 700;
      color: #ffffff;
      height: 1.6rem;
      align-items: center;
      display: flex;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      left: 5.15rem;
      top: 44.95rem;
    }
    .enjoy-your-traveling-2-wa7 {
      position: absolute;
      overflow: hidden;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.6rem;
      height: 2.6rem;
      left: 2.1rem;
      top: 1.5rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .rectangle-11-q9h {
      width: 34.8rem;
      height: 23.1rem;
      position: absolute;
      border: solid 0.1rem #ebebeb;
      background-color: #ffffff;
      left: 2.1rem;
      top: 18.3rem;
      box-sizing: border-box;
      border-radius: 0 0 0.8rem 0.8rem;
    }
    .rectangle-25-L6T {
      box-sizing: border-box;
      border-radius: 0 0 0.8rem 0.8rem;
      width: 34.8rem;
      top: 49.6rem;
      left: 2.1rem;
      border: solid 0.1rem #ebebeb;
      background-color: #ffffff;
      height: 23.1rem;
      position: absolute;
    }
    .mll-266-krw-2jy {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.1rem;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      width: 5.7rem;
      top: 19.7rem;
      display: flex;
      color: #707070;
      left: 5.05rem;
      font-size: 0.8rem;
      line-height: 1.2575;
      white-space: nowrap;
    }
    .lzm-64krw-ico {
      white-space: nowrap;
      width: 5.1rem;
      height: 1.1rem;
      top: 51rem;
      display: flex;
      font-size: 0.8rem;
      color: #707070;
      position: absolute;
      left: 4.3rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--yYj {
      color: #000000;
      height: 1.3rem;
      left: 29.75rem;
      line-height: 1.2575;
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.5rem;
      position: absolute;
      top: 19.65rem;
    }
    .item--EUf {
      position: absolute;
      top: 50.95rem;
      display: flex;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.3rem;
      font-weight: 700;
      white-space: nowrap;
      left: 29.75rem;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      width: 2.5rem;
      line-height: 1.2575;
    }
    .icon-awesome-chevron-right-1-v6b {
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 19.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
    }
    .icon-awesome-chevron-right-2-qDZ {
      vertical-align: top;
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 51.2rem;
      object-fit: contain;
    }
    .line-1-kbR {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 22.2rem;
      background-color: #e9e8f3;
    }
    .line-3-GZm {
      left: 4.2rem;
      top: 53.5rem;
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-2-oJo {
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 37rem;
      background-color: #e9e8f3;
    }
    .item-0-XVh {
      left: 4.2rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 1.6rem;
      height: 3.8rem;
      position: absolute;
      top: 23.7rem;
      font-size: 3rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .item-0-dod {
      width: 1.6rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      font-weight: 700;
      white-space: nowrap;
      top: 55rem;
      font-size: 3rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .milo-Yfh {
      width: 4.1rem;
      left: 6.9rem;
      top: 24.9rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.2575;
      color: #000000;
    }
    .lzm-fEX {
      width: 3.3rem;
      top: 56.2rem;
      font-weight: 700;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      left: 6.9rem;
      font-size: 1.8rem;
      line-height: 1.2575;
    }
    .usd-coy {
      top: 28.2rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 4rem;
      height: 1.6rem;
      position: absolute;
      left: 4.2rem;
      font-size: 1.2rem;
      line-height: 1.2575;
      color: #6f6f6f;
      white-space: nowrap;
    }
    .usd-81d {
      position: absolute;
      font-size: 1.2rem;
      color: #6f6f6f;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 4rem;
      left: 4.2rem;
      top: 59.5rem;
      font-weight: 700;
      line-height: 1.2575;
      white-space: nowrap;
      height: 1.6rem;
    }
    .rectangle-22-dyy {
      background-color: #dedede;
      border-radius: 0.5rem;
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 31.7rem;
    }
    .rectangle-26-cL7 {
      background-color: #dedede;
      border-radius: 0.5rem;
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 63rem;
    }
    .rectangle-23-LG7 {
      top: 31.7rem;
      background-color: #1d1d1d;
      border-radius: 0.5rem;
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
    }
    .rectangle-27-Fdy {
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
      top: 63rem;
      background-color: #1d1d1d;
      border-radius: 0.5rem;
    }
    .item--BGj {
      font-weight: 700;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.3rem;
      position: absolute;
      left: 15.95rem;
      font-size: 1rem;
      line-height: 1.2575;
      width: 7rem;
      top: 38.5rem;
      text-align: center;
    }
    .group-2-qMH {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 57.4rem;
      display: flex;
      padding: 0.9rem 2.1rem;
      width: 39rem;
      height: 6.7rem;
      align-items: center;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .auto-group-cpxe-jSf {
        flex-shrink: 0;
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .tabpointon-5WX {
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--Qoh {
          justify-content: center;
          font-weight: 700;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-uvea-KQs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.1rem;
        height: 100%;
        align-items: center;

        .tabwalleton-Tmy {
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .item--npF {
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          font-weight: 700;
          color: #00358a;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          display: flex;
          line-height: 1.2575;
        }
      }
      .auto-group-mq6e-Jnb {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.2rem;
        height: 100%;
        align-items: center;
        display: flex;

        .tabmarketon-rZD {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item--ytj {
          flex-shrink: 0;
          display: flex;
          font-size: 0.8rem;
          line-height: 1.2575;
          font-weight: 700;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.1rem;
          align-items: center;
          justify-content: center;
        }
      }
      .auto-group-l6ka-VcB {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabviewmoreon-SXR {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.6rem;
        }
        .item--Nfy {
          display: flex;
          font-size: 0.8rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.2rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
    }
    .item--etP {
      left: 8.9rem;
      top: 32.85rem;
      font-weight: 700;
      height: 1.6rem;
      align-items: center;
      justify-content: center;
      color: #000000;
      display: flex;
      font-size: 1.2rem;
      line-height: 1.2575;
      white-space: nowrap;
      width: 5.3rem;
      position: absolute;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--Jxw {
      left: 26.2rem;
      line-height: 1.2575;
      position: absolute;
      font-weight: 700;
      height: 1.6rem;
      top: 32.85rem;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 2.2rem;
      display: flex;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-35-CoR {
      width: 39rem;
      height: 64rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5099999905);
    }
    .rectangle-36-8h5 {
      width: 39rem;
      height: 18.6rem;
      position: absolute;
      left: 0;
      top: 45.4rem;
      background-color: #f7f7f7;
      border-radius: 2rem 2rem 0 0;
    }
    .item--3p3 {
      height: 2.6rem;
      position: absolute;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      width: 22.6rem;
      top: 48.2rem;
      font-size: 2rem;
      font-weight: 700;
      color: #000000;
      display: flex;
      left: 2.1rem;

      .item--3p3-sub-0 {
      }
      .item--3p3-sub-1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--3p3-sub-2 {
      }
    }
    .item--2pP {
      height: 1.6rem;
      top: 52.1rem;
      color: #000000;
      white-space: nowrap;
      width: 23.4rem;
      position: absolute;
      left: 2.1rem;
      font-size: 1.23rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .rectangle-37-3jV {
      border-radius: 0.8rem;
      width: 16.5rem;
      height: 4.6rem;
      position: absolute;
      left: 2.3rem;
      top: 57.8rem;
      background-color: #d6e3f7;
    }
    .rectangle-38-B51 {
      border-radius: 0.8rem;
      width: 16.5rem;
      height: 4.6rem;
      position: absolute;
      left: 19.6rem;
      top: 57.8rem;
      background-color: #00358a;
    }
    .item--6Ss {
      height: 1.9rem;
      position: absolute;
      top: 59.1rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 6.7rem;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.2575;
      color: #000000;
      white-space: nowrap;
      left: 7.25rem;
    }
    .item--Ahd {
      position: absolute;
      left: 25.2rem;
      top: 59.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2575;
      width: 5.3rem;
      height: 1.9rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      color: #ffffff;
    }
  }
  .item--pnB {
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
    justify-content: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    left: 8.9rem;
    line-height: 1.2575;
    top: 64.15rem;
    display: flex;
    font-size: 1.2rem;
    color: #000000;
    width: 5.3rem;
    align-items: center;
    font-weight: 700;
  }
  .item--6Uo {
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 2.2rem;
    top: 64.15rem;
    font-weight: 700;
    display: flex;
    line-height: 1.2575;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #ffffff;
    height: 1.6rem;
    position: absolute;
    left: 26.1rem;
  }
}
