
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--4XZ {
  background-color: #f9f9f9;
  width: 100%;
  height: 186.9rem;
  position: relative;
  overflow: hidden;

  .rectangle-64-yuR {
    width: 192rem;
    height: 13.2rem;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
  }
  .enjoy-your-traveling-h4j {
    left: 37.5rem;
    top: 4.0711rem;
    font-weight: 700;
    line-height: 1.2925;
    color: #000000;
    white-space: nowrap;
    width: 16.6rem;
    position: absolute;
    font-size: 6rem;
    font-family: PT Sans, 'Source Sans Pro';
    height: 7.8rem;
  }
  .rectangle-3-D35 {
    left: 0;
    top: 14.6rem;
    background-color: #1c9bcb;
    width: 192rem;
    height: 7.5rem;
    position: absolute;
  }
  .item--LtP {
    width: 53rem;
    left: 69.5rem;
    line-height: 1.2925;
    font-family: PT Sans, 'Source Sans Pro';
    position: absolute;
    top: 16.85rem;
    font-weight: 700;
    height: 3.7rem;
    justify-content: center;
    white-space: nowrap;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 2.8rem;
  }
  .group-32-mTu {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 117rem;
    height: 98.5rem;
    position: absolute;
    left: 35.6rem;
    top: 28.7rem;

    .auto-group-qrrp-hsM {
      background-color: #00358a;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.3rem 7.005rem 4.65rem 9.45rem;
      width: 100%;
      height: 20.8rem;
      display: flex;
      align-items: center;

      .auto-group-fvhm-1t3 {
        margin-right: 49.6263rem;
        width: 42rem;
        height: 100%;
        flex-shrink: 0;

        .item--LQX {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          margin-bottom: 1.65rem;
          display: flex;
          align-items: center;
          font-size: 4.8rem;
          line-height: 1.2575;
          color: #ffffff;
          width: 100%;
          justify-content: center;
          font-weight: 700;
          white-space: nowrap;
        }
        .item--Loq {
          white-space: nowrap;
          width: 100%;
          align-items: center;
          justify-content: center;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2575;
          display: flex;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .auto-group-kgmd-2wZ {
        margin-top: 0.3921rem;
        width: 8.9186rem;
        height: 10.0849rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-bjkb-vX9 {
      flex-direction: column;
      border: solid 0.1rem #cacaca;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.1rem 7.1rem 5rem 7.1rem;
      width: 100%;
      display: flex;

      .auto-group-uzrd-FpK {
        margin: 0rem 0rem 4.25rem 2.75rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .mlo-266-krw-n3Z {
          justify-content: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          display: flex;
          align-items: center;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 63.15rem 0.05rem 0rem;
          color: #707070;
        }
        .item--hAX {
          justify-content: center;
          white-space: nowrap;
          margin: 0.05rem 5.9rem 0rem 0rem;
          align-items: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
        }
        .icon-awesome-chevron-right-ozF {
          margin-top: 0.15rem;
          width: 2rem;
          height: 3.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .line-1-w4s {
        margin-bottom: 4rem;
        width: 100%;
        height: 0.1rem;
        background-color: #e9e8f3;
        flex-shrink: 0;
      }
      .auto-group-yjhd-HPd {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 89.8rem 3.2rem 0rem;
        width: calc(100% - 89.8rem);

        .item-0-puM {
          margin-right: 2.6rem;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .milo-yGT {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
        }
      }
      .usd-X35 {
        font-weight: 700;
        line-height: 1.2575;
        color: #6f6f6f;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 11.9rem;
        font-size: 3rem;
      }
      .auto-group-ef6f-Svj {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.6rem 5.1rem 0rem;
        width: calc(100% - 0.6rem);
        height: 12.7rem;

        .auto-group-yn6b-BdR {
          align-items: center;
          justify-content: center;
          line-height: 1.2575;
          height: 100%;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          border-radius: 0.5rem;
          width: 49.4rem;
          display: flex;
          font-size: 4rem;
          background-color: #dedede;
          margin-right: 3.7rem;
        }
        .auto-group-g8w9-Tqq {
          font-weight: 700;
          color: #ffffff;
          flex-shrink: 0;
          width: 49.1rem;
          display: flex;
          justify-content: center;
          font-size: 4rem;
          border-radius: 0.5rem;
          background-color: #1d1d1d;
          height: 100%;
          align-items: center;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .line-2-Hps {
        flex-shrink: 0;
        margin-bottom: 4.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #e9e8f3;
      }
      .item--dNw {
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #5c5c5c;
        text-align: center;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
    }
  }
  .rectangle-35-3hZ {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5099999905);
    width: 192rem;
    height: 186.9rem;
    position: absolute;
  }
  .rectangle-36-C4f {
    left: 0;
    top: 127.2rem;
    background-color: #ffffff;
    border-radius: 6.7rem 6.7rem 0 0;
    width: 192rem;
    height: 59.7rem;
    position: absolute;
  }
  .group-37-vmM {
    position: absolute;
    left: 37.5rem;
    top: 136.5rem;
    border-radius: 0.8rem;
    width: 117rem;
    height: 42.0028rem;

    .item--3qy {
      white-space: nowrap;
      font-size: 6rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      margin-bottom: 4.6173rem;
      line-height: 1.3900000254;
      color: #000000;

      .item--3qy-sub-0 {
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
      }
      .item--3qy-sub-1 {
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--3qy-sub-2 {
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
      }
    }
    .item--2rK {
      margin-bottom: 8.8827rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-herd-sM9 {
      margin-left: 0.6871rem;
      width: calc(100% - 0.6871rem);
      height: 15.8028rem;
      display: flex;
      align-items: center;

      .auto-group-rbbm-oEo {
        margin-right: 2.8465rem;
        font-size: 4rem;
        font-weight: 700;
        width: 56.7332rem;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        flex-shrink: 0;
        justify-content: center;
        border-radius: 0.8rem;
        line-height: 1.2575;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        text-align: center;
        display: flex;
        background-color: #d6e3f7;
      }
      .auto-group-skzt-HQs {
        font-size: 4rem;
        font-weight: 700;
        justify-content: center;
        background-color: #00358a;
        text-align: center;
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 100%;
        line-height: 1.2575;
        color: #ffffff;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        border-radius: 0.8rem;
        width: 56.7332rem;
        flex-shrink: 0;
      }
    }
  }
}
