
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--QuY {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  width: 100%;

  .auto-group-vhmc-ifL {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    padding: 1.3rem 1.81rem 2.4rem 2.1rem;
    width: 100%;

    .icon-awesome-chevron-right-1-RZk {
      flex-shrink: 0;
      margin: 0.1rem 14.7rem 0rem 0rem;
      width: 0.7998rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--8j4 {
      margin-right: 12.9rem;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      flex-shrink: 0;
    }
    .group-11-EXC {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.0603rem;
      width: 2.7902rem;
      height: 1.9603rem;
      position: relative;
    }
  }
  .auto-group-61hc-xCJ {
    height: 57.8rem;
    font-weight: 400;
    justify-content: center;
    width: 100%;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-size: 1.2rem;
    line-height: 1.2575;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 5.8rem;
  }
  .item--pVQ {
    margin-right: 0.1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2575;
    color: #000000;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
