
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--D43 {
  overflow: hidden;
  background-color: #f9f9f9;
  width: 100%;
  height: 186.9rem;
  position: relative;

  .rectangle-64-x1d {
    position: absolute;
    left: 0;
    top: 0.2rem;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    width: 192rem;
    height: 13.2rem;
  }
  .enjoy-your-traveling-ef9 {
    white-space: nowrap;
    height: 7.8rem;
    left: 37.5rem;
    top: 2.9rem;
    line-height: 1.2925;
    font-family: PT Sans, 'Source Sans Pro';
    width: 16.6rem;
    position: absolute;
    font-size: 6rem;
    font-weight: 700;
    color: #000000;
  }
  .rectangle-3-ZXD {
    position: absolute;
    left: 0;
    top: 14.6rem;
    background-color: #1c9bcb;
    width: 192rem;
    height: 7.5rem;
  }
  .item--grj {
    width: 53rem;
    top: 16.85rem;
    align-items: center;
    line-height: 1.2925;
    font-family: PT Sans, 'Source Sans Pro';
    position: absolute;
    display: flex;
    height: 3.7rem;
    left: 69.5rem;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
  }
  .group-32-i2j {
    display: flex;
    flex-direction: column;
    width: 117rem;
    height: 98.5rem;
    position: absolute;
    left: 37.5rem;
    top: 28.7rem;
    align-items: center;

    .auto-group-fbrq-Rxj {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.3rem 7.005rem 4.65rem 9.45rem;
      width: 100%;
      height: 20.8rem;
      display: flex;
      align-items: center;
      background-color: #00358a;

      .auto-group-76hu-Y1m {
        margin-right: 49.6263rem;
        width: 42rem;
        height: 100%;
        flex-shrink: 0;

        .item--Ddh {
          white-space: nowrap;
          width: 100%;
          align-items: center;
          justify-content: center;
          font-size: 4.8rem;
          font-weight: 700;
          margin-bottom: 1.65rem;
          display: flex;
          line-height: 1.2575;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
        .item--wJo {
          display: flex;
          font-size: 3.2rem;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          color: #ffffff;
          width: 100%;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          line-height: 1.2575;
        }
      }
      .auto-group-pscf-beF {
        width: 8.9186rem;
        height: 10.0849rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.3922rem;
      }
    }
    .auto-group-evxq-L63 {
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #cacaca;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.1rem 7.1rem 5rem 7.1rem;
      width: 100%;

      .auto-group-cnk9-DQj {
        margin: 0rem 0rem 4.25rem 2.75rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .mlo-266-krw-k9m {
          align-items: center;
          font-size: 3rem;
          line-height: 1.2575;
          margin: 0rem 63.15rem 0.05rem 0rem;
          display: flex;
          color: #707070;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          font-weight: 700;
        }
        .item--4gF {
          margin: 0.05rem 5.9rem 0rem 0rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3rem;
          font-weight: 700;
        }
        .icon-awesome-chevron-right-aeb {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.15rem;
          width: 2rem;
          height: 3.4rem;
          object-fit: contain;
        }
      }
      .line-1-vCf {
        height: 0.1rem;
        background-color: #e9e8f3;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
      }
      .auto-group-zu8s-sdh {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 89.8rem 3.2rem 0rem;
        width: calc(100% - 89.8rem);

        .item-0-ZmR {
          margin-right: 2.6rem;
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .milo-Wgf {
          margin-bottom: 1.2rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .usd-4TH {
        line-height: 1.2575;
        color: #6f6f6f;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 11.9rem;
        font-size: 3rem;
        font-weight: 700;
      }
      .auto-group-m2zb-Qn3 {
        margin: 0rem 0.6rem 5.1rem 0rem;
        width: calc(100% - 0.6rem);
        height: 12.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ybmh-k5D {
          font-weight: 700;
          line-height: 1.2575;
          flex-shrink: 0;
          height: 100%;
          display: flex;
          background-color: #dedede;
          margin-right: 3.7rem;
          font-size: 4rem;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          border-radius: 0.5rem;
          align-items: center;
          justify-content: center;
          color: #000000;
          white-space: nowrap;
          width: 49.4rem;
        }
        .auto-group-mlzs-DjV {
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 0.5rem;
          font-size: 4rem;
          line-height: 1.2575;
          flex-shrink: 0;
          font-weight: 700;
          background-color: #1d1d1d;
          width: 49.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .line-2-Vh1 {
        background-color: #e9e8f3;
        flex-shrink: 0;
        margin-bottom: 4.6rem;
        width: 100%;
        height: 0.1rem;
      }
      .item--pUP {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        text-align: center;
        color: #5c5c5c;
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
      }
    }
  }
  .rectangle-35-tUF {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5099999905);
    width: 192rem;
    height: 186.9rem;
    position: absolute;
    left: 0;
  }
  .rectangle-36-Ryy {
    top: 113.9rem;
    background-color: #ffffff;
    border-radius: 6.7rem 6.7rem 0 0;
    width: 192rem;
    height: 73rem;
    position: absolute;
    left: 0;
  }
  .rectangle-32-MMq {
    width: 114.4rem;
    height: 15.2rem;
    position: absolute;
    left: 38.3rem;
    top: 163.1rem;
    background-color: #00358a;
    border-radius: 0.8rem;
  }
  .item--6KR {
    position: absolute;
    left: 87.3rem;
    top: 167.9rem;
    white-space: nowrap;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 16.5rem;
    height: 5.1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
  }
  .group-37-XQj {
    width: 76.3rem;
    height: 30.5rem;
    position: absolute;
    left: 38.3rem;
    top: 122.7rem;

    .item--qgK {
      margin-bottom: 5.3rem;
      max-width: 76.3rem;
      font-size: 6rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';

      .item--qgK-sub-0 {
      }
      .item--qgK-sub-1 {
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--qgK-sub-2 {
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--qgK-sub-3 {
      }
    }
    .item--28X {
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      max-width: 75.6rem;
      font-size: 4rem;
    }
  }
}
