
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--PmZ {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;

  .item-52-Vpb {
    left: 2.1rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 2.7884rem;
    height: 2.7884rem;
    position: absolute;
  }
  .auto-group-s6n6-Dkb {
    width: 39rem;
    height: 72.7rem;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: solid 0.1rem #e9e8f3;
    box-sizing: border-box;

    .item--J1M {
      width: 7rem;
      height: 1.3rem;
      position: absolute;
      top: 69.8rem;
      text-align: center;
      font-size: 1rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      left: 15.95rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .rectangle-4-ktw {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      width: 39rem;
      height: 5.8rem;
    }
    .rectangle-5-u19 {
      width: 39rem;
      height: 53.9rem;
      position: absolute;
      left: 0;
      top: 10.1rem;
      background-color: #ffffff;
    }
    .rectangle-3-eDd {
      width: 39rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 6.3rem;
      background-color: #1c9bcb;
    }
    .rectangle-6-nqd {
      top: 12.1rem;
      background-color: #00358a;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
    }
    .rectangle-24-HnP {
      background-color: #009fb8;
      border-radius: 0.8rem 0.8rem 0 0;
      width: 34.8rem;
      height: 6.2rem;
      position: absolute;
      left: 2.1rem;
      top: 43.4rem;
    }
    .item-39-1Cb {
      top: 13.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.653rem;
      height: 3rem;
      position: absolute;
      left: 32.1653rem;
    }
    .item--7mR {
      top: 7.35rem;
      line-height: 1.2575;
      height: 1.3rem;
      left: 6.2rem;
      display: flex;
      justify-content: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 17.8rem;
      position: absolute;
      align-items: center;
      font-size: 1rem;
      font-weight: 700;
      white-space: nowrap;
      color: #ffffff;
    }
    .item--Xq9 {
      display: flex;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.2575;
      height: 1.1rem;
      top: 15.7rem;
      color: #ffffff;
      width: 9.3rem;
      position: absolute;
      left: 6.45rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
    .item--N55 {
      white-space: nowrap;
      width: 9.3rem;
      height: 1.1rem;
      position: absolute;
      left: 4.3rem;
      top: 47rem;
      font-size: 0.8rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item--1dq {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      width: 2.9rem;
      font-weight: 700;
      color: #ffffff;
      left: 5.15rem;
      position: absolute;
      line-height: 1.2575;
      height: 1.6rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      top: 13.65rem;
    }
    .item--JN3 {
      justify-content: center;
      color: #ffffff;
      height: 1.6rem;
      left: 5.15rem;
      display: flex;
      line-height: 1.2575;
      white-space: nowrap;
      width: 2.9rem;
      position: absolute;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      top: 44.95rem;
      align-items: center;
      font-size: 1.2rem;
    }
    .rectangle-11-PPV {
      position: absolute;
      border: solid 0.1rem #ebebeb;
      border-radius: 0 0 0.8rem 0.8rem;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 34.8rem;
      height: 23.1rem;
      left: 2.1rem;
      top: 18.3rem;
    }
    .rectangle-25-VSX {
      left: 2.1rem;
      top: 49.6rem;
      border: solid 0.1rem #ebebeb;
      box-sizing: border-box;
      border-radius: 0 0 0.8rem 0.8rem;
      position: absolute;
      height: 23.1rem;
      background-color: #ffffff;
      width: 34.8rem;
    }
    .milo-266-krw-P27 {
      height: 1.1rem;
      position: absolute;
      justify-content: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 6.1rem;
      font-size: 0.8rem;
      line-height: 1.2575;
      color: #707070;
      display: flex;
      white-space: nowrap;
      font-weight: 700;
      top: 19.7rem;
      align-items: center;
      left: 4.9rem;
    }
    .lzm-64krw-Grb {
      white-space: nowrap;
      width: 5.1rem;
      height: 1.1rem;
      top: 51rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      left: 4.3rem;
      font-size: 0.8rem;
      color: #707070;
    }
    .item--PAX {
      width: 2.5rem;
      font-size: 1rem;
      white-space: nowrap;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 1.3rem;
      display: flex;
      justify-content: center;
      top: 19.65rem;
      align-items: center;
      color: #000000;
      position: absolute;
      left: 29.75rem;
      line-height: 1.2575;
    }
    .item--5p3 {
      left: 29.75rem;
      color: #000000;
      width: 2.5rem;
      height: 1.3rem;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
      top: 50.95rem;
      display: flex;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .icon-awesome-chevron-right-1-xsq {
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
      top: 19.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-awesome-chevron-right-2-V75 {
      top: 51.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5998rem;
      height: 1rem;
      position: absolute;
      left: 34.2rem;
    }
    .line-1-p9M {
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 22.2rem;
      background-color: #e9e8f3;
      width: 30.6rem;
    }
    .line-3-wjm {
      top: 53.5rem;
      background-color: #e9e8f3;
      width: 30.6rem;
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
    }
    .line-2-t9D {
      height: 0.1rem;
      position: absolute;
      left: 4.2rem;
      top: 37rem;
      background-color: #e9e8f3;
      width: 30.6rem;
    }
    .item-0-p2s {
      width: 1.6rem;
      height: 3.8rem;
      position: absolute;
      top: 23.7rem;
      color: #000000;
      white-space: nowrap;
      left: 4.2rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item-0-7Gs {
      top: 55rem;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 3.8rem;
      left: 4.2rem;
      font-size: 3rem;
      line-height: 1.2575;
      color: #000000;
      white-space: nowrap;
      width: 1.6rem;
      position: absolute;
    }
    .milo-Dqh {
      font-weight: 700;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.1rem;
      font-size: 1.8rem;
      left: 6.9rem;
      top: 24.9rem;
      line-height: 1.2575;
      height: 2.3rem;
      position: absolute;
    }
    .lzm-8hm {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 2.3rem;
      font-size: 1.8rem;
      font-weight: 700;
      top: 56.2rem;
      line-height: 1.2575;
      color: #000000;
      white-space: nowrap;
      width: 3.3rem;
      position: absolute;
      left: 6.9rem;
    }
    .usd-SyM {
      font-weight: 700;
      line-height: 1.2575;
      color: #6f6f6f;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.6rem;
      font-size: 1.2rem;
      left: 4.2rem;
      top: 28.2rem;
      width: 4rem;
      position: absolute;
    }
    .usd-NMD {
      top: 59.5rem;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      width: 4rem;
      position: absolute;
      left: 4.2rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: #6f6f6f;
      white-space: nowrap;
      height: 1.6rem;
    }
    .rectangle-22-HDH {
      left: 4.2rem;
      top: 31.7rem;
      background-color: #dedede;
      border-radius: 0.5rem;
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
    }
    .rectangle-26-ztP {
      width: 14.7rem;
      height: 3.8rem;
      position: absolute;
      left: 4.2rem;
      top: 63rem;
      background-color: #dedede;
      border-radius: 0.5rem;
    }
    .rectangle-23-XNX {
      position: absolute;
      left: 20rem;
      top: 31.7rem;
      background-color: #1d1d1d;
      border-radius: 0.5rem;
      width: 14.6rem;
      height: 3.8rem;
    }
    .rectangle-27-T1H {
      border-radius: 0.5rem;
      width: 14.6rem;
      height: 3.8rem;
      position: absolute;
      left: 20rem;
      top: 63rem;
      background-color: #1d1d1d;
    }
    .item--a5u {
      font-size: 1rem;
      line-height: 1.2575;
      color: #000000;
      width: 7rem;
      height: 1.3rem;
      top: 38.5rem;
      text-align: center;
      font-weight: 700;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 15.95rem;
    }
    .group-2-ebZ {
      height: 6.7rem;
      top: 57.4rem;
      align-items: center;
      box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0.9rem 2.1rem;
      width: 39rem;
      position: absolute;
      left: 0;
      display: flex;
      background-color: #ffffff;

      .auto-group-4dhu-LjH {
        margin-right: 6.3rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabpointon-H8j {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2191rem;
          width: 3.6rem;
          height: 3.5809rem;
        }
        .item--DHH {
          font-weight: 700;
          line-height: 1.2575;
          align-items: center;
          font-size: 0.8rem;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
        }
      }
      .auto-group-ziiv-L71 {
        margin-right: 7.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabwalleton-GWT {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.5rem;
        }
        .item--1U3 {
          margin-right: 0.1rem;
          justify-content: center;
          line-height: 1.2575;
          flex-shrink: 0;
          color: #00358a;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
      .auto-group-8rkl-8Hm {
        margin-right: 7.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tabmarketon-sWF {
          width: 3.5rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .item--1MZ {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          white-space: nowrap;
        }
      }
      .auto-group-mbxp-imm {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;

        .tabviewmoreon-fwu {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item--1Vy {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          font-size: 0.8rem;
          line-height: 1.2575;
          color: #000000;
          margin-left: 0.2rem;
          display: flex;
          align-items: center;
          font-weight: 700;
        }
      }
    }
    .item--61d {
      align-items: center;
      white-space: nowrap;
      height: 1.6rem;
      font-size: 1.2rem;
      left: 8.9rem;
      display: flex;
      justify-content: center;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      width: 5.3rem;
      top: 32.75rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      position: absolute;
    }
    .item--xZd {
      width: 2.2rem;
      align-items: center;
      height: 1.6rem;
      justify-content: center;
      line-height: 1.2575;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 700;
      white-space: nowrap;
      position: absolute;
      left: 26.2rem;
      top: 32.75rem;
      display: flex;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .rectangle-28-EX9 {
      background-color: rgba(0, 0, 0, 0.5099999905);
      width: 39rem;
      height: 64rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .rectangle-34-a5D {
      border-radius: 2rem 2rem 0 0;
      width: 39rem;
      height: 22.7rem;
      position: absolute;
      left: 0;
      top: 41.3rem;
      background-color: #f7f7f7;
    }
    .item--6ZM {
      position: absolute;
      width: 22.3rem;
      left: 2.1rem;
      top: 44.5rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      height: 5.1rem;

      .item--6ZM-sub-0 {
      }
      .item--6ZM-sub-1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--6ZM-sub-2 {
      }
    }
    .item--cLf {
      width: 21.4rem;
      position: absolute;
      font-size: 1.23rem;
      font-weight: 400;
      line-height: 1.2575;
      height: 3.1rem;
      left: 3.6rem;
      top: 50.8rem;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .rectangle-32-Nj9 {
      border-radius: 0.8rem;
      width: 34.6rem;
      height: 4.6rem;
      position: absolute;
      left: 2.3rem;
      top: 57.8rem;
      background-color: #00358a;
    }
    .item--hFd {
      font-size: 1.5rem;
      color: #ffffff;
      left: 16.5rem;
      top: 59.1rem;
      position: absolute;
      text-align: center;
      font-weight: 700;
      line-height: 1.2575;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.2rem;
      height: 1.9rem;
    }
    .frame-BRh {
      overflow: hidden;
      width: 4.2rem;
      height: 4.2rem;
      position: absolute;
      left: 14.1rem;
      top: 46.6rem;
    }
    .vector-usV {
      left: 2.2rem;
      top: 51.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 1rem;
      height: 1rem;
      position: absolute;
    }
    .wallet-e4P {
      left: 2.1rem;
      font-size: 2rem;
      line-height: 1.2575;
      width: 5.6rem;
      height: 2.6rem;
      font-weight: 700;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 1.5rem;
    }
  }
  .item--8ET {
    width: 5.3rem;
    font-size: 1.2rem;
    color: #000000;
    top: 64.15rem;
    display: flex;
    font-weight: 700;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    line-height: 1.2575;
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
    left: 8.9rem;
    align-items: center;
    justify-content: center;
  }
  .item--CVD {
    position: absolute;
    align-items: center;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    width: 2.2rem;
    top: 64.15rem;
    display: flex;
    height: 1.6rem;
    font-size: 1.2rem;
    line-height: 1.2575;
    left: 26.1rem;
    justify-content: center;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
  }
}
