
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--PmZ {
  flex-direction: column;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  background-color: #efefef;

  .auto-group-kxrs-471 {
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 1.3rem 16.25rem 2.4rem 2.1rem;
    width: 100%;
    display: flex;
    align-items: center;

    .icon-awesome-chevron-right-1-NdV {
      margin: 0.1rem 13.45rem 0rem 0rem;
      width: 0.7998rem;
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--sKM {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
  }
  .auto-group-fomh-nBR {
    width: 100%;
    height: 57.7rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-pd5q-uWw {
      height: 3.8rem;
      position: absolute;
      left: 2.1rem;
      top: 5.7rem;
      display: flex;
      align-items: center;
      width: 34.7rem;

      .auto-group-syib-Smm {
        padding: 1.15rem 1.4rem 1.05rem 1.4rem;
        width: 27.6rem;
        display: flex;
        font-weight: 700;
        border: solid 0.1rem #eaeaea;
        height: 100%;
        color: #cecece;
        border-radius: 0.6rem;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 0.7rem;
        box-sizing: border-box;
        font-size: 1.2rem;
      }
      .auto-group-1wqx-gg7 {
        height: 100%;
        display: flex;
        white-space: nowrap;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 1.2575;
        color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 6.4rem;
        font-weight: 700;
        background-color: #363636;
      }
    }
    .auto-group-939z-BMy {
      white-space: nowrap;
      background-color: #ffffff;
      border-radius: 0.6rem;
      width: 34.7rem;
      left: 2.1rem;
      top: 10.5rem;
      line-height: 1.2575;
      color: #cecece;
      height: 3.8rem;
      font-weight: 700;
      box-sizing: border-box;
      padding: 1.15rem 1.4rem 1.05rem 1.4rem;
      position: absolute;
      display: flex;
      font-size: 1.2rem;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      border: solid 0.1rem #eaeaea;
    }
    .auto-group-eyz1-o8T {
      height: 1.1rem;
      position: absolute;
      left: 2.3rem;
      top: 18.2rem;
      display: flex;
      align-items: center;
      width: 12.8rem;

      .item--WoZ {
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        line-height: 1.2575;
        font-weight: 400;
        color: #929292;
        flex-shrink: 0;
        margin-right: 0.3rem;
        font-size: 0.8rem;
      }
      .item--3Yb {
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #929292;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-p79r-h7M {
      left: 2.3rem;
      top: 19.7rem;
      display: flex;
      align-items: center;
      width: 16rem;
      height: 1.1rem;
      position: absolute;

      .item--QnT {
        color: #929292;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.3rem;
        display: flex;
      }
      .item--xJB {
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #929292;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-gssb-L3q {
      align-items: center;
      width: 19.5rem;
      height: 1.1rem;
      position: absolute;
      left: 2.3rem;
      top: 21.2rem;
      display: flex;

      .item--3yq {
        margin-right: 0.3rem;
        font-size: 0.8rem;
        color: #929292;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        line-height: 1.2575;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--7Tu {
        font-weight: 400;
        line-height: 1.2575;
        color: #929292;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
      }
    }
    .line-3-PZq {
      left: 2.3rem;
      top: 16.4rem;
      background-color: #e9e8f3;
      width: 34.4rem;
      height: 0.1rem;
      position: absolute;
    }
    .auto-group-8nfz-w5Z {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #00358a;
      width: 34.7rem;
      position: absolute;
      text-align: center;
      font-size: 1.5rem;
      color: #ffffff;
      left: 2.1rem;
      top: 51.1rem;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      height: 4.6rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
    }
    .item--zpX {
      width: 7.8rem;
      height: 1.9rem;
      position: absolute;
      left: 2.1rem;
      top: 2.1rem;
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;

      .item--zpX-sub-0 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #00358a;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      }
      .item--zpX-sub-1 {
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        font-size: 1.5rem;
      }
      .item--zpX-sub-2 {
      }
    }
  }
}
