
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--HSi {
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  display: flex;
  position: relative;
  background-color: #efefef;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;

  .auto-group-w2xl-NUA {
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 1.3rem 15.45rem 2.4rem 2.1rem;
    width: 100%;
    display: flex;
    align-items: center;

    .icon-awesome-chevron-right-1-Hr2 {
      height: 1.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 12.65rem 0rem 0rem;
      width: 0.7998rem;
    }
    .item--bri {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-zpfq-VhC {
    width: 100%;
    height: 57.7rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-6rae-Rqk {
      width: 34.7rem;
      left: 2.1rem;
      text-align: center;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      background-color: #00358a;
      height: 4.6rem;
      position: absolute;
      top: 51.1rem;
      line-height: 1.2575;
      font-size: 1.5rem;
      border-radius: 0.8rem;
      font-weight: 700;
      color: #ffffff;
      display: flex;
      justify-content: center;
    }
    .auto-group-aqmc-5vJ {
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 1.4rem;

      .auto-group-duzg-pN6 {
        padding: 0.3rem 23.1rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .airasiacommonogram-wSi {
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          position: relative;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:4f424f75ead7fded5801c29b46e07c08eb6d27e3');
        }
        .item--Egi {
          margin-bottom: 0.1rem;
          display: flex;
          font-size: 1.2rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-ekwg-YBc {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--goc {
          white-space: nowrap;
          width: 2.5rem;
          height: 1.3rem;
          position: absolute;
          left: 1.45rem;
          top: 0.4rem;
          line-height: 1.2575;
          color: #6c6c6c;
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
        .rectangle-22-nbk {
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
        }
      }
    }
    .auto-group-fnqg-t8z {
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 6.1rem;
      display: flex;
      align-items: center;
      width: 34.7rem;

      .auto-group-fesn-1UW {
        box-sizing: border-box;
        padding: 0.3rem 24.6rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-9Kp {
          margin-right: 0.7997rem;
          width: 1.8003rem;
          height: 1.8003rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item--gKk {
          white-space: nowrap;
          line-height: 1.2575;
          display: flex;
          font-size: 1.2rem;
          font-weight: 700;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.1003rem;
        }
      }
      .auto-group-hgfk-C3C {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--Lv6 {
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          width: 2.5rem;
          position: absolute;
          left: 1.45rem;
          top: 0.4rem;
          text-align: center;
          color: #6c6c6c;
          height: 1.3rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2575;
          white-space: nowrap;
        }
        .rectangle-48-FGN {
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
        }
      }
    }
    .auto-group-1wln-a3k {
      position: absolute;
      left: 2.1rem;
      top: 10.8rem;
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;

      .auto-group-ez4a-JVY {
        box-sizing: border-box;
        padding: 0.3rem 22.4rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-29-dni {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
        }
        .item--mP8 {
          line-height: 1.2575;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          display: flex;
          font-size: 1.2rem;
          font-weight: 700;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-3qbg-Fp6 {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--DF8 {
          left: 1.45rem;
          top: 0.4rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2575;
          color: #6c6c6c;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          width: 2.5rem;
          white-space: nowrap;
          position: absolute;
          font-size: 1rem;
          height: 1.3rem;
        }
        .rectangle-49-hg6 {
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
      }
    }
    .auto-group-qhun-pVp {
      position: absolute;
      left: 2.1rem;
      top: 15.5rem;
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;

      .auto-group-qhcn-keN {
        box-sizing: border-box;
        padding-right: 23.9rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-kcae-6iE {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.4rem 0rem;
        }
        .item--pPL {
          display: flex;
          font-size: 1.2rem;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-weight: 700;
          line-height: 1.2575;
          white-space: nowrap;
        }
      }
      .auto-group-zx9q-L6n {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--5q4 {
          width: 2.5rem;
          left: 1.45rem;
          font-weight: 400;
          line-height: 1.2575;
          height: 1.3rem;
          position: absolute;
          top: 0.4rem;
          text-align: center;
          font-size: 1rem;
          color: #6c6c6c;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-50-Bt6 {
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .auto-group-ubnr-KDc {
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 20.2rem;
      display: flex;
      align-items: center;
      width: 34.7rem;

      .auto-group-jope-3QW {
        box-sizing: border-box;
        padding: 0.3rem 23.9rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-mgzw-y3G {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
        }
        .item--uSi {
          font-size: 1.2rem;
          line-height: 1.2575;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-weight: 700;
          white-space: nowrap;
          display: flex;
        }
      }
      .auto-group-g45x-crv {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--yBg {
          line-height: 1.2575;
          color: #6c6c6c;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.3rem;
          position: absolute;
          top: 0.4rem;
          font-weight: 400;
          width: 2.5rem;
          left: 1.45rem;
          text-align: center;
          font-size: 1rem;
        }
        .rectangle-51-U8S {
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
      }
    }
    .auto-group-yhuc-PmC {
      display: flex;
      align-items: center;
      width: 34.7rem;
      height: 2.2rem;
      position: absolute;
      left: 2.1rem;
      top: 25rem;

      .auto-group-88zv-7hC {
        padding: 0.2rem 25.3rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-cd2a-SzN {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
        }
        .cu-Bh4 {
          font-weight: 700;
          color: #000000;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          line-height: 1.2575;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
        }
      }
      .auto-group-dnrg-K2a {
        width: 5.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--4kr {
          width: 2.5rem;
          height: 1.3rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 1.45rem;
          top: 0.4rem;
          text-align: center;
          color: #dcdbe9;
        }
        .rectangle-55-NWe {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 5.3rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e9e8f3;
        }
      }
    }
    .line-4-6Se {
      left: 2.1rem;
      top: 4.9rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-5-EHx {
      position: absolute;
      left: 2.1rem;
      top: 9.6rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
    }
    .line-6-xUr {
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
      top: 14.3rem;
      background-color: #e9e8f3;
    }
    .line-7-6b4 {
      position: absolute;
      left: 2.1rem;
      top: 19rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
    }
    .line-8-pX4 {
      top: 23.7rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
      position: absolute;
      left: 2.1rem;
    }
    .line-9-MG6 {
      position: absolute;
      left: 2.1rem;
      top: 28.4rem;
      background-color: #e9e8f3;
      width: 34.8rem;
      height: 0.1rem;
    }
  }
}
