
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.otp-R5y {
  width: 100%;
  height: 186.9rem;
  overflow: hidden;
  position: relative;
  background-color: #00358a;
  box-sizing: border-box;
  padding: 23rem 48.2rem 24.6rem 48.2rem;

  .group-36-Lij {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .pin--6hu {
      font-weight: 700;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      margin-bottom: 14.2rem;
      text-align: center;
      font-size: 5rem;
      line-height: 1.2575;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-adrz-aNB {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-4-7d1 {
        background-color: #002766;
        border-radius: 3.9rem;
        flex-shrink: 0;
        margin-right: 9.8rem;
        width: 7.8rem;
        height: 7.8rem;
      }
      .ellipse-5-FjD {
        border-radius: 3.9rem;
        flex-shrink: 0;
        margin-right: 9.7rem;
        width: 7.8rem;
        height: 7.8rem;
        background-color: #002766;
      }
      .ellipse-6-amV {
        height: 7.8rem;
        background-color: #002766;
        border-radius: 3.9rem;
        flex-shrink: 0;
        margin-right: 9.8rem;
        width: 7.8rem;
      }
      .ellipse-7-V7m {
        margin-right: 9.7rem;
        width: 7.8rem;
        height: 7.8rem;
        background-color: #002766;
        border-radius: 3.9rem;
        flex-shrink: 0;
      }
      .ellipse-8-DJf {
        flex-shrink: 0;
        margin-right: 9.8rem;
        width: 7.8rem;
        height: 7.8rem;
        background-color: #002766;
        border-radius: 3.9rem;
      }
      .ellipse-9-9TD {
        width: 7.8rem;
        height: 7.8rem;
        background-color: #002766;
        border-radius: 3.9rem;
        flex-shrink: 0;
      }
    }
    .auto-group-gcru-J5D {
      box-sizing: border-box;
      padding: 13.5rem 11rem 0rem 12.4rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-35-cLo {
        margin: 0rem 6.6rem 15.2rem 5.1rem;
        width: calc(100% - 11.7rem);
        color: #ffffff;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 11.5rem;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 700;
        font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        line-height: 1.2575;
        justify-content: center;
        background-color: #244d8f;
        border-radius: 20rem;
      }
      .auto-group-iu8b-615 {
        margin: 0rem 2rem 10.1rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-1-2QX {
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 8rem;
          text-align: center;
          font-weight: 700;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          margin-right: 28.7rem;
        }
        .item-2-ZfM {
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 8rem;
          text-align: center;
          line-height: 1.2575;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          margin-right: 28.6rem;
        }
        .item-3-HLT {
          line-height: 1.2575;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 8rem;
          font-weight: 700;
        }
      }
      .auto-group-srmr-dfD {
        margin: 0rem 2rem 10.2rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-4-yyy {
          margin-right: 28.7rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 8rem;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
        .item-5-iRm {
          margin-right: 28.6rem;
          text-align: center;
          line-height: 1.2575;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 8rem;
          font-weight: 700;
          color: #ffffff;
          flex-shrink: 0;
        }
        .item-6-GCP {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 8rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
        }
      }
      .auto-group-8mf5-1Qs {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 2rem 10.1rem 0rem;
        display: flex;

        .item-7-Jum {
          font-weight: 700;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 28.7rem;
          text-align: center;
          font-size: 8rem;
          line-height: 1.2575;
        }
        .item-8-CET {
          flex-shrink: 0;
          font-size: 8rem;
          font-weight: 700;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 28.6rem;
          text-align: center;
          line-height: 1.2575;
        }
        .item-9-k15 {
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 8rem;
        }
      }
      .auto-group-ehex-5JF {
        width: calc(100% - 33rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-left: 33rem;

        .item-0-ok3 {
          margin-right: 25.6rem;
          font-weight: 700;
          font-family: RixRak-Sans_Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 8rem;
          line-height: 1.2575;
          color: #ffffff;
        }
        .group-18-KyH {
          margin-bottom: 0.5063rem;
          width: 9.3rem;
          height: 6.3938rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
