
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.otp--L8z {
  align-items: center;
  display: flex;
  background-color: #00358a;
  box-sizing: border-box;
  padding: 12.9rem 6.3rem 5rem 6.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .pin--EVG {
    flex-shrink: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0rem 0.6rem 5.3rem 0rem;
    font-weight: 700;
    color: #ffffff;
  }
  .auto-group-icga-vN6 {
    flex-shrink: 0;
    margin: 0rem 3.4rem 11.7rem 2.9rem;
    width: calc(100% - 6.3rem);
    display: flex;
    column-gap: 2rem;
    align-items: center;

    .ellipse-4-ENn {
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
    }
    .ellipse-5-NE6 {
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
    }
    .ellipse-6-JtS {
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
    }
    .ellipse-7-exJ {
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
    }
    .ellipse-8-oaJ {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
    .ellipse-9-kVY {
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  .auto-group-wfqe-8kz {
    margin: 0rem 0.5rem 3.5rem 0rem;
    display: flex;
    column-gap: 10.3rem;
    align-items: center;
    flex-shrink: 0;

    .item-1-ezE {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
    .item-2-ast {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
    .item-3-vRx {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
  }
  .auto-group-lp5k-eMx {
    margin: 0rem 0.5rem 3.5rem 0rem;
    display: flex;
    column-gap: 10.3rem;
    align-items: center;
    flex-shrink: 0;

    .item-4-aFc {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item-5-i6v {
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-6-qxE {
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .auto-group-hwrg-z4S {
    margin: 0rem 0.5rem 3.5rem 0rem;
    display: flex;
    column-gap: 10.3rem;
    align-items: center;
    flex-shrink: 0;

    .item-7-WoU {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
    .item-8-rsL {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
    .item-9-c5p {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
  }
  .auto-group-9qis-wdt {
    margin-left: 11.9rem;
    width: calc(100% - 11.9rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item-0-h7G {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 9.2rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      text-align: center;
    }
    .group-18-pBt {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.4rem;
      width: 3.2rem;
      height: 2.2rem;
    }
  }
}
