
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.otp-HXD {
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #00358a;
  box-sizing: border-box;
  padding: 0rem 2.1rem 5rem 2.1rem;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .item-52-NHm {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 32.012rem 18.712rem 0rem;
    width: 2.7884rem;
    height: 2.7884rem;
  }
  .pin--fGs {
    margin: 0rem 0.2rem 5.3rem 0rem;
    font-size: 1.5rem;
    line-height: 1.2575;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    flex-shrink: 0;
  }
  .auto-group-t5ja-L87 {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 7.6rem 2.8rem 7.6rem;
    width: calc(100% - 15.2rem);

    .ellipse-4-2md {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
    .ellipse-5-ZWf {
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
    }
    .ellipse-6-u4j {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
    .ellipse-7-SKZ {
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
    }
    .ellipse-8-BH9 {
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 1.6rem;
    }
    .ellipse-9-X67 {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #002766;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
  }
  .auto-group-w8xk-Sym {
    font-size: 0.8rem;
    font-weight: 700;
    color: #ffffff;
    font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    align-items: center;
    flex-shrink: 0;
    background-color: #244d8f;
    margin: 0rem 11.6rem 6.7rem 11.6rem;
    height: 2.2rem;
    text-align: center;
    line-height: 1.2575;
    display: flex;
    width: calc(100% - 23.2rem);
    white-space: nowrap;
    justify-content: center;
    border-radius: 1.1rem;
  }
  .auto-group-ytk8-6YX {
    margin: 0rem 4.7rem 3.5rem 4.7rem;
    width: calc(100% - 9.4rem);
    display: flex;
    column-gap: 10.3rem;
    align-items: center;
    flex-shrink: 0;

    .item-1-2BH {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
    }
    .item-2-YfR {
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-3-tDV {
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
  }
  .auto-group-zkje-dB5 {
    margin: 0rem 4.7rem 3.5rem 4.7rem;
    width: calc(100% - 9.4rem);
    display: flex;
    column-gap: 10.3rem;
    align-items: center;
    flex-shrink: 0;

    .item-4-kWb {
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
    }
    .item-5-6aT {
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
    }
    .item-6-e6B {
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-deuq-PZZ {
    margin: 0rem 4.7rem 3.5rem 4.7rem;
    width: calc(100% - 9.4rem);
    display: flex;
    column-gap: 10.3rem;
    align-items: center;
    flex-shrink: 0;

    .item-7-JwR {
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .item-8-49u {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item-9-odH {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-haya-MPu {
    margin: 0rem 4.2rem 0rem 16.6rem;
    width: calc(100% - 20.8rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item-0-5qh {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: RixRak-Sans_Pro, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 9.2rem;
      white-space: nowrap;
      text-align: center;
    }
    .group-18-1zF {
      margin-top: 0.4rem;
      width: 3.2rem;
      height: 2.2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
