
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--L2b {
  box-sizing: border-box;
  padding: 2.4rem 2.2rem 0rem 2.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: solid 0.1rem #e9e8f3;
}
.item--L2b .milo--1Pd {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .milo--Kv7 {
  margin-bottom: 3.3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a3a3a3;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .item--pM5 {
  margin: 0rem 0rem 0.9rem 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-rn79-udR {
  margin: 0rem 0.1rem 0.131rem 0.2rem;
  width: calc(100% - 0.3rem);
  height: 7.269rem;
  position: relative;
  flex-shrink: 0;
}
.item--L2b .auto-group-rn79-udR .rectangle-29-mfd {
  width: 34.4rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.item--L2b .auto-group-rn79-udR .rectangle-48-6T1 {
  width: 3.1rem;
  height: 2.9rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: #dae5f6;
  border-radius: 0.5rem;
}
.item--L2b .auto-group-rn79-udR .item--EZD {
  width: 6.8rem;
  height: 1.1rem;
  position: absolute;
  left: 5.1rem;
  top: 2.7rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--L2b .auto-group-rn79-udR .item--TRy {
  width: 4.8rem;
  height: 1.3rem;
  position: absolute;
  left: 5.1rem;
  top: 1.1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--L2b .auto-group-rn79-udR .frame-xdd {
  width: 2.134rem;
  height: 3.769rem;
  position: absolute;
  left: 7.1rem;
  top: 3.5rem;
  overflow: hidden;
}
.item--L2b .auto-group-rn79-udR .group-23-hr7 {
  width: 1.1rem;
  height: 1.6rem;
  position: absolute;
  left: 2rem;
  top: 1.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--L2b .auto-group-odtt-nMm {
  margin: 0rem 20.264rem 0.828rem 0.2rem;
  width: calc(100% - 20.464rem);
  height: 2.472rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--L2b .auto-group-odtt-nMm .item--WYf {
  margin: 0rem 5.7rem 0.072rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-odtt-nMm .frame-21D {
  width: 3.236rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 {
  margin: 0rem 0.1rem 21.4rem 0.2rem;
  box-sizing: border-box;
  padding: 1rem;
  width: calc(100% - 0.3rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-5kg7-VvP {
  margin: 0rem 24rem 1.1rem 0rem;
  width: calc(100% - 24rem);
  height: 2.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-5kg7-VvP .auto-group-6uhu-ENB {
  margin-right: 1rem;
  width: 3.1rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-5kg7-VvP .auto-group-zqom-io9 {
  margin: 0.1rem 0;
  height: calc(100% - 0.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-5kg7-VvP .auto-group-zqom-io9 .item--UGX {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-5kg7-VvP .auto-group-zqom-io9 .item--cNj {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-myhm-huy {
  margin: 0rem 18rem 1.3rem 0rem;
  width: calc(100% - 18rem);
  height: 2.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-myhm-huy .auto-group-tubr-FAo {
  margin-right: 1rem;
  width: 3.1rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-myhm-huy .auto-group-8f6p-y6o {
  margin: 0.1rem 0;
  height: calc(100% - 0.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-myhm-huy .auto-group-8f6p-y6o .item--Vqq {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-myhm-huy .auto-group-8f6p-y6o .item--YJK {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-xzcs-dqZ {
  margin-right: 22.7rem;
  width: calc(100% - 22.7rem);
  height: 2.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-xzcs-dqZ .auto-group-mies-MWf {
  margin-right: 1rem;
  width: 3.1rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-xzcs-dqZ .auto-group-u5bd-uHH {
  margin: 0.1rem 0;
  height: calc(100% - 0.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-xzcs-dqZ .auto-group-u5bd-uHH .item--dyy {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-kufv-B91 .auto-group-xzcs-dqZ .auto-group-u5bd-uHH .qr--n6B {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L2b .auto-group-2enj-ffm {
  margin-bottom: 6.3rem;
  width: 100%;
  height: 4.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00358a;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--L2b .item--NKH {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
