
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--Hce {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;
}
.item--Hce .item-52-QBU {
  width: 2.7884rem;
  height: 2.7884rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--Hce .auto-group-wnin-XWz {
  width: 39rem;
  height: 72.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid 0.1rem #e9e8f3;
  box-sizing: border-box;
}
.item--Hce .auto-group-wnin-XWz .item--cHY {
  width: 7rem;
  height: 1.3rem;
  position: absolute;
  left: 15.95rem;
  top: 69.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .rectangle-4-sjG {
  width: 39rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.item--Hce .auto-group-wnin-XWz .rectangle-5-26N {
  width: 39rem;
  height: 53.9rem;
  position: absolute;
  left: 0;
  top: 10.1rem;
  background-color: #ffffff;
}
.item--Hce .auto-group-wnin-XWz .rectangle-3-ACa {
  width: 39rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
  background-color: #1c9bcb;
}
.item--Hce .auto-group-wnin-XWz .rectangle-6-77p {
  width: 34.8rem;
  height: 6.2rem;
  position: absolute;
  left: 2.1rem;
  top: 12.1rem;
  background-color: #00358a;
  border-radius: 0.8rem 0.8rem 0 0;
}
.item--Hce .auto-group-wnin-XWz .rectangle-24-dM4 {
  width: 34.8rem;
  height: 6.2rem;
  position: absolute;
  left: 2.1rem;
  top: 43.4rem;
  background-color: #009fb8;
  border-radius: 0.8rem 0.8rem 0 0;
}
.item--Hce .auto-group-wnin-XWz .item-39-kga {
  width: 2.653rem;
  height: 3rem;
  position: absolute;
  left: 32.1653rem;
  top: 13.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Hce .auto-group-wnin-XWz .item--4SN {
  width: 17.8rem;
  height: 1.3rem;
  position: absolute;
  left: 6.2rem;
  top: 7.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--5cN {
  width: 9.3rem;
  height: 1.1rem;
  position: absolute;
  left: 6.45rem;
  top: 15.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--iQS {
  width: 9.3rem;
  height: 1.1rem;
  position: absolute;
  left: 4.3rem;
  top: 47rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--kc2 {
  width: 2.9rem;
  height: 1.6rem;
  position: absolute;
  left: 5.15rem;
  top: 13.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--3LE {
  width: 2.9rem;
  height: 1.6rem;
  position: absolute;
  left: 5.15rem;
  top: 44.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .enjoy-your-traveling-2-LaE {
  width: 5.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.1rem;
  top: 1.5rem;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item--Hce .auto-group-wnin-XWz .rectangle-11-E9p {
  width: 34.8rem;
  height: 23.1rem;
  position: absolute;
  left: 2.1rem;
  top: 18.3rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 0 0.8rem 0.8rem;
}
.item--Hce .auto-group-wnin-XWz .rectangle-25-Xei {
  width: 34.8rem;
  height: 23.1rem;
  position: absolute;
  left: 2.1rem;
  top: 49.6rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 0 0.8rem 0.8rem;
}
.item--Hce .auto-group-wnin-XWz .mll-266-krw-QiW {
  width: 5.7rem;
  height: 1.1rem;
  position: absolute;
  left: 5.05rem;
  top: 19.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #707070;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .lzm-64krw-WFk {
  width: 5.1rem;
  height: 1.1rem;
  position: absolute;
  left: 4.3rem;
  top: 51rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #707070;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--pXL {
  width: 2.5rem;
  height: 1.3rem;
  position: absolute;
  left: 29.75rem;
  top: 19.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--KU6 {
  width: 2.5rem;
  height: 1.3rem;
  position: absolute;
  left: 29.75rem;
  top: 50.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .icon-awesome-chevron-right-1-DpN {
  width: 0.5998rem;
  height: 1rem;
  position: absolute;
  left: 34.2rem;
  top: 19.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Hce .auto-group-wnin-XWz .icon-awesome-chevron-right-2-9i2 {
  width: 0.5998rem;
  height: 1rem;
  position: absolute;
  left: 34.2rem;
  top: 51.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Hce .auto-group-wnin-XWz .line-1-HJS {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 22.2rem;
  background-color: #e9e8f3;
}
.item--Hce .auto-group-wnin-XWz .line-3-DSz {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 53.5rem;
  background-color: #e9e8f3;
}
.item--Hce .auto-group-wnin-XWz .line-2-9rS {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 37rem;
  background-color: #e9e8f3;
}
.item--Hce .auto-group-wnin-XWz .item-0-u4v {
  width: 1.6rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 23.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item-0-17x {
  width: 1.6rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 55rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .milo-7wg {
  width: 4.1rem;
  height: 2.3rem;
  position: absolute;
  left: 6.9rem;
  top: 24.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .lzm-2Yr {
  width: 3.3rem;
  height: 2.3rem;
  position: absolute;
  left: 6.9rem;
  top: 56.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .usd-YXC {
  width: 4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 28.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #6f6f6f;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .usd-f62 {
  width: 4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 59.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #6f6f6f;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .rectangle-22-AHg {
  width: 14.7rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 31.7rem;
  background-color: #dedede;
  border-radius: 0.5rem;
}
.item--Hce .auto-group-wnin-XWz .rectangle-26-tjU {
  width: 14.7rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 63rem;
  background-color: #dedede;
  border-radius: 0.5rem;
}
.item--Hce .auto-group-wnin-XWz .rectangle-23-q8v {
  width: 14.6rem;
  height: 3.8rem;
  position: absolute;
  left: 20rem;
  top: 31.7rem;
  background-color: #1d1d1d;
  border-radius: 0.5rem;
}
.item--Hce .auto-group-wnin-XWz .rectangle-27-ZKp {
  width: 14.6rem;
  height: 3.8rem;
  position: absolute;
  left: 20rem;
  top: 63rem;
  background-color: #1d1d1d;
  border-radius: 0.5rem;
}
.item--Hce .auto-group-wnin-XWz .item--gfL {
  width: 7rem;
  height: 1.3rem;
  position: absolute;
  left: 15.95rem;
  top: 38.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem;
  width: 39rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 57.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-cpxe-V6z {
  margin-right: 6.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-cpxe-V6z .tabpointon-S2E {
  margin-bottom: 0.2191rem;
  width: 3.6rem;
  height: 3.5809rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-cpxe-V6z .item--m4W {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-uvea-HHk {
  margin-right: 7.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-uvea-HHk .tabwalleton-d6i {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-uvea-HHk .item--kx2 {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-mq6e-4xi {
  margin-right: 7.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-mq6e-4xi .tabmarketon-28r {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-mq6e-4xi .item--Zea {
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-l6ka-gUJ {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-l6ka-gUJ .tabviewmoreon-eAE {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .group-2-NYA .auto-group-l6ka-gUJ .item--nGS {
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Hce .auto-group-wnin-XWz .item--TdU {
  width: 5.3rem;
  height: 1.6rem;
  position: absolute;
  left: 8.9rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--XNS {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 26.2rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .rectangle-35-CzN {
  width: 39rem;
  height: 64rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5099999905);
}
.item--Hce .auto-group-wnin-XWz .rectangle-36-YoL {
  width: 39rem;
  height: 18.6rem;
  position: absolute;
  left: 0;
  top: 45.4rem;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
}
.item--Hce .auto-group-wnin-XWz .item--Ugz {
  width: 22.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.1rem;
  top: 48.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--Hce .auto-group-wnin-XWz .item--Ugz .item--Ugz-sub-0 {
}
.item--Hce .auto-group-wnin-XWz .item--Ugz .item--Ugz-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--Hce .auto-group-wnin-XWz .item--Ugz .item--Ugz-sub-2 {
}
.item--Hce .auto-group-wnin-XWz .item--gwU {
  width: 23.4rem;
  height: 1.6rem;
  position: absolute;
  left: 2.1rem;
  top: 52.1rem;
  font-size: 1.23rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .rectangle-37-7Wz {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 2.3rem;
  top: 57.8rem;
  background-color: #d6e3f7;
  border-radius: 0.8rem;
}
.item--Hce .auto-group-wnin-XWz .rectangle-38-FNJ {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 19.6rem;
  top: 57.8rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--Hce .auto-group-wnin-XWz .item--aQa {
  width: 6.7rem;
  height: 1.9rem;
  position: absolute;
  left: 7.25rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .auto-group-wnin-XWz .item--56S {
  width: 5.3rem;
  height: 1.9rem;
  position: absolute;
  left: 25.2rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .item--8aW {
  width: 5.3rem;
  height: 1.6rem;
  position: absolute;
  left: 8.9rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Hce .item--D6A {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 26.1rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
