
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--RxE {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--RxE .auto-group-teje-vtz {
  width: 100%;
  height: 64rem;
  position: relative;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .line-3-FRU {
  width: 34.4rem;
  height: 0.1rem;
  position: absolute;
  left: 2.3rem;
  top: 34.4rem;
  background-color: #e9e8f3;
}
.item--RxE .auto-group-teje-vtz .rectangle-47-mei {
  width: 34.7rem;
  height: 4.6rem;
  position: absolute;
  left: 2.1rem;
  top: 57.4rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--RxE .auto-group-teje-vtz .item--Hd4 {
  width: 3.7rem;
  height: 1.9rem;
  position: absolute;
  left: 17.6rem;
  top: 58.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RxE .auto-group-teje-vtz .item--yVt {
  width: 10.3rem;
  height: 1.8rem;
  position: absolute;
  left: 2.1rem;
  top: 6.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RxE .auto-group-teje-vtz .milo--SuG {
  width: 20.6rem;
  height: 1.3rem;
  position: absolute;
  left: 2.1rem;
  top: 8.8rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a3a3a3;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RxE .auto-group-teje-vtz .passport-of-south-korea-iran-north-korea-chian-myanmar-the-us-and-canada-cannot-be-used-for-identification-6iv {
  width: 30.4rem;
  height: 3.8rem;
  position: absolute;
  left: 3.6rem;
  top: 36.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8649999619;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--RxE .auto-group-teje-vtz .icon-awesome-chevron-right-1-xWE {
  width: 0.7998rem;
  height: 1.4rem;
  position: absolute;
  left: 2.1002rem;
  top: 1.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--RxE .auto-group-teje-vtz .group-24-gBL {
  box-sizing: border-box;
  padding: 1.7rem 2rem 1.8rem 1.5rem;
  width: 34.4rem;
  height: 4.8rem;
  position: absolute;
  left: 2.3rem;
  top: 12.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.item--RxE .auto-group-teje-vtz .group-24-gBL .item--AsC {
  margin-right: 24rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-24-gBL .icon-awesome-chevron-right-gKk {
  margin-top: 0.1rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-25-BGW {
  box-sizing: border-box;
  padding: 1rem 2rem 0.9rem 1.4rem;
  width: 34.4rem;
  height: 4.8rem;
  position: absolute;
  left: 2.3rem;
  top: 18.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.item--RxE .auto-group-teje-vtz .group-25-BGW .group-28-TUv {
  margin: 0rem 1.13rem 0.049rem 0rem;
  width: 1.4704rem;
  height: 2.451rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-25-BGW .auto-group-ku86-aJe {
  margin-right: 19rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-25-BGW .auto-group-ku86-aJe .item--XUn {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-25-BGW .auto-group-ku86-aJe .item--pyg {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #959595;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-25-BGW .icon-awesome-chevron-right-8jU {
  margin-bottom: 0.1rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-26-2pr {
  box-sizing: border-box;
  padding: 1rem 2rem 0.9rem 1.4rem;
  width: 34.4rem;
  height: 4.8rem;
  position: absolute;
  left: 2.3rem;
  top: 24.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.item--RxE .auto-group-teje-vtz .group-26-2pr .group-27-8cz {
  margin: 0rem 1.041rem 0.168rem 0rem;
  width: 1.5589rem;
  height: 2.3316rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-26-2pr .auto-group-cp3g-TvA {
  margin-right: 19.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-26-2pr .auto-group-cp3g-TvA .item--Ccr {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-26-2pr .auto-group-cp3g-TvA .item--Jft {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #959595;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .group-26-2pr .icon-awesome-chevron-right-peE {
  margin-bottom: 0.1rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--RxE .auto-group-teje-vtz .frame-vSN {
  width: 4.245rem;
  height: 6.35rem;
  position: absolute;
  left: 11.1rem;
  top: 15.9rem;
  overflow: hidden;
}
.item--RxE .auto-group-teje-vtz .frame-f94 {
  width: 3.809rem;
  height: 6.35rem;
  position: absolute;
  left: 18.1rem;
  top: 13.1rem;
  overflow: hidden;
}
.item--RxE .auto-group-teje-vtz .vector-Pqk {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 2.2rem;
  top: 36.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--RxE .auto-group-teje-vtz .rectangle-35-KzJ {
  width: 39rem;
  height: 64rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5099999905);
}
.item--RxE .auto-group-teje-vtz .rectangle-36-UMQ {
  width: 39rem;
  height: 21.5rem;
  position: absolute;
  left: 0;
  top: 42.5rem;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
}
.item--RxE .auto-group-teje-vtz .item--oea {
  width: 13.6rem;
  height: 5.1rem;
  position: absolute;
  left: 2.1rem;
  top: 45.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--RxE .auto-group-teje-vtz .item--oea .item--oea-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--RxE .auto-group-teje-vtz .item--oea .item--oea-sub-1 {
}
.item--RxE .auto-group-teje-vtz .item--3SS {
  width: 33.3rem;
  height: 1.6rem;
  position: absolute;
  left: 2.1rem;
  top: 51.8rem;
  font-size: 1.23rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RxE .auto-group-teje-vtz .rectangle-37-RC6 {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 2.3rem;
  top: 57.8rem;
  background-color: #d6e3f7;
  border-radius: 0.8rem;
}
.item--RxE .auto-group-teje-vtz .rectangle-38-986 {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 19.6rem;
  top: 57.8rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--RxE .auto-group-teje-vtz .item--s46 {
  width: 6.7rem;
  height: 1.9rem;
  position: absolute;
  left: 7.25rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RxE .auto-group-teje-vtz .item--xLS {
  width: 5.3rem;
  height: 1.9rem;
  position: absolute;
  left: 25.2rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RxE .item-52-3Mt {
  margin: 0rem 0rem 5.812rem 2.1rem;
  width: 2.7884rem;
  height: 2.7884rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--RxE .auto-group-rh8e-kXC {
  box-sizing: border-box;
  padding: 5.8rem 16.05rem 0rem 15.95rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #e9e8f3;
  flex-shrink: 0;
}
