
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--hdc {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.item--hdc .auto-group-vm86-2vn {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.7rem 2.1rem;
  width: 100%;
  height: 5.8rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--hdc .auto-group-vm86-2vn .enjoy-your-traveling-3-MTG {
  margin-right: 28.6rem;
  width: 6.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item--hdc .auto-group-cfz4-2JW {
  box-sizing: border-box;
  padding: 1.8rem 0rem 0.1rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-ywzn-8sL {
  margin: 0rem 2.1rem 41.9rem 2.1rem;
  width: calc(100% - 4.2rem);
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(34, 34, 45, 0.5);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL {
  box-sizing: border-box;
  padding: 1rem 2.1rem 0.8rem 2.1rem;
  width: 100%;
  height: 6.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-p92a-hJA {
  margin-right: 6.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-p92a-hJA .tabpointon-qfG {
  margin-bottom: 0.2191rem;
  width: 3.6rem;
  height: 3.5809rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-p92a-hJA .item--MtW {
  margin-right: 0.9rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-fuq8-gQz {
  margin-right: 7.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-fuq8-gQz .tabwalleton-EBc {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-fuq8-gQz .item--9Ja {
  margin-right: 0.7rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-mrkn-ULr {
  margin-right: 7.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-mrkn-ULr .tabmarketon-chx {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-mrkn-ULr .item--MfY {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-sn9p-5rS {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-sn9p-5rS .tabviewmoreon-dd4 {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hdc .auto-group-cfz4-2JW .auto-group-aqna-ajL .auto-group-sn9p-5rS .item--mjG {
  margin-right: 0.7rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
