
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--5bp {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.item--5bp .auto-group-mkj8-PMc {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1.3rem 18.7rem 2.4rem 2.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--5bp .auto-group-mkj8-PMc .icon-awesome-chevron-right-1-WBL {
  margin: 0.1rem 13.5rem 0rem 0rem;
  width: 0.7998rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--5bp .auto-group-mkj8-PMc .item--R3Q {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML {
  width: 100%;
  height: 57.7rem;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-72mx-G42 {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 2.35rem;
  display: flex;
  align-items: center;
}
.item--5bp .auto-group-spiz-XML .auto-group-72mx-G42 .auto-group-9mzl-b6J {
  margin-right: 22.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-72mx-G42 .auto-group-9mzl-b6J .item-3--8M8 {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-72mx-G42 .auto-group-9mzl-b6J .item-2023-01-13-zeE {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-72mx-G42 .icon-awesome-chevron-right-2-X8N {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-y5es-Sm8 {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 8.25rem;
  display: flex;
  align-items: center;
}
.item--5bp .auto-group-spiz-XML .auto-group-y5es-Sm8 .auto-group-e1dt-Ax2 {
  margin-right: 23.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-y5es-Sm8 .auto-group-e1dt-Ax2 .item-1--XGn {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-y5es-Sm8 .auto-group-e1dt-Ax2 .item-2023-01-10-nyQ {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-y5es-Sm8 .icon-awesome-chevron-right-3-KTY {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-7wge-F6J {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 14.15rem;
  display: flex;
  align-items: center;
}
.item--5bp .auto-group-spiz-XML .auto-group-7wge-F6J .auto-group-rbwg-mKY {
  margin-right: 17.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-7wge-F6J .auto-group-rbwg-mKY .item--vCS {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-7wge-F6J .auto-group-rbwg-mKY .item-2022-12-30-mir {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-7wge-F6J .icon-awesome-chevron-right-4-JTt {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-6wyx-dm4 {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 20.05rem;
  display: flex;
  align-items: center;
}
.item--5bp .auto-group-spiz-XML .auto-group-6wyx-dm4 .auto-group-5f6a-Akz {
  margin-right: 16.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-6wyx-dm4 .auto-group-5f6a-Akz .v220--XLe {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-6wyx-dm4 .auto-group-5f6a-Akz .item-2022-12-19-2HQ {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .auto-group-6wyx-dm4 .icon-awesome-chevron-right-5-xRx {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--5bp .auto-group-spiz-XML .line-1-tKc {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 6.9rem;
  background-color: #e9e8f3;
}
.item--5bp .auto-group-spiz-XML .line-2-oSa {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 12.8rem;
  background-color: #e9e8f3;
}
.item--5bp .auto-group-spiz-XML .line-3-Y9G {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 18.7rem;
  background-color: #e9e8f3;
}
.item--5bp .auto-group-spiz-XML .line-4-UHp {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 24.6rem;
  background-color: #e9e8f3;
}
