
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--iiK {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  background-color: #efefef;
}
.item--iiK .item-52-C7h {
  width: 2.7884rem;
  height: 2.7884rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--iiK .auto-group-gsue-7Ef {
  width: 39rem;
  height: 72.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid 0.1rem #e9e8f3;
  box-sizing: border-box;
}
.item--iiK .auto-group-gsue-7Ef .item--CG7 {
  width: 7rem;
  height: 1.3rem;
  position: absolute;
  left: 15.95rem;
  top: 69.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-4-rrT {
  width: 39rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-5-1DZ {
  width: 39rem;
  height: 53.9rem;
  position: absolute;
  left: 0;
  top: 10.1rem;
  background-color: #ffffff;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-3-MHR {
  width: 39rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
  background-color: #1c9bcb;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-6-gqV {
  width: 34.8rem;
  height: 6.2rem;
  position: absolute;
  left: 2.1rem;
  top: 12.1rem;
  background-color: #00358a;
  border-radius: 0.8rem 0.8rem 0 0;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-24-ntX {
  width: 34.8rem;
  height: 6.2rem;
  position: absolute;
  left: 2.1rem;
  top: 43.4rem;
  background-color: #009fb8;
  border-radius: 0.8rem 0.8rem 0 0;
}
.item--iiK .auto-group-gsue-7Ef .item-39-iGP {
  width: 2.653rem;
  height: 3rem;
  position: absolute;
  left: 32.1653rem;
  top: 13.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iiK .auto-group-gsue-7Ef .item--EEj {
  width: 17.8rem;
  height: 1.3rem;
  position: absolute;
  left: 6.2rem;
  top: 7.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--3xs {
  width: 9.3rem;
  height: 1.1rem;
  position: absolute;
  left: 6.45rem;
  top: 15.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--hGj {
  width: 9.3rem;
  height: 1.1rem;
  position: absolute;
  left: 4.3rem;
  top: 47rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--Yo9 {
  width: 2.9rem;
  height: 1.6rem;
  position: absolute;
  left: 5.15rem;
  top: 13.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--2yD {
  width: 2.9rem;
  height: 1.6rem;
  position: absolute;
  left: 5.15rem;
  top: 44.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-11-KSX {
  width: 34.8rem;
  height: 23.1rem;
  position: absolute;
  left: 2.1rem;
  top: 18.3rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 0 0.8rem 0.8rem;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-25-Dno {
  width: 34.8rem;
  height: 23.1rem;
  position: absolute;
  left: 2.1rem;
  top: 49.6rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 0 0.8rem 0.8rem;
}
.item--iiK .auto-group-gsue-7Ef .mll-266-krw-vx7 {
  width: 5.7rem;
  height: 1.1rem;
  position: absolute;
  left: 5.05rem;
  top: 19.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #707070;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .lzm-64krw-d5q {
  width: 5.1rem;
  height: 1.1rem;
  position: absolute;
  left: 4.3rem;
  top: 51rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #707070;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--8HV {
  width: 2.5rem;
  height: 1.3rem;
  position: absolute;
  left: 29.75rem;
  top: 19.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--1s5 {
  width: 2.5rem;
  height: 1.3rem;
  position: absolute;
  left: 29.75rem;
  top: 50.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .icon-awesome-chevron-right-1-uxT {
  width: 0.5998rem;
  height: 1rem;
  position: absolute;
  left: 34.2rem;
  top: 19.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iiK .auto-group-gsue-7Ef .icon-awesome-chevron-right-2-dtT {
  width: 0.5998rem;
  height: 1rem;
  position: absolute;
  left: 34.2rem;
  top: 51.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iiK .auto-group-gsue-7Ef .line-1-ANb {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 22.2rem;
  background-color: #e9e8f3;
}
.item--iiK .auto-group-gsue-7Ef .line-3-JDu {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 53.5rem;
  background-color: #e9e8f3;
}
.item--iiK .auto-group-gsue-7Ef .line-2-EtF {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 37rem;
  background-color: #e9e8f3;
}
.item--iiK .auto-group-gsue-7Ef .item-0-ZvX {
  width: 1.6rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 23.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item-0-sAX {
  width: 1.6rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 55rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .mlk-mmh {
  width: 3.5rem;
  height: 2.3rem;
  position: absolute;
  left: 6.9rem;
  top: 24.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .lzm-spj {
  width: 3.3rem;
  height: 2.3rem;
  position: absolute;
  left: 6.9rem;
  top: 56.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .usd-Q3y {
  width: 4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 28.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #6f6f6f;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .usd-VbD {
  width: 4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 59.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #6f6f6f;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-22-bu9 {
  width: 14.7rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 31.7rem;
  background-color: #dedede;
  border-radius: 0.5rem;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-26-uew {
  width: 14.7rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 63rem;
  background-color: #dedede;
  border-radius: 0.5rem;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-23-daw {
  width: 14.6rem;
  height: 3.8rem;
  position: absolute;
  left: 20rem;
  top: 31.7rem;
  background-color: #1d1d1d;
  border-radius: 0.5rem;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-27-mBM {
  width: 14.6rem;
  height: 3.8rem;
  position: absolute;
  left: 20rem;
  top: 63rem;
  background-color: #1d1d1d;
  border-radius: 0.5rem;
}
.item--iiK .auto-group-gsue-7Ef .item--Vd9 {
  width: 7rem;
  height: 1.3rem;
  position: absolute;
  left: 15.95rem;
  top: 38.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem;
  width: 39rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 57.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-schg-fg3 {
  margin-right: 6.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-schg-fg3 .tabpointon-p39 {
  margin-bottom: 0.2191rem;
  width: 3.6rem;
  height: 3.5809rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-schg-fg3 .item--wNf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-mjhc-FeF {
  margin-right: 7.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-mjhc-FeF .tabwalleton-17d {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-mjhc-FeF .item--YdM {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-quug-r8F {
  margin-right: 7.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-quug-r8F .tabmarketon-b5q {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-quug-r8F .item--vdu {
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-n2gj-qVy {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-n2gj-qVy .tabviewmoreon-bV9 {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .group-2-Zsu .auto-group-n2gj-qVy .item--LBq {
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--iiK .auto-group-gsue-7Ef .item--obD {
  width: 5.3rem;
  height: 1.6rem;
  position: absolute;
  left: 8.9rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--Gzb {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 26.1rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-35-xsR {
  width: 39rem;
  height: 64rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5099999905);
}
.item--iiK .auto-group-gsue-7Ef .rectangle-36-u1y {
  width: 39rem;
  height: 45.8rem;
  position: absolute;
  left: 0;
  top: 18.2rem;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
}
.item--iiK .auto-group-gsue-7Ef .item--DYT {
  width: 23.1rem;
  height: 5.1rem;
  position: absolute;
  left: 2.1rem;
  top: 21.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--iiK .auto-group-gsue-7Ef .item--DYT .item--DYT-sub-0 {
}
.item--iiK .auto-group-gsue-7Ef .item--DYT .item--DYT-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--iiK .auto-group-gsue-7Ef .item--DYT .item--DYT-sub-2 {
}
.item--iiK .auto-group-gsue-7Ef .item--ntP {
  width: 21.4rem;
  height: 3.1rem;
  position: absolute;
  left: 3.6rem;
  top: 27.7rem;
  font-size: 1.23rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--iiK .auto-group-gsue-7Ef .x45366ca984ca00ec0c0c510c0-24fb90d288a7c3acb-kyd {
  width: 16.2rem;
  height: 3.1rem;
  position: absolute;
  left: 11rem;
  top: 52.1rem;
  text-align: center;
  font-size: 1.23rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--iiK .auto-group-gsue-7Ef .rectangle-37-qVH {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 2.3rem;
  top: 57.8rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--iiK .auto-group-gsue-7Ef .rectangle-38-m83 {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 19.6rem;
  top: 57.8rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--iiK .auto-group-gsue-7Ef .item--HcB {
  width: 3.7rem;
  height: 1.9rem;
  position: absolute;
  left: 8.8rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .item--yju {
  width: 3.7rem;
  height: 1.9rem;
  position: absolute;
  left: 26rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .auto-group-gsue-7Ef .itqr-1-Ugf {
  width: 17.8rem;
  height: 17.8rem;
  position: absolute;
  left: 10.2rem;
  top: 32.7rem;
  object-fit: cover;
  vertical-align: top;
}
.item--iiK .auto-group-gsue-7Ef .vector-Bqy {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 2.2rem;
  top: 28rem;
  object-fit: contain;
  vertical-align: top;
}
.item--iiK .auto-group-gsue-7Ef .wallet-j6o {
  width: 5.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.1rem;
  top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .item--MP5 {
  width: 5.3rem;
  height: 1.6rem;
  position: absolute;
  left: 8.9rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--iiK .item--Rdq {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 26.1rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
