
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--t3L {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.item--t3L .auto-group-oh2s-B2S {
  box-sizing: border-box;
  padding: 1.3rem 2.21rem 2.4rem 2.1rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--t3L .auto-group-oh2s-B2S .icon-awesome-chevron-right-1-tSe {
  margin: 0.1rem 13.5rem 0rem 0rem;
  width: 0.7998rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3L .auto-group-oh2s-B2S .auto-group-wyaa-CCS {
  margin-right: 11.3rem;
  width: 6.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--t3L .auto-group-oh2s-B2S .auto-group-wyaa-CCS .item--LZY {
  width: 3.9rem;
  height: 2.1rem;
  position: absolute;
  left: 1.2rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-oh2s-B2S .auto-group-wyaa-CCS .frame-2hG {
  box-sizing: border-box;
  padding-top: 4.1rem;
  width: 6.3rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  overflow: hidden;
}
.item--t3L .auto-group-oh2s-B2S .auto-group-wyaa-CCS .frame-2hG .rectangle-44-MzS {
  width: 5.4rem;
  height: 3.2rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-oh2s-B2S .group-11-tjU {
  margin-top: 0.0603rem;
  width: 2.7902rem;
  height: 1.9603rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--t3L .auto-group-kpwu-oLe {
  width: 100%;
  height: 58.2rem;
  position: relative;
  flex-shrink: 0;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-5-XGe {
  width: 39rem;
  height: 57.8rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #ffffff;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-39-Tg6 {
  width: 39rem;
  height: 58.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5099999905);
}
.item--t3L .auto-group-kpwu-oLe .rectangle-40-bXQ {
  width: 39rem;
  height: 18.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-41-WuG {
  width: 7.9rem;
  height: 3.2rem;
  position: absolute;
  left: 2.2rem;
  top: 0;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-47-RWS {
  width: 15.7rem;
  height: 3.2rem;
  position: absolute;
  left: 2.2rem;
  top: 4rem;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-48-jX8 {
  width: 15.7rem;
  height: 3.2rem;
  position: absolute;
  left: 21.1rem;
  top: 4rem;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-44-3ni {
  width: 7.9rem;
  height: 3.2rem;
  position: absolute;
  left: 11.1rem;
  top: 0;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-45-AMY {
  width: 7.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20rem;
  top: 0;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-46-smk {
  width: 7.9rem;
  height: 3.2rem;
  position: absolute;
  left: 28.9rem;
  top: 0;
  background-color: #292929;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .rectangle-43-Qmg {
  width: 34.7rem;
  height: 4.6rem;
  position: absolute;
  left: 2.1rem;
  top: 11.1rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--t3L .auto-group-kpwu-oLe .item--8xa {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 18.55rem;
  top: 12.4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item-1-SCa {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 5.05rem;
  top: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item-20220112-Wy8 {
  width: 5.8rem;
  height: 1.6rem;
  position: absolute;
  left: 4.4rem;
  top: 4.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item-20220112-R4W {
  width: 5.8rem;
  height: 1.6rem;
  position: absolute;
  left: 23.4rem;
  top: 4.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item--uEa {
  width: 0.7rem;
  height: 1.6rem;
  position: absolute;
  left: 19.1rem;
  top: 4.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item-3-n3U {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 13.95rem;
  top: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item-6-g8r {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 22.85rem;
  top: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .item-1-xMG {
  width: 1.5rem;
  height: 1.6rem;
  position: absolute;
  left: 32.1rem;
  top: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--t3L .auto-group-kpwu-oLe .group-12-3dc {
  width: 1.9rem;
  height: 1.5756rem;
  position: absolute;
  left: 15.1rem;
  top: 4.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--t3L .auto-group-kpwu-oLe .group-13-NA6 {
  width: 1.9rem;
  height: 1.5756rem;
  position: absolute;
  left: 33.9rem;
  top: 4.8rem;
  object-fit: contain;
  vertical-align: top;
}
