
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--aWK {
  width: 100%;
  height: 186.9rem;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
}
.item--aWK .milo--fXm {
  width: 34.8rem;
  height: 5.1rem;
  position: absolute;
  left: 35.4rem;
  top: 12.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--aWK .rectangle-47-vib {
  width: 120.3rem;
  height: 16rem;
  position: absolute;
  left: 35.4rem;
  top: 203.8rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--aWK .item--fAP {
  width: 17.5rem;
  height: 5.1rem;
  position: absolute;
  left: 36.1rem;
  top: 38.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--aWK .item--KVq {
  width: 17.5rem;
  height: 5.1rem;
  position: absolute;
  left: 36.1rem;
  top: 75.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--aWK .milo--cUw {
  width: 50.2rem;
  height: 3.8rem;
  position: absolute;
  left: 35.4rem;
  top: 22.5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a3a3a3;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--aWK .auto-group-6fps-7Ao {
  box-sizing: border-box;
  padding: 3.5rem 80.3rem 3.8rem 3.5rem;
  width: 119.3rem;
  height: 17.3rem;
  position: absolute;
  left: 36.1rem;
  top: 47.1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.item--aWK .auto-group-6fps-7Ao .auto-group-wjk3-22s {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 2.408rem 3.459rem 2.045rem 3.427rem;
  height: 100%;
  background-color: #dae5f6;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--aWK .auto-group-6fps-7Ao .auto-group-wjk3-22s .group-23-9tB {
  width: 3.8135rem;
  height: 5.547rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--aWK .auto-group-6fps-7Ao .auto-group-xu8j-6Hd {
  margin: 0.3rem 0rem 0.9rem 0rem;
  height: calc(100% - 1.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--aWK .auto-group-6fps-7Ao .auto-group-xu8j-6Hd .item--2h5 {
  margin-bottom: 1.8rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-6fps-7Ao .auto-group-xu8j-6Hd .item--KRH {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 {
  box-sizing: border-box;
  padding: 3.5rem 3.5rem 3.4rem 3.5rem;
  width: 119.3rem;
  height: 45.4rem;
  position: absolute;
  left: 36.1rem;
  top: 84.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-opf1-64f {
  margin: 0rem 84.7rem 3.8rem 0rem;
  width: calc(100% - 84.7rem);
  height: 10rem;
  display: flex;
  align-items: center;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-opf1-64f .auto-group-pz6o-CtP {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 1.71rem 2.86rem 1.797rem 2.734rem;
  height: 100%;
  background-color: #dae5f6;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-opf1-64f .auto-group-pz6o-CtP .group-22-vpP {
  width: 5.1058rem;
  height: 6.4925rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-opf1-64f .auto-group-ax3d-3u1 {
  margin: 0.3rem 0rem 0.9rem 0rem;
  height: calc(100% - 1.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-opf1-64f .auto-group-ax3d-3u1 .item--wzP {
  margin-bottom: 1.8rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-opf1-64f .auto-group-ax3d-3u1 .item--HHZ {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-crpu-c4w {
  margin: 0rem 65.9rem 4.5rem 0rem;
  width: calc(100% - 65.9rem);
  height: 10.1rem;
  display: flex;
  align-items: center;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-crpu-c4w .auto-group-pzfd-YUP {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 2.125rem 2.606rem 2.269rem 2.387rem;
  height: 100%;
  background-color: #dae5f6;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-crpu-c4w .auto-group-pzfd-YUP .group-4xX {
  width: 5.7065rem;
  height: 5.7064rem;
  object-fit: contain;
  vertical-align: top;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-crpu-c4w .auto-group-cip1-PV1 {
  margin: 0.4rem 0rem 1rem 0rem;
  height: calc(100% - 1.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-crpu-c4w .auto-group-cip1-PV1 .item--WpX {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-crpu-c4w .auto-group-cip1-PV1 .item--3ZZ {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-prod-wew {
  margin-right: 80.7rem;
  width: calc(100% - 80.7rem);
  height: 10.1rem;
  display: flex;
  align-items: center;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-prod-wew .auto-group-aaak-gcX {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 2.779rem 2.638rem 2.987rem 2.387rem;
  height: 100%;
  background-color: #dae5f6;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-prod-wew .auto-group-aaak-gcX .group-20-bUb {
  width: 5.6752rem;
  height: 4.334rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-prod-wew .auto-group-gwwf-Lh5 {
  margin: 0.4rem 0rem 1rem 0rem;
  height: calc(100% - 1.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-prod-wew .auto-group-gwwf-Lh5 .item--qtj {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-vavm-CV5 .auto-group-prod-wew .auto-group-gwwf-Lh5 .qr--n3H {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #929292;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--aWK .auto-group-ztkr-5HH {
  width: 121.2rem;
  height: 11.4rem;
  position: absolute;
  left: 35.4rem;
  top: 158.9rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00358a;
  border-radius: 0.8rem;
}
