
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--WRQ {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.item--WRQ .auto-group-qz4n-cjL {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1.3rem 2.21rem 2.4rem 2.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--WRQ .auto-group-qz4n-cjL .icon-awesome-chevron-right-1-XLW {
  margin: 0.1rem 13.15rem 0rem 0rem;
  width: 0.7998rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--WRQ .auto-group-qz4n-cjL .item--duL {
  margin-right: 10.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-qz4n-cjL .group-11-v7k {
  margin-top: 0.0603rem;
  width: 2.7902rem;
  height: 1.9603rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.6rem 2.2rem;
  width: 100%;
  height: 14.4rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  background-color: #eaf4ff;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-pnwn-6RY {
  margin-top: 0.1rem;
  width: 7.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-pnwn-6RY .auto-group-n5ez-2KC {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00358a;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-pnwn-6RY .auto-group-i2g2-J1p {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-pnwn-6RY .auto-group-vbue-YRx {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-vty8-pPU {
  width: 7.9rem;
  height: 100%;
  row-gap: 0.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-vty8-pPU .auto-group-9oaj-wiz {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-vty8-pPU .auto-group-xxi6-DgW {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-vty8-pPU .auto-group-5l4s-5ii {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-ve58-xXc {
  width: 7.9rem;
  height: 100%;
  row-gap: 0.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-ve58-xXc .auto-group-em9k-J5g {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-ve58-xXc .auto-group-ux8v-aJ6 {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-ve58-xXc .auto-group-8gnw-eHx {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-m146-ioc {
  margin-bottom: 4.1rem;
  width: 7.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-m146-ioc .auto-group-dls4-4ca {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-6qce-zdQ .auto-group-m146-ioc .auto-group-j7n2-jii {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #676767;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz {
  width: 100%;
  height: 43.3rem;
  position: relative;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-syye-8Vx {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 3.85rem;
  display: flex;
  align-items: center;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-syye-8Vx .auto-group-qhdk-TYE {
  margin-right: 22.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-syye-8Vx .auto-group-qhdk-TYE .item-3--D1c {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-syye-8Vx .auto-group-qhdk-TYE .item-2023-01-13-Ldx {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-syye-8Vx .icon-awesome-chevron-right-2-TTg {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-t218-zCi {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 9.75rem;
  display: flex;
  align-items: center;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-t218-zCi .auto-group-oyvg-i8i {
  margin-right: 23.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-t218-zCi .auto-group-oyvg-i8i .item-1--rki {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-t218-zCi .auto-group-oyvg-i8i .item-2023-01-10-9jp {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-t218-zCi .icon-awesome-chevron-right-3-5dU {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-3sxy-1n2 {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 15.65rem;
  display: flex;
  align-items: center;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-3sxy-1n2 .auto-group-wcpi-YGA {
  margin-right: 17.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-3sxy-1n2 .auto-group-wcpi-YGA .item--HjY {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-3sxy-1n2 .auto-group-wcpi-YGA .item-2022-12-30-A2e {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-3sxy-1n2 .icon-awesome-chevron-right-4-gmg {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-yxc6-Qhg {
  width: 34.7998rem;
  height: 3.25rem;
  position: absolute;
  left: 2.1rem;
  top: 21.55rem;
  display: flex;
  align-items: center;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-yxc6-Qhg .auto-group-eu1y-9QN {
  margin-right: 16.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-yxc6-Qhg .auto-group-eu1y-9QN .v220--6qQ {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-yxc6-Qhg .auto-group-eu1y-9QN .item-2022-12-19-CNe {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #9a9a9a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-yxc6-Qhg .icon-awesome-chevron-right-5-jdU {
  margin-top: 0.45rem;
  width: 0.5998rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .line-1-GdQ {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 8.4rem;
  background-color: #e9e8f3;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .line-5-bva {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 2.3rem;
  background-color: #e9e8f3;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .line-2-k2n {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 14.3rem;
  background-color: #e9e8f3;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .line-3-5qk {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 20.2rem;
  background-color: #e9e8f3;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .line-4-RPp {
  width: 34.8rem;
  height: 0.1rem;
  position: absolute;
  left: 2.1rem;
  top: 26.1rem;
  background-color: #e9e8f3;
}
.item--WRQ .auto-group-esjg-3CN .auto-group-yhez-ngz .auto-group-kqqz-MYN {
  width: 34.7rem;
  height: 4.6rem;
  position: absolute;
  left: 2.1rem;
  top: 36.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00358a;
  border-radius: 0.8rem;
}
