
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--Zf5 {
  width: 100%;
  height: 64.1rem;
  position: relative;
  overflow: hidden;
  border-bottom: solid 0.1rem #e9e8f3;
  box-sizing: border-box;
  background-color: #efefef;
}
.item--Zf5 .item--zVV {
  width: 7rem;
  height: 1.3rem;
  position: absolute;
  left: 15.95rem;
  top: 69.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .rectangle-4-DNF {
  width: 39rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.item--Zf5 .rectangle-5-ZS7 {
  width: 39rem;
  height: 53.9rem;
  position: absolute;
  left: 0;
  top: 10.1rem;
  background-color: #ffffff;
}
.item--Zf5 .rectangle-3-7Td {
  width: 39rem;
  height: 3.3rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
  background-color: #1c9bcb;
}
.item--Zf5 .rectangle-6-FJw {
  width: 34.8rem;
  height: 6.2rem;
  position: absolute;
  left: 2.1rem;
  top: 12.1rem;
  background-color: #00358a;
  border-radius: 0.8rem 0.8rem 0 0;
}
.item--Zf5 .rectangle-24-m2P {
  width: 34.8rem;
  height: 6.2rem;
  position: absolute;
  left: 2.1rem;
  top: 43.4rem;
  background-color: #009fb8;
  border-radius: 0.8rem 0.8rem 0 0;
}
.item--Zf5 .item-39-sbD {
  width: 2.653rem;
  height: 3rem;
  position: absolute;
  left: 32.1653rem;
  top: 13.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Zf5 .item--YhM {
  width: 17.8rem;
  height: 1.3rem;
  position: absolute;
  left: 6.2rem;
  top: 7.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--vhu {
  width: 9.3rem;
  height: 1.1rem;
  position: absolute;
  left: 6.45rem;
  top: 15.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--Lmd {
  width: 9.3rem;
  height: 1.1rem;
  position: absolute;
  left: 4.3rem;
  top: 47rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--NiK {
  width: 2.9rem;
  height: 1.6rem;
  position: absolute;
  left: 5.15rem;
  top: 13.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--gU7 {
  width: 2.9rem;
  height: 1.6rem;
  position: absolute;
  left: 5.15rem;
  top: 44.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .enjoy-your-traveling-2-B9y {
  width: 5.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.1rem;
  top: 1.5rem;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item--Zf5 .rectangle-11-Ffd {
  width: 34.8rem;
  height: 23.1rem;
  position: absolute;
  left: 2.1rem;
  top: 18.3rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 0 0.8rem 0.8rem;
}
.item--Zf5 .rectangle-25-jqh {
  width: 34.8rem;
  height: 23.1rem;
  position: absolute;
  left: 2.1rem;
  top: 49.6rem;
  border: solid 0.1rem #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 0 0.8rem 0.8rem;
}
.item--Zf5 .mll-266-krw-GKq {
  width: 5.7rem;
  height: 1.1rem;
  position: absolute;
  left: 5.05rem;
  top: 19.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #707070;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .lzm-64krw-Yo9 {
  width: 5.1rem;
  height: 1.1rem;
  position: absolute;
  left: 4.3rem;
  top: 51rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #707070;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--Gj9 {
  width: 2.5rem;
  height: 1.3rem;
  position: absolute;
  left: 29.75rem;
  top: 19.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--N1V {
  width: 2.5rem;
  height: 1.3rem;
  position: absolute;
  left: 29.75rem;
  top: 50.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .icon-awesome-chevron-right-1-eUo {
  width: 0.5998rem;
  height: 1rem;
  position: absolute;
  left: 34.2rem;
  top: 19.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Zf5 .icon-awesome-chevron-right-2-PBV {
  width: 0.5998rem;
  height: 1rem;
  position: absolute;
  left: 34.2rem;
  top: 51.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Zf5 .line-1-W1D {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 22.2rem;
  background-color: #e9e8f3;
}
.item--Zf5 .line-3-d5q {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 53.5rem;
  background-color: #e9e8f3;
}
.item--Zf5 .line-2-NZD {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 4.2rem;
  top: 37rem;
  background-color: #e9e8f3;
}
.item--Zf5 .item-0-j8s {
  width: 1.6rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 23.7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item-0-qxb {
  width: 1.6rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 55rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .milo-Azs {
  width: 4.1rem;
  height: 2.3rem;
  position: absolute;
  left: 6.9rem;
  top: 24.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .lzm-5rw {
  width: 3.3rem;
  height: 2.3rem;
  position: absolute;
  left: 6.9rem;
  top: 56.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .usd-YVd {
  width: 4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 28.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #6f6f6f;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .usd-UPH {
  width: 4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 59.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #6f6f6f;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .rectangle-22-cVV {
  width: 14.7rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 31.7rem;
  background-color: #dedede;
  border-radius: 0.5rem;
}
.item--Zf5 .rectangle-26-A1D {
  width: 14.7rem;
  height: 3.8rem;
  position: absolute;
  left: 4.2rem;
  top: 63rem;
  background-color: #dedede;
  border-radius: 0.5rem;
}
.item--Zf5 .rectangle-23-gkF {
  width: 14.6rem;
  height: 3.8rem;
  position: absolute;
  left: 20rem;
  top: 31.7rem;
  background-color: #1d1d1d;
  border-radius: 0.5rem;
}
.item--Zf5 .rectangle-27-Pef {
  width: 14.6rem;
  height: 3.8rem;
  position: absolute;
  left: 20rem;
  top: 63rem;
  background-color: #1d1d1d;
  border-radius: 0.5rem;
}
.item--Zf5 .item--jCj {
  width: 7rem;
  height: 1.3rem;
  position: absolute;
  left: 15.95rem;
  top: 38.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .group-2-QZm {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem;
  width: 39rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 57.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.item--Zf5 .group-2-QZm .auto-group-mmvz-Wsh {
  margin-right: 6.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-mmvz-Wsh .tabpointon-U3q {
  margin-bottom: 0.2191rem;
  width: 3.6rem;
  height: 3.5809rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-mmvz-Wsh .item--cQw {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-yuum-uew {
  margin-right: 7.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-yuum-uew .tabwalleton-4Xq {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-yuum-uew .item--CP9 {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-62ab-8Go {
  margin-right: 7.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-62ab-8Go .tabmarketon-5xj {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-62ab-8Go .item--qh1 {
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-dzrr-XZq {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-dzrr-XZq .tabviewmoreon-4pf {
  margin-bottom: 0.2rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Zf5 .group-2-QZm .auto-group-dzrr-XZq .item--yAw {
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Zf5 .item--rkX {
  width: 5.3rem;
  height: 1.6rem;
  position: absolute;
  left: 8.9rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--xHm {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 26.2rem;
  top: 32.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .rectangle-35-sQj {
  width: 39rem;
  height: 64rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5099999905);
}
.item--Zf5 .rectangle-36-mFD {
  width: 39rem;
  height: 18.6rem;
  position: absolute;
  left: 0;
  top: 45.4rem;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
}
.item--Zf5 .item--62b {
  width: 22.6rem;
  height: 2.6rem;
  position: absolute;
  left: 2.1rem;
  top: 48.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--Zf5 .item--62b .item--62b-sub-0 {
}
.item--Zf5 .item--62b .item--62b-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #00358a;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
}
.item--Zf5 .item--62b .item--62b-sub-2 {
}
.item--Zf5 .item--pWK {
  width: 23.4rem;
  height: 1.6rem;
  position: absolute;
  left: 2.1rem;
  top: 52.1rem;
  font-size: 1.23rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .rectangle-37-ch5 {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 2.3rem;
  top: 57.8rem;
  background-color: #d6e3f7;
  border-radius: 0.8rem;
}
.item--Zf5 .rectangle-38-8vK {
  width: 16.5rem;
  height: 4.6rem;
  position: absolute;
  left: 19.6rem;
  top: 57.8rem;
  background-color: #00358a;
  border-radius: 0.8rem;
}
.item--Zf5 .item--HHR {
  width: 6.7rem;
  height: 1.9rem;
  position: absolute;
  left: 7.25rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--miP {
  width: 5.3rem;
  height: 1.9rem;
  position: absolute;
  left: 25.2rem;
  top: 59.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--2eK {
  width: 5.3rem;
  height: 1.6rem;
  position: absolute;
  left: 8.9rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Zf5 .item--8hM {
  width: 2.2rem;
  height: 1.6rem;
  position: absolute;
  left: 26.1rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
}
