
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.otp-R5y {
  box-sizing: border-box;
  padding: 23rem 48.2rem 24.6rem 48.2rem;
  width: 100%;
  height: 186.9rem;
  overflow: hidden;
  position: relative;
  background-color: #00358a;
}
.otp-R5y .group-36-Lij {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.otp-R5y .group-36-Lij .pin--6hu {
  margin-bottom: 14.2rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB .ellipse-4-7d1 {
  margin-right: 9.8rem;
  width: 7.8rem;
  height: 7.8rem;
  background-color: #002766;
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB .ellipse-5-FjD {
  margin-right: 9.7rem;
  width: 7.8rem;
  height: 7.8rem;
  background-color: #002766;
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB .ellipse-6-amV {
  margin-right: 9.8rem;
  width: 7.8rem;
  height: 7.8rem;
  background-color: #002766;
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB .ellipse-7-V7m {
  margin-right: 9.7rem;
  width: 7.8rem;
  height: 7.8rem;
  background-color: #002766;
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB .ellipse-8-DJf {
  margin-right: 9.8rem;
  width: 7.8rem;
  height: 7.8rem;
  background-color: #002766;
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-adrz-aNB .ellipse-9-9TD {
  width: 7.8rem;
  height: 7.8rem;
  background-color: #002766;
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D {
  box-sizing: border-box;
  padding: 13.5rem 11rem 0rem 12.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .group-35-cLo {
  margin: 0rem 6.6rem 15.2rem 5.1rem;
  width: calc(100% - 11.7rem);
  height: 11.5rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #244d8f;
  border-radius: 20rem;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-iu8b-615 {
  margin: 0rem 2rem 10.1rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-iu8b-615 .item-1-2QX {
  margin-right: 28.7rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-iu8b-615 .item-2-ZfM {
  margin-right: 28.6rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-iu8b-615 .item-3-HLT {
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-srmr-dfD {
  margin: 0rem 2rem 10.2rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-srmr-dfD .item-4-yyy {
  margin-right: 28.7rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-srmr-dfD .item-5-iRm {
  margin-right: 28.6rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-srmr-dfD .item-6-GCP {
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-8mf5-1Qs {
  margin: 0rem 2rem 10.1rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-8mf5-1Qs .item-7-Jum {
  margin-right: 28.7rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-8mf5-1Qs .item-8-CET {
  margin-right: 28.6rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-8mf5-1Qs .item-9-k15 {
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-ehex-5JF {
  margin-left: 33rem;
  width: calc(100% - 33rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-ehex-5JF .item-0-ok3 {
  margin-right: 25.6rem;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-R5y .group-36-Lij .auto-group-gcru-J5D .auto-group-ehex-5JF .group-18-KyH {
  margin-bottom: 0.5063rem;
  width: 9.3rem;
  height: 6.3938rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
