
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.otp--bGb {
  box-sizing: border-box;
  padding: 12.9rem 6.3rem 5rem 6.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #00358a;
}
.otp--bGb .pin--GtX {
  margin: 0rem 0.6rem 5.3rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 {
  margin: 0rem 3.4rem 11.7rem 2.9rem;
  width: calc(100% - 6.3rem);
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 .ellipse-4-r63 {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #002766;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 .ellipse-5-b3d {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #002766;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 .ellipse-6-KEX {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #002766;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 .ellipse-7-fpB {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #002766;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 .ellipse-8-RYT {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #002766;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.otp--bGb .auto-group-qcab-8A3 .ellipse-9-9zF {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #002766;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.otp--bGb .auto-group-khax-tB9 {
  margin: 0rem 0.5rem 3.5rem 0rem;
  display: flex;
  column-gap: 10.3rem;
  align-items: center;
  flex-shrink: 0;
}
.otp--bGb .auto-group-khax-tB9 .item-1-kj9 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-khax-tB9 .item-2-heP {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-khax-tB9 .item-3-S6B {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-mbwu-mu9 {
  margin: 0rem 0.5rem 3.5rem 0rem;
  display: flex;
  column-gap: 10.3rem;
  align-items: center;
  flex-shrink: 0;
}
.otp--bGb .auto-group-mbwu-mu9 .item-4-KQs {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-mbwu-mu9 .item-5-3rf {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-mbwu-mu9 .item-6-Pfd {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-rx4s-kFH {
  margin: 0rem 0.5rem 3.5rem 0rem;
  display: flex;
  column-gap: 10.3rem;
  align-items: center;
  flex-shrink: 0;
}
.otp--bGb .auto-group-rx4s-kFH .item-7-VTm {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-rx4s-kFH .item-8-pW3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-rx4s-kFH .item-9-AK1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-7sxx-7V9 {
  margin-left: 11.9rem;
  width: calc(100% - 11.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.otp--bGb .auto-group-7sxx-7V9 .item-0-sDR {
  margin-right: 9.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: RixRak-Sans_Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp--bGb .auto-group-7sxx-7V9 .group-18-1aX {
  margin-top: 0.4rem;
  width: 3.2rem;
  height: 2.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
